[2022-06-14 05:09] #321 closed

[2022-06-14 05:17] #330 closed

[2022-06-14 05:21] freedomtan commented on #353
Since performance doesn't change between debug and release modes, we don't really need this. Close this for now.

[2022-06-14 05:21] #353 closed

[2022-06-14 05:29] freedomtan commented on #347
@jwookiehong we should consider to have each vendor (or say vendor backend) to send a device (or devices) to @d-uzlov or @anhappdev to set up CI.

Or, @anhappdev suggests, we can ask each vendor support at least one device that is in the Firebase supported device list. Then we can do functional test at least.

[2022-06-14 05:33] freedomtan commented on #121
Currently, it's limited to 25 hrs/month. But we cannot purchase more hours now. It's will be available later this summer.

[2022-06-14 05:37] freedomtan commented on #347
@d-uzlov will post the supported device list from firebase.

[2022-06-14 05:59] anhappdev commented on #347
Another suggestion is to use another testing service if they have the desired device.
A quick search gives me this:
https://aws.amazon.com/device-farm/device-list/
https://saucelabs.com/platform/supported-browsers-devices

[2022-06-14 05:59] d-uzlov commented on #347
Here is full list of devices supported by firebase:

<details>

[code]

</details>

Obtained via `gcloud firebase test android models list --filter=physical`.

[2022-06-14 06:38] freedomtan commented on #347
It seems most of them are Google devices (no surprise). And few of them are recent devices (see the `OS_VERSION_IDS` column, which is supposed to be [Android API level](https://developer.android.com/studio/releases/platforms))

[2022-06-14 13:16] anhappdev commented on #354
The app already throws an exception and the UI can display the stack trace but not very clear. We can add a custom exception message to let the user knows that the task file caused the crash.

We had the crash in this case because the app used a **cached** version of the task file. It will be difficult for the CI to catch this case because we don't know which **cached** version the user has. I am

[2022-06-15 02:25] anhappdev commented on #322
My comment to the [proposed structure from 2022-06-15](https://github.com/mlcommons/mobile_app_open/issues/322#issuecomment-1148030958):

<details>
<summary>Proposed structure example</summary>

Tasks file:

[code]

Backend config:

[code]
</details>

1. The proposed structure assumes a task can only use one model. Is it desired? I can image using one model optimized for performance mode and anoth

[2022-06-15 02:57] anhappdev commented on #348
Instead of showing the progress in percent, we can show the progress in step, e.g.
`2/5 benchmarks completed`.
This way the users don't expect the progress number changes more often like the case with percent number. And it takes much less effort to implement.

[2022-06-15 06:40] freedomtan commented on #360
Core ML delegate status check.
1. coremltools updated to 5.2 in April, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace2.bzl#L856-L862
2. coreml delegate only supports Core ML v2 and v3 (Core ML spec v3 and v4), https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/coreml/coreml_delegate.mm#L163, https://github.com/tensorflow/tensorflow/blob/master

[2022-06-15 06:41] freedomtan commented on #360
@jwookiehong FYI.

[2022-06-15 06:50] freedomtan commented on #291
@kcwu Could you elaborate more on issues you met when building flutter version? I could build and run it on my Pixel 6

[code]

[2022-06-15 14:24] kcwu opened #368 "Building flutter apk failed with gradle errors"
I want to build flutter apk with master branch. However it failed.

I can run this command `make WITH_PIXEL=1` without issues.

When I run `make WITH_PIXEL=1 docker/flutter/android/apk`, it failed with following messages

[code]

[2022-06-15 16:47] mkankana commented on #348
What if user selects only 1 benchmark to run ? In this case there is no user feedback till the workload is completed. For workloads like MobileBert ( which take longer run time) , users can get a feeling of application being stuck.

[2022-06-15 23:11] d-uzlov commented on #368
I wasn't able replicate this.
The command also failed for me but for a completely different reason. I don't see any issues related to gradle.

Could you try removing docker volume named `mlperf-mobile-flutter-cache-workdir-<uid>` to clear cache?

[2022-06-16 02:20] freedomtan commented on #360
|benchmark|Core ML (ms) |Core ML delegate (ms, the flutter app)| Notes |
|--|--:|---:|--|
|MobileNet EdgeTPU|  0.93 | 1.61 |
|MobileDet|  3.64 |  3.44 | post-process on Neural Engine is not faster! |
|DeepLabV3+|  10.53 | 32.71 | fallbacks|
|MobileBERT| 8.33 | 100.60 |  CoreML delegate actually uses GPU |

[2022-06-16 02:22] NullCarrier opened #369 "Implementing a new backend for benchmark"
Hi，I am trying to implement a new backend for RK (Rockchip) based on rk3588. I have a few questions about testing this benchmark via the command line tool (the main binary file).

1. For testing accuracy by imageNet dataset for mobile_edge_tpu, I can't find the mean and std for this model anywhere in this repo and other repo as well. Can anyone tell me what should be the mean and std for this mode

[2022-06-16 03:51] anhappdev commented on #368
I can build the app with command `make WITH_PIXEL=1 docker/flutter/android/apk` successfully using the latest commit on `master` branch (`5c3c81dc`) on an Ubuntu VM.

@kcwu Can you provide some info about your build environment?

[2022-06-16 08:15] freedomtan commented on #369
Great to hear that.

For mean and std, I assume you mean values used in normalization of inputs. For MobileNet EdgeTPU, or to be more precise, for ImageNet, the normalization is done at https://github.com/mlcommons/mobile_app_open/blob/master/flutter/cpp/datasets/imagenet.cc#L85
[code]
which in turn is TFLite's [tflite::evaluation::ImagePreprocessingStage::AddDefaultNormalizationStep()]( https://g

[2022-06-20 03:18] ptt2panda commented on #368
The issue is fixed w/ the latest PR #371 and #370, I think we can close this. Thanks!

[2022-06-20 03:24] #368 closed

[2022-06-20 04:11] d-uzlov opened #373 "Update Flutter static analysis rules"
We use a deprecated package for Dart code linter:
https://pub.dev/packages/pedantic

https://github.com/mlcommons/mobile_app_open/blob/a3e3db659ac10110f58751689f1a96e3416c85d1/flutter/analysis_options.yaml#L1

We should upgrade to `flutter_lints` linter rules as suggested by the deprecation notice on the `pedantic` package page.

[2022-06-20 04:15] d-uzlov opened #374 "Update website design"
Initially we created a temporary design for the website, just to make it clear that website works.
Now we have a new design mockups (link is in the website proposal document), so we should update the website.

[2022-06-20 11:31] mohitmundhragithub opened #376 "flutter app remains stuck at 0% on rerunning after a failed case"
Steps to reproduce:
1) Make sure any one of the model fails to run and results in crash (app closes).
2) Run the suite by clicking on "go".
3) Once the app crashes, open the app again to find that it remains stuck at 0%.

From the logs, seeing below error message of Md5 Checksum failure, although it runs fine the first time.

![image](https://user-images.githubusercontent.com/1549325/174592683-731

[2022-06-20 12:41] mohitmundhragithub opened #377 "If the device is a QTI unsupported device, then the app crashes."
[logs.txt](https://github.com/mlcommons/mobile_app_open/files/8940667/logs.txt)

Attached the last few lines of the logs. The last line from the application is

05-21 20:09:34.446  6834  6861 E native  : cpp/flutter/dart_backend_match.cc:38 Device is recognized but not supported: Unsupported QTI SoC

After this line, it was supposed to show error message, but crashes instead.

[2022-06-21 03:20] freedomtan commented on #324
Currently, the `libtensorflowlite_neuron_jni.so` from `tensorflow-lite-neuron.aar`  as stated in https://github.com/mlcommons/mobile_app_open/blob/master/mobile_back_tflite/cpp/backend_tflite/neuron/README.md.

I'll update MediaTek's Neuron Delegate repo by the end of June so that we can use the `.so` built from Neuron Delegate source code.

[2022-06-21 03:25] d-uzlov commented on #376
How do you do that?

App being stuck on 0% if checksum validation failed is a known issue (though, it's not well documented):
* https://github.com/mlcommons/mobile_app_open/issues/307

However, I don't see why files would change on app crash. Especially several model files at once.
App launches benchmarks one at a time.
If you run 6 benchmarks, and the last one crashed, it means the first 5 have f

[2022-06-21 04:12] AhmedTElthakeb opened #379 "flutter app crashes with sdk 31"
[s22p_sdk31_crash.log](https://github.com/mlcommons/mobile_app_open/files/8945690/s22p_sdk31_crash.log)

Building the app with Samsung backend with the updated sdk31, the app crashes running any benchmark. Logcat file is attached.

[2022-06-21 04:51] AhmedTElthakeb commented on #291
This has been verified for Samsung backend up till commit 9bfd2e9.
https://github.com/mlcommons/mobile_app_open/commit/9bfd2e9cada2434ae77e289d631d0e626d3609b7

[2022-06-21 04:57] kcwu commented on #291
The flutter version works on google device.

[2022-06-21 05:10] #294 closed

[2022-06-21 05:41] freedomtan commented on #379
@freedomtan to add runtime ld debug android prop information here.

[2022-06-21 05:47] mohitmundhragithub opened #380 "Need a way to copy the log files because need to submit those for 2.1 submission"
Currently /data/user/0/org.mlcommons.android.mlperfbench/cache directory doesn't save log files for all the test cases. We need these file for all the test cases for 2.1 submission.

[2022-06-21 05:54] freedomtan commented on #369
@TheKanter You might be interested knowing this that Rockchip is interested in adding a new backend.

[2022-06-21 06:14] anhappdev opened #381 "Include task file as an asset in the app"
Problem:
At first start, the app downloads and caches the task file. The app can only understand a certain schema of the task file. A crash can occur if:
1. The app is updated to use a new schema but still read the **cached** task file
2. The task file is updated, but the app is not updated.

It's not possible to catch the first case with CI, since we don't know which cached version the users have

[2022-06-21 06:23] freedomtan commented on #379
According to the [Android linker changes for NDK developers](
https://android.googlesource.com/platform/bionic/+/master/android-changes-for-ndk-developers.md#enable-logging-of-dlopen_dlsym-and-library-loading-errors-for-apps-available-in-android-o), we can do something like
[code]
Then all the dlopen() and dlerror() calls will be logged and we can get them from `logcat`.

[2022-06-21 08:51] d-uzlov commented on #381
Related (actually the exact same task):
* https://github.com/mlcommons/mobile_app_open/issues/362

[2022-06-21 08:53] #362 closed

[2022-06-22 09:27] d-uzlov opened #383 "Add UI to edit task config list"
Currently the app can switch between several task config files in settings but the list must be created by manually editing a `json` file in application directory.

We should create UI controls to add/remove custom configs without manually editing files.

[2022-06-22 10:14] d-uzlov opened #384 "Add "Delete" button to local history UI"
Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/320

[2022-06-22 17:12] mkankana commented on #384
@d-uzlov @freedomtan could you please add 2.1 label if you think this will be included in 2.1 submissions .

[2022-06-23 03:58] d-uzlov opened #385 "Change application directory on Windows"
Currently on windows we use `Downloads` directory for everything.

https://github.com/mlcommons/mobile_app_open/blob/76b6ce4d207d1b9079ee729a51312afe372189a9/flutter/lib/resources/resource_manager.dart#L123-L124

We should use a proper application-specific directory.

[2022-06-23 06:29] mohitmundhragithub commented on #291
The changes works for qualcomm as well.

[2022-06-23 09:28] d-uzlov opened #388 "Update version meta-info in Windows builds"
Flutter doesn't support automatically setting version for Windows platform to the value from pubspec file.
Version of executable is hardcoded in `Runner.rc` file:
https://github.com/mlcommons/mobile_app_open/blob/76b6ce4d207d1b9079ee729a51312afe372189a9/flutter/windows/runner/Runner.rc#L72

We should update this value (preferably automatically).

[2022-06-23 10:47] mohitmundhragithub commented on #376
I think i was able to find the issue at our end. It seems to be not related to the flutter app. I will withdraw this.
But some visual error for the issue will be great. But, closing it for now.

[2022-06-23 10:47] #376 closed

[2022-06-23 11:32] mohitmundhragithub opened #389 "Current md5 checksum doesn't match with QTI workflow"
Found an issue that on re-running the flutter app with qti backend md5 checksum fails at the start for the models.
The reason for this is QTI backend updates the DLC with accelerator cache, which helps in faster initialisation in subsequent runs.

We will need to fix this behaviour in the app. May be the app can do md5 check only when downloading the models for the very first time from github, rat

[2022-06-23 13:52] mohitmundhragithub opened #390 "Make cooldown 5 min by default"
Currently the flutter app's cooldown period is set to off. But, for testing, we generally keep the cooldown to 5 mins for submission runs. May be we should keep the default value to 5mins?

[2022-06-23 14:07] mohitmundhragithub opened #391 "Remove Image Segmentation V0.7 (DeepLab V3)"
As per the original plan, we were going to retire deeplab V3 in V2.1.

[2022-06-24 01:10] freedomtan commented on #391
Yes, Let do it and prepare for code freeze.

[2022-06-24 01:29] freedomtan commented on #360
@anhappdev could you try to revive the Core ML backend work in a separate branch. Originally, I thought we won't be able to make it in Sep, so let's start this after 2.1 submission. During the work group meeting Wookie and others think, given good Core ML numbers, we should strive to have a Core ML backend as early as possible.

[2022-06-24 01:46] d-uzlov opened #392 "Bazel is not able to build the app on CI due to GitHub availability issues"
All builds starting from ~20 hours ago fail with the same error:

[code]

There is an issue about this in tensorflow repo:
* https://github.com/tensorflow/tensorflow/issues/56540

It seems like github refuses to provide this exact archive while the rest of the llvm-project repository works fine.

[2022-06-24 04:32] #392 closed

[2022-06-24 05:30] #377 closed

[2022-06-24 06:19] d-uzlov opened #395 "App doesn't reset results on rerun"
When you select only some of the benchmarks, app should erase old results for unselected benchmarks but it doesn't do it.

[2022-06-24 07:22] #291 closed

[2022-06-24 11:34] #381 closed

[2022-06-25 10:17] #388 closed

[2022-06-25 10:18] #385 closed

[2022-06-25 10:18] #395 closed

[2022-06-25 12:32] freedomtan commented on #390
Sounds good to me. I am not sure we should assume that this app is for submission only, though.

[2022-06-27 02:22] #391 closed

[2022-06-27 04:20] anhappdev commented on #389
@freedomtan This changes the behavior of the app. Please confirm if this one should be implemented.

[2022-06-27 04:22] #380 closed

[2022-06-27 04:56] #331 closed

[2022-06-27 05:03] freedomtan opened #402 "setting number of shards in backend setttings doesn't work"
When I add number of shards setting to MediaTek neuron's setting in `mobile_back_tflite/cpp/backend_tflite/neuron/tflite_settings_mtk.h`
[code]
It doesn't work. In the debug log from flutter console, I saw

[code]
Which means, `shards_num` is overwritten?

[2022-06-27 05:12] freedomtan commented on #402
Note: changing `_defaultShardsCount` works, but the doesn't seem to the right way to do it :-)

[code]

[2022-06-27 05:41] freedomtan commented on #389
Let's discuss this in the meeting tomorrow.

[2022-06-27 10:04] d-uzlov commented on #402
It seems like this.
We add `shards_num` option with default values to all offline benchmarks:
https://github.com/mlcommons/mobile_app_open/blob/5c7c1f16d011f818de3fd27403ef825cc9ec657a/flutter/lib/benchmark/benchmark.dart#L151-L154

I'll create a PR to fix it.

[2022-06-27 10:27] #320 closed

[2022-06-27 23:43] anhappdev commented on #307
@d-uzlov Please take over this issue if you find the time for it.

[2022-06-28 00:10] anhappdev commented on #402
It looks like `shards_num` is only used by TFLite backend (and its variance).
Should this setting remain in backend code only?
Get it from backend setting, read it by the UI (dart code) and then pass it back to backend code does not look right to me.

Also, `shards_num` and `num_threads` are quite overlapping?

[2022-06-28 01:08] freedomtan opened #404 "android-v2 issues tracking"
Goal:
* a unified Android app which is performance parity with 2.0 submissions

performance parity with 2.0 submission
- [x] Google, checked by @kcwu
- [x] MediaTek, checked by @freedomtan
- [x] Qualcomm, checked by @mohitmundhragithub
- [ ] Samsung,  waiting for https://github.com/mlcommons/mobile_app_open/pull/351?

some features:
- [x] configurable latency parameters

[2022-06-28 01:24] freedomtan opened #405 "issue tracking for 2.1 submission code freeze"
Performance parity:
- [x] Samsung, need to resolve https://github.com/mlcommons/mobile_app_open/issues/379, to be confirmed this week
- [x] Qualcomm, looks good, @mohitmundhragithub
- [x] MediaTeK, ~~if `shards_num` could be set 4 as shown in https://github.com/mlcommons/mobile_app_open/issues/402~~ good
- [x] Intel, not going to submit flutter this time. Let's skip checking for Intel for now.
- [

[2022-06-28 01:34] freedomtan commented on #402
as far as I can remember this was a hack for iOS. Do we still need this?

[2022-06-28 02:14] d-uzlov commented on #402
We discovered that different iPhone models needed different settings for the best performance.
Earlier models, as iPhone X and iPhone 11, needed much bigger batch, while iPhone 12 and iPhone 13 perform best with smaller batch.

<details>

![2022-06-28 09-06-51 210809 - iOS results - Google Sheets - Vivaldi](https://user-images.githubusercontent.com/36223296/176075396-c09b3210-af6b-40b7-864b-7c3644

[2022-06-28 02:23] d-uzlov commented on #402
These settings are for different places.
`shards_num` is how many tflite interpreters we create.
`num_threads` is how many threads each interpreter uses internally.

[2022-06-28 04:18] anhappdev commented on #402
Yes, let discuss it in the meeting. I am also in favor of removing the UI for this setting, since it is iOS only and we don't know if anyone uses it.

[2022-06-28 04:46] kcwu opened #406 "LOG in backend don't show in logcat"
In the past (v2 branch), LOG lines in backend will appear in logcat. But in the flutter app (master branch), LOG lines in backend don't show in logcat.

p.s. I can see LOG message from cpp/flutter/dart_run_benchmark.cc in logcat. But no lines from backends.

[2022-06-28 05:21] freedomtan commented on #390
Let's do it. @d-uzlov

[2022-06-28 05:29] freedomtan commented on #389
Let's move the discussion to the mobile policy meeting.

[2022-06-28 05:40] freedomtan commented on #402
Let's remove the code to set the number of shards in UI and some kind of hard-wired number of threads for different iPhone in backend code.

[2022-06-28 05:46] freedomtan commented on #406
`LOG(INFO) <<  ...` should work. Is it redefined? @d-uzlov and @freedomtan to check if we can reproduce this.

[2022-06-28 05:55] freedomtan commented on #322
it should be safe to remove data type from benchmark id.

[2022-06-28 05:57] anhappdev commented on #389
One thing to note: If the app validates the checksum only when downloading files from internet, it will not validate the checksum when loading files from local disk (if the path in the task file start with `app://`).

[2022-06-28 06:05] #348 closed

[2022-06-28 06:11] d-uzlov commented on #324
Can we close this?
It looks to me like this issue should have been automatically closed by #400 but wasn't for some reason.

[2022-06-28 07:19] freedomtan commented on #324
Yes, let's close.

[2022-06-28 07:19] #324 closed

[2022-06-28 07:54] kcwu commented on #406
@freedomtan  are you using the apk generated by `make docker/flutter/android/apk` ?

[2022-06-28 08:17] freedomtan commented on #406
nope, docker is slow on my old machines :-)
simply
[code]

[2022-06-28 08:51] kcwu commented on #406
Ah, sorry, it's my mistake. In the past (android version), backends are created for each benchmark. Now backends are created when app started and I missed the log messages.

[2022-06-28 08:51] #406 closed

[2022-06-28 22:10] #390 closed

[2022-06-29 17:58] mkankana commented on #347
Working group has concluded to send the physical devices to Anh .
@anhappdev we can discuss this in next week meeting to confirm.

[2022-06-29 23:11] mkankana commented on #389
Qualcomm has concluded to rebuild the app from source for internal SDK updates, which solves the issue. I think all other vendors can adopt to the same path.
@mohitmundhragithub could you please confirm.

[2022-06-30 08:53] anhappdev opened #416 "Progress screen with `cool down` enabled is confusing"
With cool down enabled, the step count includes the cool down phase, so with 5 tasks running, it shows 9 steps in total with +4 steps for cool down phases in between.
In the current UI, the user may think the number represent the task count only, so we need either:
1. Count only the number of tasks to be run, or
2. Count the number of tasks to be run + cool down phase but change the UI to make it

[2022-06-30 16:01] mohitmundhragithub commented on #389
Sure, I will close this Issue.

[2022-06-30 16:01] #389 closed

[2022-07-01 10:31] #307 closed

[2022-07-01 21:59] mkankana commented on #124
repo is now archived. Thanks to Bruno.

[2022-07-03 02:40] anhappdev commented on #360
I am trying to integrate the Core ML backend to our Flutter app but could not figure out how to do it properly because I have worked mostly on the frontend part of the app. Since Danil has already integrated the Windows backend before, I think Danil is more suited for this task and would take less time than me doing it.
@d-uzlov Would you give it a try? You can use the Core ML models I published [

[2022-07-03 05:22] anhappdev commented on #383
One issue with using a user editable configuration file is that if we want to update the path to the default task file, it will not work if the users still have the old configuration file. So at least the path to the default task file should not be read from the configuration file. Or if we have the UI for editing the list, the configuration file should not be accessible / editable by the user.

[2022-07-03 05:32] anhappdev opened #420 "App may read an old, not up-to-date configuration file"
Currently, the app read the path for the default task file from a user editable `json` file stored on the device (see https://github.com/mlcommons/mobile_app_open/blob/master/flutter/documentation/custom-tasks.md)

We have updated the path to the default task file several times, but if the user has an existed configuration file, the app will not create a new configuration file and the new path wil

[2022-07-03 05:34] anhappdev commented on #383
It seems to be a bug for me, so I created an issue to fix it first https://github.com/mlcommons/mobile_app_open/issues/420

[2022-07-03 06:02] anhappdev commented on #420
Sorry, the app already handle this case.

[2022-07-03 06:02] #420 closed

[2022-07-03 06:31] AhmedTElthakeb commented on #420
I updated the json file with custom tasks file, and tried to switch to the other file from the app settings but it says "Path to config is invalid"

`{
  "default": "asset://assets/tasks.pbtxt",
  "otherName": "app:///tasks.pbtxt"
}`

I copied the file to the following location on the phone.
This PC\Galaxy S22 Ultra\Internal storage\Android\data\org.mlcommons.android.mlperfbench\files

I am using

[2022-07-03 06:48] AhmedTElthakeb commented on #420
I previously had a similar issue (missing IS benchmark) in the android app, but that was a result of mismatch of the benchmark_id between what is defined in the app tasks file and what is defined in our backend settings. After unifying both, the benchmark was recognized fine.

Currently the tasks file declares the model as follows
`  model {
    id: "IS_uint8_mosaic"
    name: "MOSAIC Uint8"
    t

[2022-07-03 06:55] freedomtan commented on #360
We used to have a dummy backend which was used a template for new mobile backend. It seems we removed it. Maybe we should reintroduce a dummy backend (or a template) for new backend implementation. And simple documentation for new backend implementation.

[2022-07-03 20:17] d-uzlov commented on #360
I didn't really implement a new backend for Windows, I only fixed issues with tflite backend to make it work on Windows.
But I have worked with tflite sources a bit so I'm should able to answer any questions about out backend API or the tflite backend itself.

I have never worked with CoreML. As far as I understand, CoreML requires using Swift, and I haven't worked with Swift either.
Anh, if you h

[2022-07-03 23:29] freedomtan commented on #360
Public Core ML API is available in both [Objective-C](https://developer.apple.com/documentation/coreml?language=objc) and [Swift](https://developer.apple.com/documentation/coreml?language=objc). For implementing the mlperf backend C interface, Objective-C is more intuitive. Yes, it's possible to call Swift function from C. To me, it's not as convenient as using Objective-C methods directly.

I thi

[2022-07-04 05:45] anhappdev commented on #360
I am mostly proficient in Swift and have limited experience with Objective-C. Normally, I would prefer using Swift over Objective-C since it's better documented and supported, but in this case, Objective-C is actually more suited because of the need for interfacing with C. @freedomtan I assume you are experienced in Objective-C and can provide help here?

@freedomtan @d-uzlov Let try working on it

[2022-07-04 06:39] d-uzlov opened #423 "Link backend dynamically on iOS"
Currently we use static linking on iOS.
We should look into using dynamic libraries for more flexibility.

[2022-07-04 09:28] freedomtan commented on #360
@anhappdev
Yes, I do have some Objective-C experience (because I actually learned object-oriented programming in [Smalltalk-80](https://en.wikipedia.org/wiki/Smalltalk) :-))

Thanks for creating the branch (#421). I think the next step is to create shared library instead of static library (as @d-uzlov suggested in #423) and then we can use the [command line program](https://github.com/mlcommons/mo

[2022-07-04 16:50] mohitmundhragithub commented on #322
For 1, we need to validate if the accuracy is met for the model used for measuring performance. So, we do need a single model only. However, I remember intel were asking for capability to pass 2 files. @mkankana can confirm.

For 2, till now, there has been flexibility with the user to select any of the datatype. Do, we wish to show the datatype being used on the UI? Having some datatype just in t

[2022-07-04 16:57] mohitmundhragithub opened #424 "Capability to run the flutter app from command line, without connecting to internet"
The previous android app, we had the capability to run directly from the command line without connecting to internet. The steps to do this was,

1) Have all local paths for all the models in backend settings.
2) Have local paths for all the datasets in a tasks_v4.pbtxt file and push the file to /sdcard/mlperf_datasets.

Once we have above things, the app will pick up /sdcard/mlperf_datasets/tasks_

[2022-07-04 17:32] d-uzlov commented on #322
The issue with datatype in the config is that it doesn't mean anything. Datatype is defined by backend. If config says uint8 and the backend says float32, it will be float32. Datatype in config could only be used as a reference of what to _expect_ from backend but it's not enforced.

But I think it would be useful to save datatype in result history. We could show it in the history UI and use for s

[2022-07-04 17:49] d-uzlov commented on #424
We have recently moved the default task config into this repo so app no longer downloads it in the last commit.

I believe you should also be able to avoid downloading datasets from the default task config if you copy all the files app tries to download into the app folder with corresponding paths prior to running it.

We do have the [autostart script for the app](https://github.com/mlcommons/mobi

[2022-07-05 03:24] #373 closed

[2022-07-05 05:11] freedomtan commented on #404
Let's wait for testing of #413 from @AhmedTElthakeb

[2022-07-05 05:14] freedomtan commented on #405
Let's wait for the closing of #379, then we can branch out a v2.1 for 2.1 submission.

[2022-07-05 05:15] #124 closed

[2022-07-05 05:25] freedomtan commented on #322
Let's shut for 3.0 for this multiple files for a model feature.

[2022-07-05 05:29] freedomtan commented on #416
Let's remove cooldown steps. @d-uzlov

[2022-07-05 05:40] freedomtan commented on #360
I get similar numbers when running my simple program with Xcode + Instruments (w/ the new CoreML template) https://github.com/freedomtan/SimpleCoreMLBenchmark

[2022-07-05 06:06] anhappdev commented on #360
@freedomtan The documentation for the [command line program](https://github.com/mlcommons/mobile_app_open/tree/master/flutter/cpp/binary) seems to be outdated. Can you update it?

In general, I think we can split this task in 2 smaller one:
1. Create a Core ML backend by implementing the C interface
2. Integrate the backend into our build system

I am trying to do the second one first with a mocku

[2022-07-06 19:31] TheKanter commented on #369
Hi @NullCarrier can you contact me via email? david@mlcommons.org ?

[2022-07-06 22:16] freedomtan commented on #404
@anhappdev please help creating a unified app based on current android-v2.

[2022-07-07 01:12] anhappdev commented on #404
Here it is:
https://github.com/mlcommons/mobile_app_open/releases/tag/untagged-c84f27907ca965e5aa83

[2022-07-07 01:42] NullCarrier commented on #369
HI, @freedomtan , thanks very much for the reply, we are making progress on implementing backend for RK3588. And @TheKanter , I am gonna close this issue and contact you later on via the email, thanks for the help

[2022-07-07 01:42] #369 closed

[2022-07-07 12:04] mohitmundhragithub opened #426 "Adding docker file to generate models for QTI backend"
When moving from android to flutter, the dockerfile used for DLC generation of QTI backend was removed.
Creating this issue to add it back.

[2022-07-07 13:39] mohitmundhragithub commented on #416
I synced the build and ran on a device, and realised that "stage progress" telling the amount of time left for cooldown is a good thing to have. So, when we remove the number, probably, we should keep the cooldown progress %ge as it is now.

[2022-07-07 16:04] anhappdev commented on #416
Ideally, the `Stage progress: x%` will become a count-down timer like `Cool down: x seconds left`.

[2022-07-08 03:49] anhappdev opened #428 "ResourceErrorScreen should show concrete error message"
If the app is trying to download resources, but the phone has no internet connection, it will show the `ResourceErrorScreen` without stating what is the concrete issue. We should pass the error message to this screen.

[2022-07-08 03:58] anhappdev commented on #428
It looks like I used an old build, the latest build already shows the error screen as expected.

[2022-07-08 06:14] #428 closed

[2022-07-11 04:55] #379 closed

[2022-07-11 08:30] #416 closed

[2022-07-11 08:49] d-uzlov opened #432 "Disable Java linter"
We no longer use Java in this repo (in the master branch) after removal of the old Android app.
We should disable Java formatter/linter.

[2022-07-12 02:53] #423 closed

[2022-07-12 03:14] freedomtan commented on #404
Dear colleagues,
   Please help check if the unified app works as expected.

- [ ] Google Pixel backend
- [ ] MediaTek Neuron backend, checked by @freedomtan
- [ ] Qualcomm SNPE backend
- [ ] Samsung Exynos backnd

[2022-07-12 03:21] freedomtan commented on #405
Supposedly, we can create a branch from commits after dec8b434fb0 or efe21c2.

Let's check https://github.com/mlcommons/mobile_app_open/commits/master

[2022-07-12 05:11] freedomtan commented on #405
@mohitmundhragithub to merge #425, then @anhappdev or @d-uzlov can help create a 2.1 submission branch.

[2022-07-12 05:43] #426 closed

[2022-07-12 05:43] ptt2panda commented on #404
Verified that the unified app works as expected for Google, thanks.

[2022-07-12 06:14] #424 closed

[2022-07-12 08:08] freedomtan commented on #405
@mkankana and @willc2010 v2.1 submission branch created

[2022-07-12 08:08] #405 closed

[2022-07-13 22:24] freedomtan opened #435 "Use "latest" loadgen for v2.1 submission"
There is newer loadgen from the repo of the inference group, https://github.com/mlcommons/inference/tree/r2.1. Let's update our 2.1 branch to use it.

[2022-07-14 01:25] freedomtan commented on #435
[code]
It seems there are at least two issues,
1. `ReportLatencyResults()` is no longer used by loagen, does this matter?
2. `"loadgen/early_stopping.h"` is not included the `loadgen`'s header dependency, so it won't build. I'll send a PR to fix this first.

[2022-07-14 06:34] freedomtan opened #437 "use v2.1 submission random seed"
We should update the v2.1 branch to use v2.1 random seed.

[2022-07-14 07:02] freedomtan opened #439 "Deal with removal of LoadGen's ReportLatencyResults method"
[removal of LoadGen's ReportLatencyResults](https://github.com/mlcommons/inference/commit/a8a43dcf2ce9f795be637f3126250c1cfa0d736e) caused a problem in this app. For v2.1 submission, we use a patch to revert this change. We need a cleaner solution in the long run.

cf. @d-uzlov's comment's in https://github.com/mlcommons/mobile_app_open/pull/436

[2022-07-15 03:50] #432 closed

[2022-07-15 05:10] mohitmundhragithub commented on #404
verified that the app works as expected for Qualcomm. Thanks.

[2022-07-15 08:08] freedomtan commented on #404
Many thanks for all. We can close this now :-)

[2022-07-15 19:25] mkankana opened #441 "master fails to build on windows"
Flutter build on windows fails with master branch ( commit ID test : 52aca2a28043d5b1df9b5eca9ebe537404498a4a)

[code]

ERROR: C:/users/mkankana/_bazel_mkankana/4gqmzekv/external/build_bazel_rules_apple/apple/internal/partials/resources.bzl:235:5: nested functions are not allowed. Move the function to the top level.
ERROR: Skipping '//flutter/cpp/flutter:backend_bridge.dll': error loading package

[2022-07-16 06:12] oscarbg opened #442 "New 2.0 Android apk fail to run on unsupported POCO F3.."
Hi,
previous 1.0 version runned OK..
but now 2.0 fails to run citing unsupported device..
F3 uses Adreno 650 which is fairly recent qcom gpu.. I’m on Android 12.. can you you elaborate if there is a elaborated/manual list of supported devices or gpus or even driver versions..
Would be nice if this error is noted as warning but benchmark is allowed to run even if runs into a crash or hang..
Thanks.

[2022-07-18 19:43] #384 closed

[2022-07-19 01:42] AhmedTElthakeb commented on #30
This issue has been resolved for all generations (old and new) in the latest android app merge, no workarounds are needed any more.
https://github.com/mlcommons/mobile_app_open/tree/android-v2
Commit# a47423

[2022-07-19 01:43] AhmedTElthakeb commented on #206
This issue has been resolved for all generations (old and new) in the latest android app merge, no workarounds are needed any more.
https://github.com/mlcommons/mobile_app_open/tree/android-v2
Commit# https://github.com/mlcommons/mobile_app_open/commit/a47423a778debeb7d4dffcc4a9c69b2697171b93

[2022-07-19 01:55] freedomtan commented on #442
@mohitmundhragithub Could you help on this?

[2022-07-19 01:58] freedomtan commented on #441
@anhappdev and @d-uzlov  it seems we have to avoid including apple specific rules on other platforms.

[2022-07-19 02:07] freedomtan opened #443 "Update doc for //flutter/cpp/binary"
we have to update the doc to reflect
1. the target is `//flutter/cpp/binary:main`
2. the only backend supported now is the `EXTERNAL` one

[2022-07-19 02:08] freedomtan commented on #360
created an issue for updating the command line program, https://github.com/mlcommons/mobile_app_open/issues/443

[2022-07-19 02:27] anhappdev opened #444 "Create unified APK for submission-v2.1"
To provide the unified APK built from https://github.com/mlcommons/mobile_app_open/tree/submission-v2.1
As requested by @AhmedTElthakeb and @Mostelk.

[2022-07-19 02:42] anhappdev commented on #441
The CI test for Windows `Build-and-test-Flutter-Windows-PR`:
- was successful for the PR branch before merge
- but failed on the master branch after merge

because the code base of the 2 test was different.

But the CI test failed at running integration test, the build test was successful.

[code]

So I guess the issue is the different between build environment of the CI machine and @mkankana's ma

[2022-07-19 03:32] mohitmundhragithub commented on #442
Poco F3 has snapdragon 870, which is currently not supported.
I can check more internally if the support can be added or not.

Meanwhile, can you please share adb logcat logs on the device?

[2022-07-19 04:03] anhappdev commented on #444
@AhmedTElthakeb @Mostelk
Should the paths of .so files be the same in `BUILD` and `samsung_backend.mk`?
Currently, one is `samsung_backend/lib/` and the other is `/samsung/lib/`. Please check it.

https://github.com/mlcommons/mobile_app_open/blob/c2d3b460627958bec6211789836a097ebd236437/mobile_back_samsung/BUILD#L13-L24

https://github.com/mlcommons/mobile_app_open/blob/c2d3b460627958bec6211789836

[2022-07-19 05:13] #437 closed

[2022-07-19 05:14] #435 closed

[2022-07-19 05:20] freedomtan commented on #442
@mohitmundhragithub will check if we can support POCO F3 easily

[2022-07-19 05:22] freedomtan commented on #444
@Mostelk to help check .so files.

[2022-07-19 18:49] AhmedTElthakeb commented on #444
@anhappdev
This won't matter as long as you build with docker. But I will unify the names and push.

[2022-07-19 23:32] AhmedTElthakeb commented on #444
It seems I cannot push here. so you can just:
1) Rename the mobile_back_samsung/samsung to mobile_back_samsung/samsung_backend
2) Edit mobile_back_samsung/samsung_backend.mk as follow.
`diff --git a/mobile_back_samsung/samsung_backend.mk b/mobile_back_samsung/samsung_backend.mk
index eb8ba6c..4ef75cd 100644
--- a/mobile_back_samsung/samsung_backend.mk
+++ b/mobile_back_samsung/samsung_backend.mk
@

[2022-07-20 04:11] anhappdev commented on #444
@AhmedTElthakeb The submission branch is protected, you can create a PR to update the `submission-v2.1` if you like,
or just apply this patch to your development branch.
<details>
  <summary>Click to show the patch!</summary>

[code]
</details>

[2022-07-20 04:12] anhappdev commented on #444
Here is the Flutter APK, built with the latest commit (https://github.com/mlcommons/mobile_app_open/commit/fb04b9880424397e6c6909a8731b530532524c41) on the `submission-v2.1` branch:

[mlperfbench-fb04b98-qsmgt.apk](https://drive.google.com/file/d/1OCwoxXbf0PX9zBpAgZ4XRoJgSIkdb1BA/view?usp=sharing)

Notes:
* Built with:
[code]
* Samsung `*.so` files copied from https://github.com/mlcommons/mobile_b

[2022-07-23 02:19] anhappdev commented on #444
I have feedback from Samsung that the app crashed with `Exception: dart_ffi_backend_match result: nullptr` error.
Further debugging shows that QTI backend prevents the app trying next available backends.

[2022-07-23 13:11] freedomtan commented on #444
@mohitmundhragithub please help verify if that's caused QTI backend

[2022-07-24 22:54] d-uzlov commented on #444
This happens when a backend can't be loaded into memory.
If I remember correctly, QTI backend requires some Qualcomm-specific libraries which are not present on devices with SOCs from other vendors.

The app should just ignore this error instead of crashing.

[2022-07-24 22:57] d-uzlov opened #446 "Ignore error when backend can't be loaded"
Currently the app crashes if the backend that it tries to check can't be loaded into memory.
If some backend requires some vendor-specific libraries, the app will crash on devices from other vendors.
We should fix it. App can just ignore this error and skip such backends.

Related: https://github.com/mlcommons/mobile_app_open/issues/444#issuecomment-1193040380

[2022-07-25 02:08] anhappdev commented on #444
The new APK: [mlperfbench-f812aa1-qsmgt.apk](https://drive.google.com/file/d/1cim1mFtwyiUh0cvS1OYnPsne8evEMoXW/view?usp=sharing)
and the PR to reflect the changes: https://github.com/mlcommons/mobile_app_open/pull/448

[2022-07-25 06:53] mohitmundhragithub commented on #444
This latest apk works fine for Qualcomm.

[2022-07-25 06:53] mohitmundhragithub commented on #444
This latest apk works fine for Qualcomm.

[2022-07-25 06:54] mohitmundhragithub commented on #444
can the log collection switch in settings be made default?

[2022-07-25 08:39] freedomtan commented on #444
al

also works for a MediaTek internal phone, which means backend checking works and TFLite Neuron backend is picked on the device.

Thanks @anhappdev and @d-uzlov

[2022-07-25 08:43] freedomtan commented on #444
@AhmedTElthakeb please help check if [mlperfbench-f812aa1-qsmgt.apk](https://drive.google.com/file/d/1cim1mFtwyiUh0cvS1OYnPsne8evEMoXW/view?usp=sharing) works as expected

[2022-07-25 16:37] AhmedTElthakeb commented on #444
Works fine for Samsung!

[2022-07-25 21:18] d-uzlov commented on #439
I don't see a way to get some of the data we use without ReportLatencyResults.
I created an issue in the loadgen repo: https://github.com/mlcommons/mobile_app_open/issues/439

[2022-07-26 05:14] freedomtan commented on #347
@d-uzlov suggested we can use some available devices in Firebase, e.g., Pixel devices, at first. And testing accuracy seems to be good. At least if a backend is running or not.

[2022-07-26 05:30] #446 closed

[2022-07-26 05:36] d-uzlov opened #450 "Save loadgen logs by default"

[2022-07-26 06:00] d-uzlov opened #451 "Cloudbuild CI fails"
Last few days cloudbuild builds are partially failing.
On CI we download the full repository, and download time exceeds timeout.
For some reason we download the whole repository instead of only 1 branch. We should check if we can skip downloading other branches, or just increase timeout.

[2022-07-26 07:51] kcwu commented on #444
mlperfbench-f812aa1-qsmgt.apk works as expected on Google devices.

[2022-07-26 12:01] mohitmundhragithub commented on #442
@oscarbg, can you please share the logcat logs?

[2022-07-27 06:12] #451 closed

[2022-07-27 08:11] d-uzlov opened #456 "Check accuracy on CI"
Currently on CI we don't check accuracy at all so we may miss changes that don't immediately crash the app.

Steps:

- Add groundtruth files to test dataset
    - [x] Imagenet
    - [x] COCO
    - [x] ADE20K
- [x] Test and save current accuracy (per each tested backend)
- [x] Check that accuracy match the saved values in the integration test

Parent issue: https://github.com/mlcommons/mobile_app_o

[2022-07-27 08:14] d-uzlov opened #457 "Add CI test for pixel backend"
Firebase Testlab has Pixel 6 device which is supported by our pixel backend.
We should add a test that would include the pixel backend into the app and run it on Pixel 6.

Parent issue: https://github.com/mlcommons/mobile_app_open/issues/347

[2022-07-27 10:52] #450 closed

[2022-07-28 19:57] mkankana opened #458 "Random seed question"
I have reverted back to commit "5dd9ed739cc8dfeae2c5d30ec06f4cb524a4dd74" on https://github.com/mlcommons/inference

[code]
However the random seed associated with this commit doesn't have "UL" at the end . Is it required to have those 2 letters at the end.
This is a question for non app based submissions.

Ramdom seed in git clone https://github.com/mlcommons/inference.git at commit 5dd9ed739cc8d

[2022-07-29 00:34] d-uzlov commented on #458
This suffix is not part of the random seed.
The seed is an integer number.
`UL` is the C/C++ syntax for specifying value type, which sometimes helps type safety. You can ignore it.

[2022-07-29 05:13] mkankana commented on #458
Thanks @d-uzlov

[2022-07-29 05:13] #458 closed

[2022-07-31 13:54] d-uzlov opened #460 "Integration test occasionally crashes"
Here are the logs of the crash:
[code]

[2022-07-31 14:38] d-uzlov opened #461 "App doesn't save run duration for accuracy runs"
Currently in the result json app writes `0` into the `duration` field for accuracy runs.

This is related to how we measure run duration and may potentially be resolved by https://github.com/mlcommons/mobile_app_open/issues/439.

[2022-07-31 14:39] d-uzlov opened #462 "App doesn't save samples count for accuracy runs"
Currently in the result json app writes `0` into the `measured_samples` field for accuracy runs.

This is related to how we measure number completed queries and may potentially be resolved by https://github.com/mlcommons/mobile_app_open/issues/439.

[2022-07-31 16:16] d-uzlov opened #463 "App doesn't save correct dataset info"
App always writes info about lite dataset, regardless of the actual dataset used during benchmark run.

[2022-07-31 22:22] d-uzlov opened #465 "App doesn't remember selected benchmarks"
At the start of the app all benchmarks are always selected.
For example, if you select only one benchmark and restart the app, all benchmarks will become selected again.

[2022-07-31 23:46] d-uzlov opened #466 "COCO dataset doesn't count accuracy on Windows"
When I run object detection accuracy test on iOS it produces a proper result.
When I run object detection with the same dataset on Windows I always get `0` accuracy.

[2022-08-01 01:06] anhappdev opened #467 "Add unit tests"
Currently, we had only one integration test, which launches the app and run all benchmarks with test dataset.
We should also add unit tests, and maybe some more integrations tests.

[2022-08-01 15:40] #457 closed

[2022-08-01 15:40] d-uzlov opened #468 "Remove old CI check for android devices"
We have recently added a new CI job for android integration test.
We should remove the old one.

[2022-08-02 04:39] #468 closed

[2022-08-02 05:06] freedomtan commented on #444
Since it's done. Let's close this.

[2022-08-03 12:54] #466 closed

[2022-08-03 21:22] mkankana commented on #374
@d-uzlov thanks for the new design mocks. Working group has shifted the decision to have a MVP at this time.
Could you please re-evaluate a do a mock with below considerations.

1 . User can upload results to a database.
2. User can compare his results with other uploaded results.

[2022-08-04 03:52] #360 closed

[2022-08-04 03:55] anhappdev opened #472 "Improve performance of Core ML backend"
We have just implemented the Core ML backend, the focus was to make it work first, then make it work faster.
The performance of the Core ML backend should be equal or better than TFLite backend.

[2022-08-07 10:26] #443 closed

[2022-08-07 10:40] freedomtan commented on #472
I did some profiling. One of the reasons why there is performance gap is that, no surprise, some kind of thermal throttling. My observation, for Mobilenet EdgeTPU on iPhone 13, we can see for first tens inferences, the Neural Engine Prediction time, although not as good as M1's ~ 0.46 ms, it's 0.5 ~ 0.6 ms. But it jumps to around 1.2 ms.   I don't really know how to reduce this kind problem legiti

[2022-08-10 23:11] Mostelk commented on #444
@anhappdev We discussed in Policy meeting to release a v2.0 Flutter App based on above without the brown screen showing "Unverified Results", since all backend above are audited in MLPerf v2.0

[2022-08-11 06:47] anhappdev commented on #444
Ok, here is the build with official UI:
[mlperfbench-22d6252-qsmgt-official.apk](https://drive.google.com/file/d/1LgjI9ONJGHuJYXjjsXW_bKKsjTkRPfsz/view?usp=sharing)

[2022-08-13 05:49] freedomtan commented on #472
@anhappdev and @d-uzlov  for your reference, I did further observations of Mobilenet EdgeTPU. It seems it's scheduling policy, not thermal thermal throttling. When I did a cold start, thermal state shown by the Instruments seems to be fine (always Nominal for the 60 s running time), but the Neural Engine Prediction time increases very soon (from 0.5x ms to > 1 ms). If I set the qos class to  be `u

[2022-08-13 14:33] anhappdev commented on #472
In the past, I did observe that we can get much better throughput by adding a simple loop `while true { let a = 1 + 1 }` to the app when running benchmark. It looks like that this simple loop keeps the CPU busy and prevent some energy saving logic kick in. But it's a hack so I am uncertain if we can use it.

[2022-08-15 09:42] d-uzlov opened #475 "Allow to build ios version without all backends"
Currently coreml backend is enabled automatically when building on macos:

https://github.com/mlcommons/mobile_app_open/blob/29cb9deb341709cee764325ea8e568ae0f8df892/mobile_back_apple/apple_backend.mk#L16-L22

We can use a fake empty backend to substitute missing frameworks when tflite or coreml backends are disabled.

[2022-08-15 09:50] d-uzlov opened #476 "Remove human-readable values from backend settings"
Human-readable values are part of GUI so they should not be defined by backends.

Currently we have the following values:

 - `accelerator_desc`
 - `configuration`

https://github.com/mlcommons/mobile_app_open/blob/29cb9deb341709cee764325ea8e568ae0f8df892/flutter/cpp/proto/backend_setting.proto#L46-L49

We should create `id → description` map and only use ids in backend settings.

[2022-08-15 10:04] d-uzlov opened #477 "Meaning of `configuration` in backend settings"
We have `configuration` field defined for each benchmark.

https://github.com/mlcommons/mobile_app_open/blob/29cb9deb341709cee764325ea8e568ae0f8df892/flutter/cpp/proto/backend_setting.proto#L48-L49 https://github.com/mlcommons/mobile_app_open/blob/29cb9deb341709cee764325ea8e568ae0f8df892/mobile_back_tflite/cpp/backend_tflite/tflite_settings_apple.h#L36 https://github.com/mlcommons/mobile_app_open/

[2022-08-16 05:02] freedomtan commented on #477
is this for underlying accelerator configurations we discussed before?

[2022-08-16 05:14] freedomtan commented on #444
close this for now since it's one.

This is v2.1 submission branch based apk.

[2022-08-16 05:14] #444 closed

[2022-08-16 05:33] freedomtan commented on #476
it seems moving all the mapping and name into a centralized list or map in high-level UI is no flexible. Let's close this for now.

[2022-08-16 05:33] #476 closed

[2022-08-16 05:37] freedomtan commented on #477
This is kinda what Qualcomm colleagues use to display the "backend" to use (sometime it's TFLite + GPU delegate, not always SNPE).

[2022-08-16 06:37] #460 closed

[2022-08-16 08:16] freedomtan commented on #472
@anhappdev please check if the artificial load (`while true { let a = 1 + 1 }`) works for the Core ML backend.

[2022-08-16 09:22] anhappdev commented on #472
It looks like that the artificial load hack does not increase the throughput anymore with current implementation.
But compared to the past result here https://github.com/mlcommons/mobile_app_flutter/issues/198#issuecomment-898865768 I already get similar result with the current Core ML backend. So we need to find other solutions.

[2022-08-17 12:15] anhappdev commented on #472
I did some analysis. Most of the time which is relevant for the benchmark is spent on `mlperf_backend_issue_query` as expected.

<img width="651" alt="Screenshot 2022-08-17 at 19 05 25" src="https://user-images.githubusercontent.com/85728587/185114145-4ae4d8b4-4fba-483b-a743-a2c9bc6dfe58.png">

The time it takes to prepare input data and process output data is minimal, so no big potential to optim

[2022-08-17 13:45] freedomtan commented on #472
Some ideas for your reference
1. Profiling with Core ML template or (manually adding Neural Engine and Core ML profiling): you can see maybe we can try to improve either `Neural Engine Prediction` time or output target (ANE) to host (ARM) memory copy time.
2. Check what we can get by using DTrace CLPC probes (`sudo dtrace -l | grep CLPC`). It seems Apple's DVFS is controlled by Closed-Loop Perform

[2022-08-18 04:16] d-uzlov opened #480 "Add online results view"
Currently the app only shows local results.
We should add a screen that shows results fetched from the server.

[2022-08-18 06:46] d-uzlov commented on #374
Closing this since we decided to skip developing website for now.
We'll track progress for uploading-related app pages in different github issues.

[2022-08-18 06:46] #374 closed

[2022-08-18 11:48] anhappdev commented on #472
I compared the mean latency reported by the app with the mean latency from XCode performance report and see almost the same numbers so I think the code should be good for now. I switch my focus to optimizing the model itself.

I converted the models to the new [`ML Program`](https://coremltools.readme.io/docs/ml-programs) model type (currently is `Neural Network`) and got some improvement:
- `Mosa

[2022-08-19 01:33] anhappdev commented on #472
Yes, indeed. I wonder why.

<img width="1079" alt="Screenshot 2022-08-19 at 08 03 23" src="https://user-images.githubusercontent.com/85728587/185522399-7d9fedd5-8354-4b4b-bb67-34bd53fd83cc.png">

[code]

Noted that the XCode performance report uses median (50th percentile) while the app uses 90th percentile.

[2022-08-19 02:00] freedomtan commented on #472
Ha, the iPad Pro you tested uses Apple A13 or older SoC. There are significant transpose and context switch overheads on CPU. On A14 and A15 devices (iPhone 12 and later), all MobileNet EdgeTPU ops are on ANE. It seems there is some hardware problems so that newer iOS and Core ML software stack can make MOSAIC and MobileBERT work well on chips older than A14/M1.

On iPhone 11 Pro (A13),  if you ch

[2022-08-19 02:17] anhappdev commented on #472
Ok. The MobileBERT and MOSAIC low performance is hardware related.

But I am most wondering why the Xcode performance report on iPhone 13 has much better number than the app, while on my iPad I got almost the same number (for all models, BTW).

[2022-08-19 02:31] freedomtan commented on #472
My guess is that it's related to CPU load tracking and DVFS mechanisms. Why "artificial load" trick works for some cases is that it seems

1. the ANE frequency is kinda associated with CPU DVFS
2. when we can offload most ops to ANE, CPU load is relatively low, so ANE slows down also
3. when there are more CPU activities involved, e.g., your iPad, CPU load is kept higher

That's my theory (based o

[2022-08-19 06:17] anhappdev commented on #472
I mean on your iPhone 13, the Xcode performance report shows a lower mean latency for `MobileNetEdgeTPU` compared to the app. But on my iPad the 2 numbers are almost the same.

So I was wondering why the app and Xcode have similar numbers on iPad, but not on iPhone 13?
Is there something code related? Then, if it's hardware related, the app should get the same number as Xcode performance report fo

[2022-08-19 06:25] freedomtan commented on #472
Yes, I was explaining my observations on that. On the iPhone 13, all the Mobilenet EdgeTPU ops were offloaded to ANE; on your iPad there were some more CPU loads because not all ops were offloaded  to ANE (thus it has higher CPU load).

[2022-08-19 23:55] freedomtan commented on #472
The first 100 inferences in the figure below are relatively close to Xcode model performance numbers,
<img width="200" alt="Screen Shot 2022-08-20 at 7 04 04 AM" src="https://user-images.githubusercontent.com/3395998/185720306-581246e6-10fe-458a-9e4a-b4af5e89dcc6.png">

One of the interesting things to note is that LITTLE (efficient) cores are not used for the first 200+ milliseconds.

<img width=

[2022-08-23 03:45] d-uzlov commented on #477
I'll create a PR to update documentation about this field.

[2022-08-23 04:43] anhappdev commented on #472
For now, one improvement we can make is that using the new [ML Program](https://coremltools.readme.io/docs/ml-programs) model type but it requires iOS 15+. Should we make that change? iOS 15 can be installed on almost all iPhones from 2016 (https://support.apple.com/en-vn/guide/iphone/iphe3fa5df43/ios).

[2022-08-23 04:47] #456 closed

[2022-08-23 04:57] freedomtan commented on #472
Let me check if I can get better numbers on iPhone 13 and M1.

[2022-08-23 07:55] anhappdev commented on #472
By setting `compute_precision=ct.precision.FLOAT32` when converting, the model produces expected accuracy on my iPad (0.96). The throughput drops a bit though (now 17) but still better than the `.mlmodel` one.

[2022-08-23 23:16] freedomtan commented on #472
@anhappdev bad news. Quick check shows that there is performance degrade on iPhone 13 and M1 instead of improvement.

MobileNet EdgeTPU: roughly the same as .mlmodel
MOSAIC:  partition into several subgraphs, back-and-forth between ANE and CPU,
MobileBERT: CPU + GPU no ANE.

You can easily verify these with Xcode 14 beta model performance on M1 machines.
![Screen Shot 2022-08-24 at 7 14 15 AM](htt

[2022-08-24 05:41] anhappdev commented on #472
@freedomtan
1. For `MobileBERT`, did you run the `.mlmodel` in accuracy mode? I guess that the accuracy will be low because on my test if the `MobileBERT` model is (partially) executed on the ANE, the accuracy is low. Therefore, the new `.mlpackage` file is converted with the option `compute_precision=ct.precision.FLOAT32`.
2. For `Mosaic`, the number is a bit lower (71 here vs. 98 [in the last co

[2022-08-24 07:17] anhappdev commented on #472
Indeed, for `Mosaic` I got lower number on Mac M1, but higher number for iPad Pro using the new `MLProgram` format.
It looks like we should focus on one certain device and optimize for it first.

[2022-08-24 09:16] anhappdev commented on #467
@d-uzlov The unit tests should be gradually added. So I think we should add a new unit test with each new PR when working on a certain code part.

[2022-08-24 09:58] freedomtan commented on #472
That was using float16. We know the software and / or hardware of ANE float16 is faulty (when we were still  converting models and testing with the command line program.

ANE doesn't support float32, and so far, all the mobile NN accelerators don't either (most of them support quanized int8/uint8 + fp16 and/or bf16). Comparing fp32 performance would be weird. Let's assume this will be fixed in App

[2022-08-25 23:35] d-uzlov opened #485 "Run Dart/Flutter unit tests on CI"

[2022-08-25 23:36] d-uzlov commented on #467
Related issue:
* https://github.com/mlcommons/mobile_app_open/issues/485

[2022-08-25 23:41] d-uzlov commented on #467
Unit tests require that the code consists of separable units.
Our current code does not satisfy this requirement.

It's possible to write new code in such a way that it is testable, and add tests along with the new code itself.
But if we work on something in the old code we most likely won't be able to write tests for it.
To write tests for old code we first need to refactor it.

[2022-08-26 09:09] anhappdev commented on #467
Yes, we will not be able to write test for all parts of the app. A big refactoring now is not a good idea either. The point is we should have tests so let try to add tests `gradually` where it's possible.

[2022-08-26 09:20] anhappdev opened #488 "Add automated code check to CI"
We should integrate this repo with a tool / service to auto check for code quality and code security.

This one is free for open-source project:
https://sonarcloud.io

If anyone has experience with other tools, please share.

[2022-08-29 08:10] d-uzlov opened #489 "Change default time unit from `milliseconds` to `seconds`"
In the config we use values of the order of seconds. It would be easier to read if we remove redundant `000`.
We can use floating point values to keep high precision.
https://github.com/mlcommons/mobile_app_open/blob/a67fb3125ff92cb1dca5b0b5cbf28eb90b482010/flutter/assets/tasks.pbtxt#L5
[code]

Regarding local variables and JSON results there is no meaningful difference between seconds and millise

[2022-08-29 08:18] d-uzlov opened #490 "Add filters to online results list"
We need to add a button for search/filtering of online results, and modify firebase functions API to support it.

Child tasks:
1. Add filtering by OS type
    * https://github.com/mlcommons/mobile_app_open/issues/505
2. Add filtering by backend
    * https://github.com/mlcommons/mobile_app_open/issues/506
3. Add filtering by date
    * https://github.com/mlcommons/mobile_app_open/issues/546
    *

[2022-08-29 12:04] anhappdev commented on #489
I think second is not precise enough for this `benchmarking` app. To convert between unit of time, there should be a built-in tool in each language, for example in Dart there is a [Duration class](https://api.dart.dev/stable/1.24.2/dart-core/Duration-class.html).

[2022-08-29 12:54] d-uzlov commented on #489
`second` pecision is absolutely enough for any of our needs in the UI part of the app, because we can use `float64`/`double` datatype for it. Well, we already use it in most places.
In fact, it will be even more precise than what we currently use in the app config, for example.
The only thing that needs the best possible precision is the benchmarking itself, which is done by the loadgen and is com

[2022-08-29 12:59] d-uzlov commented on #489
The real issue with seconds is when we want to show values of the order of single milliseconds. E.g., `mean latency is 2.6 ms`.
But we don't really use such things anywhere in the app.

Or if we want to get user input with values or order of milliseconds: `min_duration_ms: 10`.
We also don't use such values. It's too short.
We do use small values in backend configs, for `single_stream_expected_lat

[2022-08-29 13:08] freedomtan commented on #472
FYR, numbers I got with recent beta
software | version
-- | --
iOS 16 | beta 7
macOS 13 | beta 6
Xcode 14 | beta 6
mobile_app_ope |

device | Image Classification | Object Detection | Image Segmentation | Language Understanding | Image Classification (offline)
-- | --: | --: | --: | --: | --:
Macbook Pro M1 App | 1122.23 | 613.75 | 114.39 | 125.38 | 2193.12
Macbook Pro M1 Xcode model perf | 1282.0

[2022-08-29 13:12] d-uzlov commented on #489
And even if we ever want to show something like this, we can still do it.
I don't propose that we completely ban milliseconds from the app, I just suggest that we only use it where we really need them.

[2022-08-29 15:17] d-uzlov commented on #489
It's not like anything would significantly change.

We already use floating point arithmetic, and its precision is good enough for us.

Currently we use range `1 ms` to `1000000 ms`, after switching to seconds we will use range `0.001 s` to `1000 s`.
Both ranges are fine, they are far from `double` limits where precision could be noticeable. If anything, new range is better because it's close to `

[2022-08-30 05:14] anhappdev opened #491 "Add performance test (throughput) to CI"
Currently, we do have accuracy test in our CI but not performance test (throughput).

[2022-08-30 05:19] freedomtan commented on #347
Let's explore this kind of alternative device service providers.

[2022-08-30 05:22] freedomtan commented on #441
let's close this for now.

[2022-08-30 05:22] #441 closed

[2022-08-30 05:32] freedomtan commented on #488
@anhappdev please try to see it works for our current codebase without causing too many troubles, such as false-alarms.

[2022-08-30 05:43] freedomtan commented on #489
changing the time unit to seconds should be fine as long as we don't require to change vendor backend interface.

[2022-08-30 06:13] freedomtan commented on #472
To answer @anhappdev's question for task affinity and load tracking on Android devices. Yes, we also have this kind of problems, but, fortunately, there is public api (https://man7.org/linux/man-pages/man2/sched_setaffinity.2.html)  and command line tool (taskset, https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark#reducing-variance-between-runs-on-android) to set

[2022-08-31 02:24] #465 closed

[2022-08-31 03:01] anhappdev commented on #121
Xcode Cloud subscription is now available.
https://developer.apple.com/news/?id=5hlzzu3u

[2022-08-31 14:53] freedomtan commented on #472
@anhappdev and @mkankana quick test shows that adding artificial loads works for Image Classification (531.93 -> 744.33) and Object Detection (356.58 -> 449.37) on iPhone 13. Most of the time, with the artificial loads I added, big cores are used most of the time. Now, the problem is how to add appropriate loads. With continuous computation on CPU(s), it's easy to run into thermal wall as @Mostelk

[2022-08-31 22:19] freedomtan commented on #472
FYI, a round with my naIve artificial load

<img width="200" alt="Screen Shot 2022-09-01 at 6 13 17 AM" src="https://user-images.githubusercontent.com/3395998/187795104-624ad17c-dd06-4720-b31e-ccd644829450.png">

[2022-09-04 19:11] d-uzlov opened #495 "Enable `unawaited_futures` flutter linter rule"
It's a very useful linter rule that is not enabled by default for some reason.

Rule reference: https://dart-lang.github.io/linter/lints/unawaited_futures.html

[2022-09-04 22:17] d-uzlov opened #497 "Check that accuracy value is valid"
If accuracy of some benchmark is NaN or infinity for any reason, user sees an absolutely uninformative message.
Or if the value is outside of the allowed range the app will silently save it.
We should check accuracy values and raise a proper exception that makes it clear what happened.

[2022-09-05 07:26] anhappdev commented on #488
I tested the SonarScanner on this code base. In general, I think we can use it for code analysis and focus on new code, new commits only.

Here is an example warning in the dashboard.
<img width="1518" alt="Screenshot 2022-09-05 at 14 24 21" src="https://user-images.githubusercontent.com/85728587/188392020-160d361e-9a2b-4b88-9b55-1be564a6cf12.png">

It may not detect all issue, but some red warnin

[2022-09-05 07:32] anhappdev commented on #472
On my device iPhone XS, the artificial loads didn't increase the score, but does not decrease it either. Looks like that each device behaves differently. Should we include this in the app?

[2022-09-05 17:22] #480 closed

[2022-09-05 17:23] #495 closed

[2022-09-06 00:56] d-uzlov opened #505 "Add filtering by OS type to online screen"
Parent issue: https://github.com/mlcommons/mobile_app_open/issues/490

User should be able to search for results from one or more specific OS types.

[2022-09-06 00:59] d-uzlov opened #506 "Add filtering by backend to online screen"
Parent issue:
* https://github.com/mlcommons/mobile_app_open/issues/490

Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/505

User should be able to search for results from one or more specific backends.

### Open question

Should we count tflite backend as one backend or create a separate search entry for each OS?

[2022-09-06 01:02] d-uzlov opened #507 "Convert model codename to human-readable name for online results"
Currently we get and save model as the OS reports it.
OS actually reports a model identifier instead of human-readable model name.

We should look for a way to convert model id into model name.

We can probably use the following library:
https://pub.dev/packages/device_marketing_names

[2022-09-06 01:08] d-uzlov opened #508 "Save CPU model in result"
Currently we save very limited info about app environment: os type, os version, manufacturer, model id.
We should at least also save CPU model.

[2022-09-06 03:05] freedomtan commented on #472
That's kinda expected. I guess Performance cores are used most of the time (because of fallbacked ops) on iPhone XS already. On the iPhone 11 Pro I loaned from my colleague, I saw CPU loads are Performance cores most of time.

[2022-09-06 03:10] anhappdev commented on #472
Instead of adding the artificial loads, I think we can also add a CPU only ops to the models to have the same effect?

[2022-09-06 03:57] freedomtan commented on #472
theoretically, yes. I don't know how to do it properly, though

[2022-09-06 04:02] #439 closed

[2022-09-06 04:02] #461 closed

[2022-09-06 04:02] #462 closed

[2022-09-06 05:16] freedomtan commented on #467
We are making progress. We'll add more unit tests incrementally. Close this for now.

[2022-09-06 05:16] #467 closed

[2022-09-06 05:21] freedomtan commented on #121
@mkankana and @TheKanter please check if we (mlcommons) can pay for this and which account (XOR or mlcommons' account) to use. And which price tier?

[2022-09-06 05:23] freedomtan commented on #507
this is for (android) device code name.

[2022-09-06 12:43] #477 closed

[2022-09-06 12:58] #485 closed

[2022-09-07 01:04] d-uzlov commented on #322
All related PRs have been merged, we can close this.

[2022-09-07 01:04] #322 closed

[2022-09-07 06:25] freedomtan commented on #472
# why `QOS_CLASS_UTILITY`  will place a thread on efficient cluster(s)
As I mentioned before, `pthread_set_qos_class_self_np(QOS_CLASS_UTILITY, 0);` is likely to put threads on efficient clusters. But why? When I was checking if it's possible to force threads to run on performance cluster(s), I read through some macOS kernel source code and found that,

- On M1 machines, the scheduler in use is th

[2022-09-09 08:14] freedomtan commented on #472
# What doesn't work
Put down things I tried but failed to for threads on performance clusters.

- `pthread_set_qos_class_self_np()` : `QOS_CLASS_USER_INTERACTIVE` [1] doesn't work
- `pthread_setschedparam()`: setting `SCHED_RR` doesn't work [2]
- `thread_policy_set()` and `THREAD_TIME_CONSTRAINT_POLICY` [2]:  doesn't work
- `thread_policy_set()` and `THREAD_AFFINITY_POLICY`: setting thread affinit

[2022-09-12 07:49] d-uzlov commented on #508
It seems there is no well defined API to get phone SoC on Android.
I see the following possible solutions:
1. Use [cpuinfo](https://github.com/pytorch/cpuinfo) library
This library is OK for Windows and Apple but when I checked it on Android it failed on more than half of devices that I tested.
2. Read `getprop`
    * Currently I see that `ro.soc.model` is available on _some_ of the Samsung and Go

[2022-09-12 18:08] mkankana commented on #472
Looks like the artificial load is decreasing performance on segmentation and language models. Should we consider not doing this load for these 2 workloads ?

Below is the performance share by @anhappdev without the load.

<img width="216" alt="MLPerf_IOS" src="https://user-images.githubusercontent.com/43794796/189725403-8e5bde0b-5eaf-479c-9b0f-7015490da4a8.png">

[2022-09-13 01:49] AhmedTElthakeb opened #511 "Change mlperf_datasets directory to /sdcard to accommodate flutter for older devices"
For older devices with Android 11, an issue is observed with accessing mlperf_datasets directory required by flutter app for submission mode runs.

`E/flutter: [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: FileSystemException: Exists failed, path = '/storage/emulated/0/Android/data/org.mlcommons.android.mlperfbench/files/mlperf_datasets/imagenet/img' (OS Error: Permission denie

[2022-09-13 02:41] d-uzlov commented on #511
Could this be just an issue with your device?

Our CI for tflite backend uses Pixel 5 with Android SDK 30, which corresponds to Android 11, and we never saw any issues with access to the data folder.
Also I have run the same CI with SM-G981U1 (Samsung S20) with SDK 29 (Android 10) several times, and there were no issues.

If I remember correctly, using the `Android/data/<package-id>` was the prefe

[2022-09-13 03:06] AhmedTElthakeb commented on #511
Will try on other devices, but just to clarify I mean here the "full" dataset that is required for accuracy evaluation, performance mode runs with no problem.

https://github.com/mlcommons/mobile_app_open/blob/83a93543dffff7d59249af55472e0bb67a42a260/flutter/assets/tasks.pbtxt#L16

[2022-09-13 03:37] d-uzlov opened #514 "App reports too high `measured_samples` value"
It seems we have an error in the code counting queries.

This not only affects logs/json, but can also affect calculated performance for offline benchmarks.

[2022-09-13 05:25] freedomtan commented on #511
@AhmedTElthakeb will verify this again. @freedomtan can try to find an Android 11 device.

[2022-09-13 05:28] #488 closed

[2022-09-13 05:46] freedomtan commented on #472
Let's add an option to turn on and off artificial load?

[2022-09-13 08:15] #514 closed

[2022-09-13 13:22] mohitmundhragithub commented on #511
The error points to this file... But i don't see this file in the code base. Is this some local change?

[2022-09-13 13:33] d-uzlov commented on #511
I believe it's a file from the Flutter framework.
Look at the full stack trace to find the place where the exception actually occurred.

[2022-09-14 09:19] freedomtan commented on #472
# Thread Affinity

The task/thread affinity (to specific processors/cores), or say processor affinity, is tricky on macOS/iOS. Generally, pthread doesn’t have affinity functions. The Linux pthread_{set,get}affinity_np() functions are not standard ones. Consequently, there is no something like the linux taskset could be used. The macOS does have some kind of thread affinity, but it is different fro

[2022-09-14 22:36] mkankana commented on #472
**"Artificial CPU Load"**
"Some devices perform better with an additional artificial CPU load during test"

@anhappdev  could you please use the above wording for the toggle button. Could we also keep it "ON" by default .

[2022-09-15 01:37] anhappdev commented on #472
Ok. Done.

[2022-09-15 03:57] anhappdev opened #518 "Avoid manually handling of JSON serialization"
We have many classes with `manual` JSON serialization and will have more.
https://github.com/mlcommons/mobile_app_open/search?q=fromJson
https://github.com/mlcommons/mobile_app_open/search?q=toJson

Since we already use [Protocol Buffers](https://developers.google.com/protocol-buffers) in the app (e.g. [mlperf_task.proto](https://github.com/mlcommons/mobile_app_open/blob/master/flutter/cpp/proto/m

[2022-09-15 04:08] #507 closed

[2022-09-15 04:12] anhappdev commented on #508
I am not sure that we should try to get hardware information in this app.
* First it's not easy to get it right as @d-uzlov has tried
* Second we already store device model code, which should be enough to look up in an online DB which hardware it has (e.g. [gsmarena.com](https://www.gsmarena.com/makers.php3))

[2022-09-15 04:23] d-uzlov commented on #508
There are still reasons to have hardware information in the app:

1. Windows devices don't have any model info
2. It is required to filter online results by hardware. Though, it will probably require more effort than I have originally thought.

We can discuss if this is important to us in the next weekly meeting.

[2022-09-15 04:29] d-uzlov opened #519 "Print json result in integration test"
Having the whole result json from a test can be helpful in debugging.

[2022-09-15 04:53] anhappdev commented on #508
If hardware here means device model code / name than we already have it. If it means hardware component like CPU (what this PR is about) than yes we really need to discuss if it's important to have it in this app.

[2022-09-15 08:29] d-uzlov commented on #518
Most of the serialization are for exporting the data to firebase via a Node server (== typescript/javascript code).
* I don't see neither typescript nor javascript listed as a an officially supported language
* Firebase internally works with JSON. Even if we somehow make protobuf work with TS/JS, we would get additional conversions `protobuf → json` and `json → protobuf` with possible bugs and unw

[2022-09-15 08:29] d-uzlov commented on #518
I do agree that we have uncomfortably large amount of JSON serialization code in the repo.
I think it could solved by using code generation.
Particularly there is this library: https://pub.dev/packages/json_serializable

[2022-09-15 08:34] d-uzlov commented on #518
By the way, if anything, I would like to switch from protobuf to YAML for that particular file. Protobuf is not built for configuration files.
I don't see a point spending time on this, though, since it's just one file which we rarely edit.

[2022-09-15 10:21] anhappdev commented on #518
`json_serializable` would also work. Let update the title to focus on the main issue which is manually handling of JSON serialization.

[2022-09-16 21:57] Mostelk commented on #511
Another issue, is copying the full accuracy datasets take time, and having  folder inside the App directory make it deleted every time you uninstall the App.

[2022-09-19 06:02] #497 closed

[2022-09-19 08:51] anhappdev commented on #518
Currently, if the `tag` (JSON key) is changed, the JSON file will be failed to parse.
If the `tag` does not match, the JSON file should still be parsed, but the unmatched tag will be empty. This should be the default behavior instead of dropping the old results and create a new JSON file.
Let also implement that this in this issue.

[2022-09-19 12:45] #489 closed

[2022-09-20 02:45] d-uzlov commented on #518
@anhappdev have you started working on this?
If not I'll take it.

[2022-09-20 03:03] freedomtan commented on #511
I tested some non-rooted Android 11 devices (including a Pixel 2 and some MTK devices) with vanilla TFLite backend, they all worked fine. So, I guess that's some kind of file/directory permission issues.

[2022-09-20 03:05] freedomtan commented on #511
That's a good point. Though, I don't think we have to uninstall frequently. @d-uzlov can we avoid the problem mentioned by @Mostelk.

[2022-09-20 03:07] anhappdev commented on #518
@d-uzlov You can take it. Thanks.

[2022-09-20 03:26] d-uzlov commented on #511
I guess the only solution to save the data when you uninstall the app is to keep the data outside of the application folder.

For example, we can make data folder configurable. By default it would be the app folder but there would be a button to choose a custom folder which won't be automatically deleted.

[2022-09-20 03:48] AhmedTElthakeb commented on #511
[APK build by Ahn](https://drive.google.com/file/d/1wRZWMlaeBxDkp1yvUr2elj1A-kPCjGvZ/view) also did not work on S21+ for submission mode, but performance mode runs okay.

adb push mlperf_datasets is not permitted under the app directory. Only internal copying is allowed from /sdcard to the app directory; yet, the app, during submission mode, cannot access mlperf_datasets, only performance mode run

[2022-09-20 05:37] freedomtan commented on #511
For android devices, the `/sdcard/Download/` is supposed to be shared across all apps. Let's see if we can use this folder. We can make it possible for users to choose where the `mlpert_datasets/` is located.

@anhappdev & @d-uzlov

[2022-09-20 05:39] anhappdev commented on #511
Maybe we can use this package:
https://pub.dev/packages/file_picker

[2022-09-20 05:58] anhappdev commented on #347
We don't find any reasonable (cost and time) solution to run CI test on latest gen physical devices so we close it for now.

[2022-09-20 07:21] #475 closed

[2022-09-20 23:09] Mostelk commented on #511
Does it allow us to pick the user-loaded mlperf_datasets directory, or only pick a single file? We can still keep default setting for the downloaded datasets, or this will be a directory for all datasets?

[2022-09-21 02:47] anhappdev commented on #511
It's possible to pick a directory.

Not sure yet, but theoretically the user can choose one directory and the app downloads all files to that directory. It has the benefit that uninstalling the app doesn't delete downloaded files. Actually, I think that is a good idea to let the user choose one directory as a `app:\\` directory. All data (images, models, log, etc.) will be stored there. So `app:\\

[2022-09-21 03:04] freedomtan commented on #511
I think it should be a directory. For example, currently, we are put `mlperf_datasets/` into `/sdcard/Android/data/org.mlcommons.android.mlperfbench/files`. If we choose `/sdcard/Download/foobar/`, then `mlperf_datasets` is supposed to be in `/sdcard/Download/foobar/`.

Choosing "root" of `app://` on sounds good. But removing an app without touching its `app://` directory doesn't always sound righ

[2022-09-21 03:21] Mostelk commented on #511
Yes agreed it should be a directory and it can have both the downloaded data, and the user moved data (accuracy dataset). This will be useful for CI as well, to have a pre-specified directory, you don't need to download the new data every-time, as for testing environment sometimes there is no internet, and CI can be used to test submission mode as well, if the accuracy dataset has already been put

[2022-09-21 05:56] d-uzlov commented on #511
I think that there should be at least 2 data folders:
1. For online cache
2. For data that is managed manually

Both should be configurable separately.

Few thoughts about cache folder:
* Most of the time users don't need to touch downloaded files.
  * As Freedom pointed out, it would be weird if the cache would remain in the device storage after you deleted the app
  * In Android there is an opti

[2022-09-21 12:02] d-uzlov commented on #508
Here's an APK with this change:
https://drive.google.com/file/d/1XszBq3R2X1qSnh9JcF32bDz66uovCu00/view?usp=sharing
You can see if it works correctly on your device if you run the benchmark and look at the "Device SoC/CPU name" field in the result history.

[2022-09-21 18:32] AhmedTElthakeb opened #525 "Samsung libs update to add support for more devices"
Updating [Samsung backend libs ](https://github.com/mlcommons/mobile_back_samsung/tree/samsung_backend_flutter_libs) to support more devices including Exynos 2100 and 1200.

[2022-09-22 04:01] freedomtan commented on #472
Good news and bad news.

A colleague loaned me an iPhone 14 Pro for testing just now. It turned out that we don't need artificial load for iPhone 14 Pro (CPU part of Core ML related stuff is performance cores without artificial). Actually, turning on artificial load increase latency numbers of fully ANE offloaded models.

Good part: it's really an Apple/iOS issue.
Bad part: we had artificial load

[2022-09-22 04:33] anhappdev commented on #472
Should we publish a new build without the artificial load? Or make it off by default?

[2022-09-22 04:46] anhappdev opened #526 "Update app version"
In TestFlight, the latest build is currently distributed as v2.0.0.
1. Should we update the iOS app to 2.1 or 3.0?
2. And also update the Flutter Android app version in the master branch to have both iOS and Android with the same version?

FYI: @mkankana, @freedomtan, @willc2010

[2022-09-22 04:46] freedomtan commented on #472
Removing artificial load, NO, I tested iPhone 13 w/ iOS 16.0 again. We still need artificial load for some devices.
making it off by default, maybe.

[2022-09-22 11:01] d-uzlov commented on #491
@anhappdev, can I take it?

[2022-09-22 11:10] anhappdev commented on #491
@d-uzlov Yes, please.

[2022-09-26 07:28] freedomtan commented on #526
I'll go for something like 2.1.x. And may be we can create a 2.1.x branch for integrating 2.1 submission and the Core ML backend.

[2022-09-27 02:34] freedomtan commented on #472
FYR, I updated my iPhone 13 to iOS 16.1 beta 2, it's interesting that, unlike with previous iOS 16.0 betas, ANE related threads are all on p-cores. However, artificial load still needed. Which means my original guess might be correct, i.e., there are both DVFS and scheduling issues. It seems the scheduling issue is kinda fixed, but the DVFS issue, which might be controlled by CLPC or other kernel

[2022-09-27 04:51] AhmedTElthakeb commented on #525
https://github.com/mlcommons/mobile_app_open/pull/533

[2022-09-27 04:53] d-uzlov opened #534 "Develop migration plan strategy for exported results"
Right now we simply delete exported results that don't match current result specification.
We should think about handling this gracefully.

[2022-09-27 05:36] freedomtan commented on #472
Let's turn off the artificial load by default because "official" app doesn't have it.

[2022-09-28 03:15] d-uzlov opened #536 "Sometimes iOS version doesn't pick up updated native libs after rebuild"
I occasionally encounter an issue that I change and recompile backend or backend bridge but behavior of the app doesn't change until I run `flutter clean`.

[2022-09-28 03:36] anhappdev commented on #534
I can think of the following cases:

1. Add a new field:
    Adding new fields is a very common scenario. All DB system will do it without any issue. I don't think we need a migration plan for adding a new field. Making all fields nullable with a default value would work for me.
3. Delete an existing field:
    The same as adding a new field. Should work without migration.
5. Rename an existing fi

[2022-09-28 04:12] anhappdev commented on #536
I also observed similar issue. I use XCode for installing the app. I always need to clean the build (XCode menu -> Product -> Clean) if I change the backend code.

[2022-09-28 12:14] anhappdev commented on #472
Done. The build v2.0.0 (43) in TestFlight has it off by default.

[2022-09-30 01:03] AhmedTElthakeb commented on #525
@d-uzlov @anhappdev
Please try to build the app with the latest updates (https://github.com/mlcommons/mobile_app_open/pull/535) and let me know if you face any issues.

[2022-09-30 01:04] AhmedTElthakeb commented on #511
Is there any update on this?

[2022-09-30 02:17] d-uzlov commented on #511
I haven't started working on it yet.
I can take it after I finish my current pull request.

[2022-09-30 05:22] #536 closed

[2022-09-30 05:37] anhappdev opened #540 "Make field name in BenchmarkSetting less confusing"
Currently:
1. The `configuration` field is used to describe the ML framework (the software).
2. The `accelerator` field is sometime used to describe the framework (the software) and sometime the hardware.
3. The `accelerator_desc` field has mostly the same value as in `accelerator`.

This caused confusing in many places, so I propose the following changes:
1. Rename  `configuration` field to `fram

[2022-10-03 10:12] d-uzlov opened #542 "Add filtering by manufacturer"
We should add an ability to show all results from devices of a certain manufacturer.
It's a firebase limitation that you can't search for several values at once.

---

Parent issue:
* https://github.com/mlcommons/mobile_app_open/issues/490

[2022-10-03 10:21] d-uzlov opened #543 "Add filtering by device model"
We should add the ability to show all results from a specific device model.
It's a firebase limitation that you can't search for several values at once.

---

Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/542

Parent issue:
* https://github.com/mlcommons/mobile_app_open/issues/490

[2022-10-03 10:25] d-uzlov opened #544 "Add sorting results by date"
Currently results are always sorted by date in descending order.

We should add a button to select sorting type.

User should be able to select ascending or descending sorting by date.

Sorting should be done on server side.

[2022-10-03 10:28] d-uzlov opened #545 "Add sorting results by task throughput"
Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/544

User should be able to select sorting by certain task throughput in descending order.

List of allowed tasks should be predetermined.

[2022-10-03 10:41] d-uzlov opened #546 "Add filtering by date"
User should be able to select a range of dates and view results only from this range.

There is a firebase limitation that range selection and sorting must be on the same field, so filtering by date will only be possible when we sort by date.

Parent issue:
* https://github.com/mlcommons/mobile_app_open/issues/490

[2022-10-03 10:47] d-uzlov opened #547 "Add filtering by hardware (SoC/CPU)"
We should add an ability to show all results from devices with a certain SoC/CPU.
It's a firebase limitation that you can't search for several values at once.

We can (and probably will) encounter issues with SoC naming consistency.

---

Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/508

Parent issue:
* https://github.com/mlcommons/mobile_app_open/issues/490

[2022-10-03 10:56] d-uzlov opened #548 "Add proper result uploading animation"
Currently we have an "Upload" button that silently works, and after a few seconds shows success or error alert.

We should create a proper menu with animation for uploading.

[2022-10-03 10:59] d-uzlov opened #549 "Add upload button to past results"
Currently user can upload only the latest result, from the main screen.
We should add a button into the result details screen in the past results list to allow users to upload old results.

[2022-10-03 11:03] d-uzlov opened #550 "Use proper database for local results"
Currently we use a list in a JSON file to store results.
We should use a proper database instead.

[2022-10-03 11:24] d-uzlov opened #551 "Add more info into result details screen"
We display very limited data on result details. That screen also doesn't have a good structure for data that it's showing.

We should add separate sections for results metadata: environment info, build info.

We should also improve the visual elements to better match mockups.

[2022-10-03 11:26] d-uzlov opened #552 "Add "build date" field into `build_info` section of results"

[2022-10-03 11:31] d-uzlov opened #553 "Cooldown is not cancelled when you cancel the benchmark"
How to reproduce:
Enable cooldown.
Start benchmark, wait for cooldown to start.
Press "Cancel" button.

Expected behavior:
Benchmark is immediately cancelled and you can restart it.

Actual behavior:
UI is blocked until the cooldown is finished.

[2022-10-03 11:39] d-uzlov opened #554 "Save short system version in results"
Currently we save the full system version. For example:
* Windows: `"Windows 10 Enterprise" 10.0 (Build 19044)`
* iOS: `Version 15.5 (Build 19F77)`
* Android: `SP1A.210812.016.G996BXXS5CVHI`

We should save structured OS version info.
There should be at least 2 separate fields: "version number", "version build", which shouldn't contain additional info.

[2022-10-03 11:41] d-uzlov opened #555 "Add CI test for Qualcomm backend"
Currently in our Android CI we have tests only for tflite and pixel backends.
We should add a test for Qualcomm backend as well.

[2022-10-03 11:45] d-uzlov opened #556 "Refactor `state.dart` file"
In previous refactoring we skipped the `state.dart` file.
https://github.com/mlcommons/mobile_app_open/blob/b8c37441fb513a5c3425af37560d0064c27ff445/flutter/lib/benchmark/state.dart

Currently this file has several responsibilities and it's quite big, so we should spend some time refactoring it to make other tasks easier and reduce possibility of introducing bugs.

[2022-10-04 05:12] #525 closed

[2022-10-04 05:17] freedomtan commented on #508
@freedomtan to test this apk on some MediaTek devices and on Pixel 4.

it would be great if we can test the app on other devices, @AhmedTElthakeb, @mohitmundhragithub, @ptt2panda

[2022-10-04 05:25] freedomtan commented on #511
Let's prioritize this

[2022-10-04 05:45] freedomtan commented on #540
Let's all try to make the `accelerator_desc` fields of backend configurations more descriptive.

@freedomtan, @AhmedTElthakeb, @ptt2panda, @mohitmundhragithub

[2022-10-04 05:56] anhappdev commented on #540
Please just comment the new text for `accelerator_desc` here in this issue first.
We can discuss later where should we put those texts (in the `BenchmarkSetting` or in the localized strings of the app)

[2022-10-04 06:09] anhappdev commented on #511
Let agree upon how we want to implement it first.
I would summarize above discussions and translate it to the following implementation approach:
1. Paths with `https://` prefix will be downloaded into the application directory like before.
2. Paths with `app://` prefix with be translated to a custom directory. This custom directory defaults to application directory (like until now) but can be chan

[2022-10-04 06:13] d-uzlov commented on #511
I agree, except I think both directories should be configurable.

[2022-10-05 01:25] ptt2panda commented on #508
@kcwu

[2022-10-05 03:25] anhappdev commented on #511
The app will download `https://` links on start so if it's configurable, the user should be able to set it on the first app start, which will make the flow (and code changes) more complex. If there is no important use case for it now, I prefer not to do it. We can always add it later if we really need it.
BTW, if a vendor wants to avoid download `https://` links, a custom task file with all local

[2022-10-05 03:42] anhappdev commented on #472
Let summarize what we have observed until now:
1. Setting a higher thread priority or dispatch queue priority have no impact on performance in this case
2. Using the new [ML Program](https://coremltools.readme.io/docs/ml-programs) model type can increase throughput in some devices, but decrease throughput in some other devices.
3. Using the `artificial load` can increase throughput in some devices

[2022-10-05 05:57] d-uzlov commented on #511
Makes sense.
We can omit the UI option for `https` cache folder but still keep the ability to set a custom one it during build.

[2022-10-05 06:37] anhappdev commented on #511
I think the ability to add and set a custom task file as default during build is more appropriate. We can also add a new one with local paths only for convenience.

Adding the build option to set a default location for storing `https` files means each build can have a different location, we will then probably need a UI to show the custom location to know where the file is stored. Another issue wou

[2022-10-05 08:11] d-uzlov commented on #511
Yeah, we probably should.

Obviously custom folders are platform dependent.
If I remember correctly, this was the primary reason we switched to app folder for all data in the first place, because iOS and Windows don't really have an /sdcard folder.

My intent is to use it for test builds.
So you create a certain build with some backend and set a custom folder for your certain device that you are u

[2022-10-05 08:44] d-uzlov commented on #511
Also custom task config don't affect backend settings.

[2022-10-05 09:28] kcwu commented on #508
The apk works on Pixel 6 and 7. I saw the original soc name on Pixel 7 and the decoded soc name on Pixel 6.

[2022-10-05 09:29] anhappdev commented on #511
Most of the use cases are special cases for vendors and CI, right?

What if we add a `build option` to configure the default application directory (where downloaded files and app generated files are stored)? No need for customizing the `app:\\` prefix anymore. This solution would be more simple.

[2022-10-05 09:39] d-uzlov commented on #511
Yep.

This is what I'm going to do with the cache folder.
But there is still a case for end users for the accuracy testing.

[2022-10-05 09:45] anhappdev commented on #511
Normal end users will most likely do not have the dataset required for accuracy testing.

Anyway, I think it's ok to do both as you suggest:
1. Add a build option to configure the default application directory
2. User can change the default location for the `app:\\` prefix in the app settings

[2022-10-05 09:50] d-uzlov commented on #511
Well, here I mean just users that don't build the app themselves :)

[2022-10-05 10:06] anhappdev commented on #511
Great. Let do it. The discussion is a bit long but it takes certainly less time to think it through first than code it and change it later in the PR review.

[2022-10-05 22:40] freedomtan opened #558 "Preparing a super-resolution dataset"
We are planning to add an image super-resolution benchmark, so need a new `dataset` (in term of our code, see existing datasets [`here`](https://github.com/mlcommons/mobile_app_open/tree/master/flutter/cpp/datasets). Previously, SNU folks submitted a PR to use the ImagePairs dataset. Although, we decided not to go with ImagePairs, that PR could serve a starting point.

1. The 25 pictures datasets:

[2022-10-07 02:23] anhappdev opened #560 "Use the same scripts for format and lint in local and CI environment"
When creating a new PR I got an error with the workflow `Format & lint / C++`. It looks like the current used `v4.3.1` of the workflow does not work anymore because the runner image version has changed. Updating the workflow to latest version `v4.9.0` resolves the issue in the old version, but it also adds a check for `.proto` file and fails at that step.

For this particular issue, we can reforma

[2022-10-07 08:34] d-uzlov opened #563 "Cloudbuild Android CI fails on timeout"
Last few builds failed on timeout when downloading test APKs.
The download works, it's just a bit slower than it should be.
We should be able to fix it by increasing the timeout.

[2022-10-07 09:41] #563 closed

[2022-10-10 01:09] anhappdev opened #565 "Retire Jenkins for CI build and test iOS"
We are now using GitHub Actions for testing iOS build (https://github.com/mlcommons/mobile_app_open/pull/559) and Xcode Cloud for deployment to TestFlight (https://github.com/mlcommons/mobile_app_open/pull/367). So the Jenkins server can now be retired.

[2022-10-11 01:44] freedomtan commented on #508
- [ ] Google| tested on Pixel 6 and 7
- [ ] MediaTek: tested on some internal devices, Android property `ro.soc.model` is correctly reported
- [ ] Qualcomm:
- [ ] Samsung:

[2022-10-11 02:30] #526 closed

[2022-10-11 02:32] anhappdev opened #568 "Merge submission v2.1"
- [x] Merge Qualcomm changes into `submission-v2.1` (https://github.com/mlcommons/mobile_app_open/pull/566)
- [x] Merge Qualcomm changes into `master` (https://github.com/mlcommons/mobile_app_open/pull/567)

[2022-10-11 03:29] AhmedTElthakeb commented on #508
The apk shows device soc/cpu name okay on samsung S21+ and S22+

[2022-10-11 04:37] d-uzlov commented on #490
### Firebase limitations

* Support for logical operators `OR` and `!=` is very limited
  * `OR` is only possible once per query and is limited by 10 values in one array field
  * `!=` is only possible once per query
  * `OR` and `!=` are mutually exclusive
* You need to create an index for everything
  * At the very least you need a special index for each queried field and for each sorting option

[2022-10-11 04:51] d-uzlov opened #569 "Move `selected backend` field in results from benchmark data to top level"
Currently we have a separate `selected backend` field for each task because supposedly backends can delegate some tasks to other backends.
However, it's invisible for the application. Application selects only one backend binary at the launch.
The only thing application can see is metadata reported by backend: `backend_name`, `vendor_name`. This metadata will still be per task.

We need `selected b

[2022-10-11 05:55] freedomtan commented on #490
@mkankana for your information, the limitation of Firebase

[2022-10-11 09:35] d-uzlov commented on #490
If we want to update our database scheme without killing old version(s) of the app, we will also need to keep indices for several database schemes. Alternatively we will need to create several Firebase projects.

[2022-10-11 10:26] mohitmundhragithub commented on #508
The device name showing up for Qualcomm is same as what is shown in adb shell. Not sure if this name will be useful for showing the results.
e.g. For SD8PG1, it will show "Taro" as the CPU name. This name will be different for different devices.

[2022-10-11 15:20] #518 closed

[2022-10-12 02:38] freedomtan commented on #508
For Pixel 4,

<img src="https://user-images.githubusercontent.com/3395998/195236136-83ebb852-a5ce-44d1-b899-80bb71b41332.png" data-canonical-src="https://user-images.githubusercontent.com/3395998/195236136-83ebb852-a5ce-44d1-b899-80bb71b41332.png" width="200" />

[2022-10-12 03:19] anhappdev opened #570 "Update Flutter version from v2.10 to v3.3"
We are currently using Flutter `v2.10` which was released on Feb 3, 2022. The latest version is Flutter `v3.3`, released on Aug 31, 2022.
(see https://docs.flutter.dev/whats-new and https://docs.flutter.dev/development/tools/sdk/release-notes)

I would update the Flutter version now and not wait too long to avoid too many changes at once.

[2022-10-12 03:36] anhappdev commented on #565
@d-uzlov Would you take this task, since you are already familiar with the Jenkins setup?

[2022-10-12 03:39] anhappdev commented on #121
We now have GitHub Actions for running iOS tests so the current 25 hours plan would be fine since we only use it for TestFlight deployment.

[2022-10-12 03:39] #121 closed

[2022-10-12 05:20] d-uzlov commented on #565
I guess the only thing we need to do is shut down servers.
Do you have anything else in mind?

[2022-10-12 05:51] anhappdev commented on #565
Maybe close the billing of the unused 3rd party service if necessary.

[2022-10-12 05:53] d-uzlov commented on #565
Ok, I'll take it.

[2022-10-12 06:41] d-uzlov commented on #565
We have the following resources that we no longer need:

* macincloud dedicated server. Status: requested delete
* jenkins VM in GCP. Status: stopped
* jenkins VM static IP. Status: working
* jenkins DNS entry. Status: working
* jenkins github webhooks. Status: working
* jenkins github account. Status: working

Billing for macincloud is managed by MLCommons.
Jenkins resources are either part of GC

[2022-10-12 07:28] #511 closed

[2022-10-12 08:37] mohitmundhragithub commented on #508
Can you share the database please? Is it in our repo somewhere?

[2022-10-12 08:45] d-uzlov commented on #508
https://github.com/mlcommons/mobile_app_open/tree/86a98812ac602bb687297bd666a97552b9c95717/flutter/assets/android-boards

[2022-10-12 10:20] anhappdev opened #572 "Use strlcpy instead of strcpy"
The code scanner raised warnings about using of `strcpy`.
Since the alternative function `strlcpy` is more safe to work with [1] and would resolve the warning, we can replace `strcpy` with `strlcpy`.

[1] [SecureCodingGuide/Articles/BufferOverflows](https://developer.apple.com/library/archive/documentation/Security/Conceptual/SecureCodingGuide/Articles/BufferOverflows.html#//apple_ref/doc/uid/TP40

[2022-10-12 17:05] manasakankanala commented on #565
@morphine00 Adding you to the thread.
Once this issue is closed , could you please also close the billing related to this CI. @d-uzlov  has added the item list in the above comment.
Thanks

[2022-10-13 07:59] anhappdev commented on #570
Here are some new features which are most interesting for us, IMO:

[2022-10-13 14:00] #572 closed

[2022-10-13 20:33] morphine00 commented on #565
I've cancelled the MacInCloud subscription today. I believe the machine itself will stay up until the billing cycle is up (3rd of each month), so we can reactive it if we forget something.

[2022-10-16 05:07] anhappdev commented on #540
Since we are all agreed in the meeting that `configuration` should be changed to `framework`, I created PRs for it first, other fields will be updated after discussion.

[2022-10-17 01:24] #568 closed

[2022-10-18 05:00] d-uzlov commented on #534
My thoughts on this:

### Reasoning to have migration

1. When user updates the app, old data should still be available.
2. When user downgrades the app, it would be nice, but not really necessary to read data from newer version of the app
    * It's not really common for users to downgrade the app. Downgrade cases are mostly relevant for developers.
    * This also applies to switching between br

[2022-10-18 05:31] freedomtan commented on #490
1. mostly we are destined to run into the limitations of Firebase, so we need an alternative.
2. we need either NoSQL, such as MongoDB, or embedded SQL, such as sqlite. Please add some more information of available either NoSQL or SQL DB services.

[2022-10-18 05:36] freedomtan commented on #570
Let's move to v3.

[2022-10-18 05:43] freedomtan commented on #565
Let's keep it running till the billing cycle is up. Then we can close this.

[2022-10-18 06:04] anhappdev commented on #490
I case we need to change to another DB, we should also think about this related issue https://github.com/mlcommons/mobile_app_open/issues/550 at the same time.
So we actually need a local DB for storing benchmark results and an online DB for storing uploaded results. It would be beneficial to have both local and online DB of the same type.

I have worked a lot with DB, so here are some of my thoug

[2022-10-19 06:46] freedomtan commented on #490
A fully-fledge DB on mobile devices sounds weird to me, that's why I mentioned embedded DB such as sqlite, which is supported by Android and iOS. I don't know how hard it is to have sqlite on google cloud, though.

[2022-10-19 08:23] anhappdev commented on #490
With the same type I mean either SQL or NoSQL. If PostgreSQL is for the server (the online DB), then the client can use SQLite (the local DB).

I never tried to use SQLite on the server-side. I think it's better to use one of the available managed databases (e.g. on [Google Cloud](https://cloud.google.com/products/databases)).

[2022-10-19 08:51] d-uzlov commented on #490
SQL is available as a service in GCP, including PostgreSQL.

NoSQL options in GCP are Firestore and Bigtable.
We already know that Firestore doesn't fit our needs.
Bigtable is a low level database, it seems to be oriented toward streams of data, so it also wouldn't work for us.

GCP also has a partnership with other services.
Particularly there are MongoDB Atlas and Elastic Cloud, which provide Mo

[2022-10-19 08:52] d-uzlov commented on #490
I don't think we would really benefit from it.

We have very different needs for local and for online results.

---

Requirements for online results:

* Ability to add a new entry
* List entries
* Sort results by time or score
* Filter sorted results via several criteria
* Handle pagination
* Handle 1000s of entries in the near future, and handle possibly 100k+ in far future

---

Requirements for

[2022-10-19 08:52] d-uzlov commented on #490
Our data structure is a document in a form of JSON.
We don't need to modify these documents after they are generated, but we do need to read some of the values in them for filtering and sorting.

So, our database for results must support the following:
1. List results
2. Filter and sort results based on several selected fields
3. Return source data

In SQL implementation would look like this:
One

[2022-10-19 09:12] anhappdev commented on #490
I prefer that both local results and online results sharing the same code and the same UI, maybe with the only different is a boolean flag "isLocalResult". So reusing UI elements and querying logic would be a big benefit. So, it should use the same type of DB.

[2022-10-21 05:34] d-uzlov opened #582 "Add timeouts to github CI"
Currently we don't have any timeouts, so we use the default timeout of 6 hours.
If the test hangs for any reason, it will wait 6 hours before being cancelled.

It would make sense to set timeout to 2x of typical time for the workflow.

[2022-10-21 08:04] #570 closed

[2022-10-21 20:50] d-uzlov commented on #534
Also all enums should have a default `unknown` value, since we may want to extend the list of supported values.

[2022-10-25 03:56] d-uzlov opened #586 "Update Android compiler version"
After we updated to Flutter v3.3.5 we started getting a warning that we should update Android compiler to v33.
Updating some of the Flutter lib dependencies transforms this warning into an error.

[code]

[2022-10-25 04:25] d-uzlov opened #587 "State of score collection"
# What we want

* In the app
  * Result uploading
  * List of online results
    * With pagination
    * With changeable sorting
    * With filtering
* On server side
  * Validate result and put it into database

# What we currently have

We have a prototype which uses Firebase services:

* Uploading is working
* Online results are available
* Pagination is missing
* Sort is missing
* We have a fi

[2022-10-25 04:46] d-uzlov commented on #555
Devices currently available in Firebase:

* SM-G981U1, Snapdragon 865
* SM-F926U1, Snapdragon 888
* SM-F916U1, Snapdragon 865
* SM-F711U1, Snapdragon 888

[2022-10-25 05:04] freedomtan commented on #490
in the old days when I learned to use DB on PCs decades ago. There is something called ODBC, which was intended to serve as a universal API to all relational DBs. Do we have something like for Flutter.

[2022-10-25 05:38] freedomtan opened #588 "Documents for setup CI lab physically in the US"
1. host machines and all the supported devices...
2. air-conditioned?
3. manually intervention??

[2022-10-25 05:43] freedomtan commented on #588
how "long" we are going to support older devices? we need to define it.

[2022-10-25 05:50] freedomtan commented on #586
Let's create test apk to see if this breaks something or as expected (breaking nothing).

[2022-10-25 06:05] anhappdev commented on #490
Another solution as mentioned in the meeting:

If the number of results is not big, we can just query all the results from Firebase then do the filtering locally on-device using the Dart programming language. So we can still use Firebase for now and have the feature with the least effort.

Later if the data grows big enough, we can transition to use another solution which is suitable for large-sca

[2022-10-25 06:23] anhappdev commented on #586
Per this blog post [Picking your compileSdkVersion, minSdkVersion, and targetSdkVersion](https://medium.com/androiddevelopers/picking-your-compilesdkversion-minsdkversion-targetsdkversion-a098a0341ebd#.bpqsg4ili), maybe we should also update the `targetSdkVersion` to `33`

    targetSdkVersion == compileSdkVersion (latest SDK)

[2022-10-25 09:44] d-uzlov opened #589 "Rename "Benchmark" into "Task" (for disambiguation)"
Currently we use the word "benchmark" for both individual benchmarks of one model, and for the benchmark suite, or the app as a whole.
It would be easier to understand if we rename individual benchmarks to "Task".
We already use this name in some places.

[2022-10-26 04:39] d-uzlov opened #590 "Add a test that backend doesn't use accelerator fallbacks"
Some backends (particularly, TFLite backend and those which are based on it) can use accelerator fallback.
If accelerator code in config is invalid, or if current device just doesn't have the specified accelerator, backend will use CPU instead, to make sure the app at least works, even if the performance is low.

We should add a check into our integration test that backend doesn't do it, to make s

[2022-10-26 06:58] #540 closed

[2022-10-26 09:22] #508 closed

[2022-10-27 10:47] d-uzlov opened #593 "Increase model downloading timeout for integration test"
I occasionally see the integration test fail because internet access on test device is slow, and the test just doesn't have time to download the models and test datasets.
Increasing time limit for downloading 2x should fix it.

[2022-10-28 03:00] freedomtan commented on #558
Tested on x86 Ubuntu 22.04 machine, Pixel 6, and MTK devices:

* x86 Ubuntu 22.04 machine
[code]

* pixel 6
[code]

[2022-10-28 03:41] anhappdev commented on #588
I think we will have many same questions as in the case of building a local server vs. using a cloud server?
But in the case of mobile device testing, we will have more issue to deal with since the software stack for it is not as mature as for server.

Hardware side:

- Stable power
- Stable internet connection
- Secure and safe place

Software side:

- How to deal with app crashes?
- How to deal

[2022-10-28 03:58] d-uzlov opened #594 "Enable "Share" option by default end remove it"
Currently the app has "Share" option in settings.

This option has the following description in the app:
Share your anonymous results and basic system information.

This option does the following:
* It adds "Share Results" button in the result screen
* It adds "Upload" button in the result screen if the app is built with Online Score Collection feature enabled

The app doesn't have any telemetry,

[2022-10-28 04:02] freedomtan commented on #558
Script I used to convert fp32 tflite models,
[code]

The `convert_edsr_with_fixed_sizes.py`
[code]

[2022-10-28 05:24] freedomtan commented on #558
For preparing jpeg images,
0. there are 1080x1920 ones.
[code]

We can easily rotate them with some tools. E.g., With [ImageMagick](https://imagemagick.org/index.php), we can rotate them

[code]

2. Then we can convert them to jpeg files
[code]
3. and 960x540 lower resolution jpeg files
[code]
3.

[2022-10-28 06:28] freedomtan opened #595 "add a super resolution benchmark/task"
When the dataset part (https://github.com/mlcommons/mobile_app_open/issues/558)  of super resolution is done.
- [x] dataset part, see #558 and https://github.com/mlcommons/mobile_app_open/pull/574
- [x] add super resolution for the tflite backend as a reference for other backends, d23d16c
- [x] add corresponding code for frontend
- [x] prepare coreml model for the Core ML backend, see #558
- [ ] a

[2022-10-28 08:09] freedomtan commented on #558
With model and images mentioned above and the dataset #574 PR

model | estimated operations (G OPs) |  PSNR (dB)
-- | --: | --:
pl_f28b5 | 84.66 | 33.38
pl_f28b6 | 99.33 | 33.43
pl_f28b7 | 114.01 | 33.46
pl_f32b5 | 109.89 | 33.44
pl_f32b6 | 129.05 | 33.49
pl_f32b7 | 148.21 | 33.52
pl_f64b3 | 276.91 | 33.50
pl_f64b5 | 429.99 | 33.64
pl_f64b7 | 583.07 | 33.73
pl_f64b16 | 1271.94 | 33.85

[2022-10-31 07:44] freedomtan commented on #558
# Converting models to Core ML .mlmodel

## Conversion
Converting to a saved_model models to a Core ML .mlmodel is quite straightfoward. With following
[code]
We can get mlmodel files in mlmodel direcoty. The convert_edsr_mlmodel.py is

[code]

## Verifying converted mlmodel files
On mac machines, we can verify if converted models work well by comparing the output tensors of running inference with

[2022-10-31 09:40] d-uzlov opened #598 "Use permalinks for Samsung backend binary"
Currently the link to Samsung binaries is a link to a branch:
`https://github.com/mlcommons/mobile_back_samsung/tree/samsung_backend_flutter_libs/samsung_libs/mobile_back_samsung/samsung`
https://github.com/mlcommons/mobile_app_open/blob/46a1bbb3306aadfbf87bf18bfc2e96365cd1c52c/mobile_back_samsung/README.md#L4

Binaries can be updated silently.
While this may be convenient to avoid creating pull r

[2022-10-31 09:41] d-uzlov opened #599 "Move download cache into the proper cache folder on Android"
Currently we use the application folder for storing downloaded files.
If we move downloaded files into the cache folder we can make use of Android built-in functionality of clearing cache without affecting important files.

[2022-10-31 10:14] d-uzlov opened #600 "Set proper branch name and build number meta info on Android and Windows CI"
The application has meta info of the build environment.
On CI some of the info is not set properly:
- Branch name is always the default, `master`
  - CI has access to the branch name of the pull request, so we can write it in the app meta info
- Build number is always `1`
  - We can use number of commits in the current branch as a build number

[2022-10-31 10:19] d-uzlov opened #601 "Does performance test need to test accuracy?"
Currently we have the following comment on the `ProcessOutput` method:
https://github.com/mlcommons/mobile_app_open/blob/38327317a45fd0593fb92240b14c4c0e99a46292/flutter/cpp/dataset.h#L56-L61

However, this is incorrect, because `ProcessOutput` is called unconditionally:
https://github.com/mlcommons/mobile_app_open/blob/38327317a45fd0593fb92240b14c4c0e99a46292/flutter/cpp/mlperf_driver.cc#L55-L56

[2022-11-01 06:18] freedomtan commented on #558
Notes on discussion with @Mostelk during engineering meeting the week of Nov 1st.

- can we use tflite models provided by SNU folks for evaluation: the short answer is NO.
   - those tflite models come with dynamic shapes (1x1x1x3), our tflite backend  doesn't support it for now. And the dataset also assume fixed shape. So we have to generate tflite models from saved_model checkpoints.
   - for fl

[2022-11-02 03:20] freedomtan commented on #558
It turns out, it's possible to convert QAT saved_model checkpoints to tflite with [TensorFlow 1.x converter](https://www.tensorflow.org/api_docs/python/tf/compat/v1/lite/TFLiteConverter)

[code]

And we can compare quantized int8 tflite model with the following script:
[code]

[code]

Yes, the difference between a QAT saved_model and a quantized tflite is larger than Core ML model (which is in fp)

[2022-11-02 07:53] freedomtan commented on #558
Does the command line `//flutter/cpp/binary:main` work for quantized int8 tflite models converted from QAT checkpoints? Yes, after changing two lines of code, https://github.com/mlcommons/mobile_app_open/pull/574/commits/888b0bc585762c7a7e9f00d538fea491a23c8d3b,

model | estimated operations (G OPs) | fp32 PSNR (dB) | quant int8 PSNR (db)
-- | --: | --: | --: |
pl_f28b5 | 84.66 | 33.38 | 33.25
pl_

[2022-11-02 16:09] anhappdev commented on #565
I think it would be ok to close this now.

[2022-11-02 16:09] #565 closed

[2022-11-03 02:07] freedomtan commented on #558
with https://github.com/mlcommons/mobile_app_open/pull/574/commits/46028cb3c34203adf9d45d8bbc37933f9f136b72, I made running `//flutter/cpp/binary:main` with `libcoremlbackend.so` work expected. We have PSNR numbers either the same with or better than tflite interpreter x86_64 numbers.

model | estimated operations (G OPs) | fp32 PSNR (dB) | CoreML PSNR on M1 (dB) | quant int8 PSNR (db)
-- | --: |

[2022-11-03 06:22] #491 closed

[2022-11-04 05:01] freedomtan commented on #595
# How to Add a New Task to MLPerf Mobile App (a draft)
Steps
1. add a dataset to `flutter/cpp/datasets`. For example,
    * add `snu_sr.{cc,h}`  and corresponding building rule(s) in `flutter/cpp/datasets/BUILD`
    * what does "a dataset" mean? A dataset here is to implement [**LoadGen**](https://github.com/mlcommons/inference/tree/master/loadgen)'s  Query Sample Library (QSL). Actually, we can s

[2022-11-08 06:30] freedomtan commented on #472
We can close this for now.

[2022-11-08 06:30] #472 closed

[2022-11-09 00:58] #598 closed

[2022-11-11 02:41] #558 closed

[2022-11-11 04:34] anhappdev opened #610 "Update model and dataset paths for Super Resolution task"
- [x] Update description text for the Super Resolution task
- [x] Use `rgb8` instead of `jpg` images

After merging https://github.com/mlcommons/mobile_models/pull/51:
- [x] Update `input_path` and `groundtruth_path` of dataset in `tasks.pbtxt`
- [x] Update `model_path` and `model_checksum` in `tflite_settings_android.h`
- [x] Update `model_path` and `model_checksum` in `tflite_settings_apple.h`
-

[2022-11-15 07:00] freedomtan opened #611 "Status check of the V2.1 release APK"
please help check the draft apk, https://github.com/mlcommons/mobile_app_open/releases/download/untagged-d5a1a09c36e36393ca29/mlperfbench-v2.1-qsmgt.apk

- [x] Samsung
- [x] Qualcomm
- [x] MediaTek
- [x] Google

[2022-11-16 03:48] freedomtan commented on #611
@kcwu cannot tag you as assignee, please help the draft 2.1 apk

[2022-11-16 06:47] freedomtan opened #612 "investigate PSNR gap"
as mentioned in https://github.com/mlcommons/mobile_app_open/pull/608#issuecomment-1313345456, the PSNR numbers reported by SNU folks are general larger than what returned by current dataset snu_sr implemented.

[2022-11-16 06:58] freedomtan commented on #612
With a quick python script, let's called check_psnr.py, we can

1. compare fp32 tflite output and TF saved_model output
2. calculate PSNR with `tf.image.psnr` and some naive implementations (`psnr()` and `psnr_2()`)

[code]

We got
[code]

Which means
1. `tf.image.psnr` returns is close to our naive implementations
2. reported numbers not close to SNU numbers,. Actually, they are lower than C++ nu

[2022-11-16 07:28] freedomtan commented on #612
Fortunately, if we replace the jpeg decoding part (`tf.image.decode_image()` with [`Pillow Image`](https://pillow.readthedocs.io/en/stable/index.html), we can get
[code]

Which means we got **PSNR = 33.44**, which matches our C++ implementation.

The moral is that image decoder matters :-)

[2022-11-16 07:53] freedomtan commented on #612
if we change `tf.image.decode_image()` to `tf.image.decode_jpg()` and set `dct_method='INTEGER_ACCURATE'`

[code]

we can get
[code]

[2022-11-20 07:03] anhappdev commented on #590
I think there is no need for this kind of test right now because:
1. We already have a throughput test. If a device does not use the accelerator as expected, the throughput will drop and fail the test.
2. All backends must correctly report the accelerator used but it's not required for now and only some backends do it, but as a string with no unified format, which make the checks difficult. See ht

[2022-11-20 07:03] #590 closed

[2022-11-20 07:25] anhappdev commented on #589
We can either rename `benchmark -> task` or `task -> benchmark` since the 2 terms are used interchangeable here.
Actually, renaming `task -> benchmark` would be easier since it does not impact the backend code (all the backend settings currently use the term `benchmark_setting` and `benchmark_id`)

[2022-11-20 08:18] #549 closed

[2022-11-20 08:21] #555 closed

[2022-11-20 08:36] anhappdev opened #617 "Make a backup of results.json instead of overwriting it"
Currently, if we made an update to the data structure of the `results.json` file it will be deleted and new created.
The app should make a backup of the `results.json` file instead of just overwriting it.

This should be a quick fix until https://github.com/mlcommons/mobile_app_open/issues/534 is resolved.

[2022-11-21 12:31] #552 closed

[2022-11-22 06:21] freedomtan commented on #612
@freedomtan to check new models provided by SNU (and also use SNU script) to figure out why.

[2022-11-22 06:22] #611 closed

[2022-11-22 06:25] #593 closed

[2022-11-22 06:25] #586 closed

[2022-11-23 14:22] anhappdev commented on #612
@freedomtan Do you know where I can find a reference (expected) accuracy for the models?

[2022-11-24 08:58] freedomtan commented on #612
in a mail loop. I don't remember if the mobile wg mailing list is CCed

[2022-11-24 09:04] freedomtan commented on #612
It turns out the PSNR gap is caused by ImageMagick's jpeg lossy compression :-)
I thought `convert foo.png -quality 100 foo.jpg` meant foo.jpg is the same as foo.png when decompressed, but NO.

When I change my script to evaluate png instead of jpg, I got numbers match SNU ones.

We need either using a lossless jpeg encoder to convert png to jpg or add png support to the dataset.

[2022-11-25 01:18] freedomtan commented on #612
1. It seems [libjpeg-turbo](https://libjpeg-turbo.org/), the jpeg library used by TensorFlow, doesn't support lossless jpeg yet, so even if we use another jpeg library/utility to convert png to lossless jpeg, a patch to libjpeg-turbo is needed.
2. it's non-trivial.
3. should be faster

[2022-11-25 09:17] anhappdev commented on #612
I think `png` support should be more correct and is a long-term feature which we should have. I don't know how long it will take, but maybe I can give it a try.

[2022-11-27 12:14] freedomtan commented on #612
currently, we rely on TFLite's image preprocessing (`tensorflow/lite/tools/evaluation/stages/image_preprocessing_stage.h`) to load image and do preprocessing.  Which in turn use TensorFlow's image processing libraries (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/evaluation/stages/image_preprocessing_stage.cc#L75-L105 and https://github.com/tensorflow/tensorflow/b

[2022-11-28 06:31] freedomtan commented on #612
On a Pixel 7 Pro,

| model | PSNR|
| ----|----:|
|f32b5 fp32 (running w/ fp16)| 33.60|
|f32b5_qint8| 33.52|

Quant int8:
[code]

fp32 (allow fp16 when using NNAPI)
[code]

[2022-11-28 06:40] freedomtan commented on #612
@anhappdev for PNG support, it would be great, if we can simply add "png" to the list.

[2022-11-29 04:17] #582 closed

[2022-11-29 05:53] #612 closed

[2022-11-29 05:54] anhappdev commented on #612
I did some more research. TensorFlow has support for `png` image. To simply add `png` to the list, we need to patch the file `tensorflow/lite/tools/evaluation/stages/image_preprocessing_stage.h|cc` to add `png` support. It looks like there will be quite an effort, so comparing to the alternative of just using `rgb8`, you are right that this should be done first since we have a deadline for impleme