[2021-08-03 13:51] mcharleb opened #1 "This needs to be a private repo ASAP"
Blocked on this repo needing to be private.

[2021-08-04 03:32] mcharleb opened #3 "Please add Relja and Ivan to this repo"
Neither Relja or Ivan are available in the list of reviewers

[2021-08-04 09:59] #3 closed, assigned to guschmue

[2021-08-04 15:20] mcharleb opened #4 "Add python version fix"
The fix applied to mobile_app needs to be applied here.

[2021-08-04 15:25] mcharleb opened #5 "Verify TFLite build, Mediatek neuron delegate build"
Verify that the app properly builds for TFLite only and TFLite with Mediatek neuron delegate enabled. Should Mediatek neuron delegate be enabled by default? If the goal is to make the fully enabled app easy to build then I would say yes.

[2021-08-04 15:26] mcharleb opened #6 "Add QTI backend"
Copy the mobile_back_qualcomm code into this repo and modify to work with the new directory structure

[2021-08-04 15:28] mcharleb opened #7 "Add Samsung Backend"
If Samsung is enabling the Samsung backend in the external code release, then copy over the mobile_back_samsung code and integrate it with the new directory layout.

[2021-08-05 15:13] mcharleb opened #8 "Add CI support for building the app from mobile_app_open"

[2021-08-05 20:26] mcharleb opened #10 "Use clang-format version 10"
We can see formatting differences between different versions of clang-format. Update CI to use version10 (Ubuntu 18.04 default version).

[2021-08-07 05:49] freedomtan opened #11 "A README file needed"
We need a `README` file for new users. A modified version of current [Android app one](https://github.com/mlcommons/mobile_app_open/blob/master/android/README.md) should be enough.

[2021-08-09 18:08] #5 closed, assigned to freedomtan, bellycat77

[2021-08-09 18:09] #4 closed, assigned to bellycat77

[2021-08-09 18:23] mcharleb opened #14 "Remove google-java-format-1.9-all-deps.jar from the repo before making it open source"
This binary should not be checked into the repo. It should be part of the docker image

[2021-08-09 19:55] mcharleb opened #15 "Add buildifier to docker image"

[2021-08-09 23:54] mcharleb opened #16 "Update to java 11 (needed by google-java-format)"
google-java-format prebuilt binaries don't support java 8 and the git repo does not build with java 8.

We should also be using a never java version for build.

[2021-08-10 05:22] mcharleb opened #17 "Support different models in tasks_v2.pbtxt"
Remove hard coded assumptions about what tests are being run
or the order of the tests. These will all be defined in
tasks_v2.pbtxt

[2021-08-10 06:52] #10 closed, assigned to bellycat77

[2021-08-10 06:52] #14 closed, assigned to bellycat77

[2021-08-10 06:52] #15 closed, assigned to mcharleb

[2021-08-10 06:52] #16 closed, assigned to nobody

[2021-08-10 07:06] mcharleb opened #20 "Formatter change fixes"
There were a couple remaining issues from the formatter changes that were not merged.

[2021-08-10 16:31] #20 closed, assigned to mcharleb

[2021-08-10 22:03] #6 closed, assigned to mohitmundhragithub

[2021-08-11 05:07] bellycat77 opened #23 "The project is unbuildable in Android Studio"
[code]

[2021-08-11 06:42] mcharleb opened #25 "Relja and Ivan need administrative access to this repo"
Ivan (aka @bellycat77 ) and Relja (@relja128 ) both require administrative access to this repo.

[2021-08-11 11:29] bellycat77 opened #26 "Update loadgen version"
Original https://github.com/mlcommons/mobile_app/issues/333

[2021-08-11 11:32] bellycat77 opened #27 "Move to TF 2.5"
Original https://github.com/mlcommons/mobile_app/issues/576

[2021-08-11 11:33] bellycat77 opened #28 "Single stream vision tests should more closely model the use case of a camera feeding images"
Original https://github.com/mlcommons/mobile_app/issues/586

[2021-08-11 11:38] bellycat77 opened #29 "Segfault on Oppo Reno 3 with MediaTek Dimensity 1000L"
Original https://github.com/mlcommons/mobile_app/issues/605

[2021-08-11 13:02] bellycat77 opened #30 "Samsung backend does not destroy itself between tasks"
Original https://github.com/mlcommons/mobile_app/issues/610

[2021-08-11 23:01] relja128 opened #31 "Clean up obsolete mobile repos"

[2021-08-11 23:26] freedomtan commented on #27
see https://github.com/mlcommons/mobile_app_open/pull/32, it actually uses TF 2.6 now.

[2021-08-12 16:04] mcharleb opened #34 "Bug in QTI backend accelerator string"

[2021-08-12 16:38] #34 closed

[2021-08-13 04:45] bellycat77 opened #35 "Setup automated Jenkins jobs for building/testing PRs"

[2021-08-13 04:46] bellycat77 opened #36 "Setup automated Jenkins jobs for building/testing master branch"

[2021-08-16 05:58] #23 closed

[2021-08-16 06:03] bellycat77 commented on #35
Done, next jobs were added:
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-Build/
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-CodeFormattingCheck/
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-runCrawlerTests/
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-runInstrumentTests/
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-ru

[2021-08-16 06:03] #35 closed

[2021-08-16 15:20] bellycat77 commented on #36
Jobs were created. Need to check automation

[2021-08-17 05:07] relja128 commented on #36
For now this has no extra gates compared to mobile_app.

[2021-08-17 05:17] #25 closed

[2021-08-17 05:28] mohitmundhragithub opened #37 "Currently setting backend settings from command line is broken"
Currently setting backend settings from command line is broken. Debugged and found that the issue started appearing after this commit: https://github.com/mlcommons/mobile_app/commit/ddae5a7f31ffd6e3ea9903af61a4a2ad8359826b

Will upload a PR soon to fix it.

[2021-08-17 05:43] mohitmundhragithub opened #40 "A typo in the APP_DIR path in mobile_back_qti when generating DLC"
A typo in the APP_DIR path in mobile_back_qti when generating DLC.
Will raise a PR to fix this.

[2021-08-17 15:06] #40 closed

[2021-08-17 15:07] #37 closed

[2021-08-17 15:08] #17 closed

[2021-08-17 15:10] mcharleb opened #41 "Download tasks_v2.pbtxt first, then update UI with tests to run"
The recent change to decouple the front end code from the specific tasks being run can leave the UI looking empty until all the assets are loaded. If the UI can be updated when the tasks_v2.pbtxt is loaded, and if that gets loaded first, it should reduce the time to update the UI.

[2021-08-18 05:47] #27 closed

[2021-08-18 06:49] bellycat77 opened #42 "Need to setup some gate/mechanism for manual selection PR-triggered jobs for building"

[2021-08-18 06:53] bellycat77 commented on #36
@relja128 The "gate" will be needed for PRs only. Because only approved/tested/buildable PRs can be merged to the master branch. Additional issue #42 was created

[2021-08-18 06:53] #36 closed

[2021-08-19 07:10] andychen8888 commented on #7
PR #43 was created to fix this issue

[2021-08-20 09:36] bellycat77 commented on #8
@relja128 @mcharleb
Jenkins jobs were configured:
1. Merging to the **master** branch
https://mlperf.xored.com/job/mobile_app_open/job/MasterBuild/
Starts automatically, because the **master** branch is protected so only approved/tested pull request can be merged.

2. Pull requests building:
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-Build/
After creating PR it will be built only

[2021-08-23 05:28] bellycat77 commented on #42
@relja128 @mcharleb
Jenkins jobs were configured:

Merging to the master branch
https://mlperf.xored.com/job/mobile_app_open/job/MasterBuild/
Starts automatically, because the master branch is protected so only approved/tested pull request can be merged.

Pull requests building:
https://mlperf.xored.com/job/mobile_app_open/job/PullRequest-Build/
After creating PR it will be built only in case the

[2021-08-23 05:31] bellycat77 opened #47 "Fix Jenkins jobs in mobile_app_open to build app with backends"

[2021-08-23 16:23] bellycat77 commented on #47
Manual-startable Jenkins job https://mlperf.xored.com/job/mobile_app_open/job/ManuallyBuildBranch was updated to build the app with backends support (need to merge PR #43 for Samsung backend support)

[2021-08-23 17:46] andychen8888 opened #48 "Submission mode doesn't work"
MLPerf mobile open app. Submission mode doesn't work. The app can't access the ground truth file from the server.

![image](https://user-images.githubusercontent.com/69570337/130493022-2e03951d-7a18-4f3e-8157-70168047d70f.png)

[2021-08-23 17:56] andychen8888 commented on #48
from the configuration file
https://github.com/mlcommons/mobile_models/raw/main/v1_0/assets/tasks_v2.pbtxt

The ground truth is of language processing is pointed to
https://github.com/mlcommons/mobile_models/raw/main/v1_0/assets/squad_groundtruth.tfrecord

In https://github.com/mlcommons/mobile_app_open/blob/master/android/java/org/mlperf/inference/Benchmark.java, it tries to open the URL link as

[2021-08-24 05:28] #48 closed

[2021-08-24 05:30] relja128 commented on #28
Tracked in policy meeting

[2021-08-24 05:30] #28 closed

[2021-08-24 05:39] #8 closed

[2021-08-25 08:19] mohitmundhragithub opened #51 "Wrong text for timing for cooldown"
![error](https://user-images.githubusercontent.com/1549325/130754466-0ebd5ec7-1f0d-42e2-95a8-33f7b2120503.png)

[2021-08-30 04:57] bellycat77 commented on #47
The Jenkins job builds the application with backends support.

[2021-08-30 05:02] bellycat77 commented on #26
@relja128 @mcharleb @Mostelk @freedomtan
Which version/commit of the Loadgen library should we use?

[2021-08-30 05:07] freedomtan commented on #26
for 0.7, as far as I can remember, we used 0.7 branch of inference.
thus, for 1.1, we should use https://github.com/mlcommons/inference/tree/r1.1

[2021-08-30 06:37] bellycat77 commented on #47
@relja128 Can we close the issue? Does job work as expected

[2021-08-31 05:11] relja128 commented on #47
@bellycat77 - please create apks with backends and put them up on google drive for us to test

[2021-08-31 05:14] #42 closed

[2021-08-31 05:22] relja128 commented on #30
Per @Mostelk this is getting pushed back to post 1.1 (waiting for new submission)

[2021-08-31 05:24] relja128 commented on #29
Per @freedomtan - no elegant solution found yet. Will disable neuron delegate for this device in the backend.

[2021-08-31 05:26] #7 closed

[2021-08-31 05:27] relja128 opened #54 "Mobile_app PR 591 - is this needed in mobile_app_open"
If so, can you please open an issue in this repo that explains what we're fixing?
https://github.com/mlcommons/mobile_app/pull/591

[2021-08-31 05:29] #51 closed

[2021-08-31 05:58] bellycat77 commented on #47
The new APK is here:
https://drive.google.com/file/d/1zoe9BUPLAer5V87Oj14V9n1DmqqqQb4J/view?usp=sharing

[2021-09-06 07:16] freedomtan commented on #29
avoid using Neuron delegate for Oppo Reno 3 in https://github.com/mlcommons/mobile_app_open/pull/50

[2021-09-07 03:10] bellycat77 commented on #26
PR waits for approvement

[2021-09-07 05:15] mohitmundhragithub commented on #54
Currently all the datasets other than imagenet works fine, if we don't have the ground truth files. However, for imagenet, not having the groudtruth file crashes the app.

As long as we run the app with internet connected, its not a problem, because the app downloads ground truth file for imagenet. But when running without internet, by pushing all the dataset other than ground truth file, it hits

[2021-09-07 08:09] bellycat77 commented on #47
The APK https://drive.google.com/file/d/1qnt25Y90Sd5qZl6yOEKGBBBquu2YBDoq/view?usp=sharing with updated loadgen version

[2021-09-07 08:10] bellycat77 commented on #26
@relja
APKs:
with old loadgen: https://drive.google.com/file/d/1zoe9BUPLAer5V87Oj14V9n1DmqqqQb4J/view?usp=sharing
with new loadgen: https://drive.google.com/file/d/1qnt25Y90Sd5qZl6yOEKGBBBquu2YBDoq/view?usp=sharing

[2021-09-07 08:52] Relja commented on #26
I think you got the wrong Relja. I can't escape from you @relja128  ;)

[2021-09-08 07:06] bellycat77 opened #55 "Potential problem with cached files from mobile_models repo"
We have a potential problem with cached files from the https://github.com/mlcommons/mobile_models repo

We have 2 files with equivalent names but different links:
https://github.com/mlcommons/mobile_models/blob/main/v0_7/tflite/mobilenet_edgetpu_224_1.0_float.tflite
https://github.com/mlcommons/mobile_models/blob/main/v1_1/tflite/mobilenet_edgetpu_224_1.0_float.tflite
The application "looks" at th

[2021-09-08 22:03] relja128 commented on #55
That's annoying. Can you cache by url instead? It will conveniently evict the existing files.

[2021-09-09 08:32] relja128 commented on #26
Ha, that's amazing! We keep running into each other all over the internet.
We should get drinks next time you're in Belgrade. :)

On Tue, Sep 7, 2021 at 10:52 AM Relja Arandjelović ***@***.***>
wrote:

[2021-09-09 08:34] relja128 opened #56 "Update seeds for 1.1"
Inference seeds:
https://github.com/mlcommons/inference/blob/r1.1/mlperf.conf
[code]

[2021-09-09 09:39] d-uzlov commented on #55
Yes, this would solve this issue.

Using full URL in cache will not help evicting existing files. Our current cache system (both in android and in flutter) only downloads missing files. If we no longer use the old files, they just lie in the file system until the app is uninstalled, or user manually clears the cache.

Keeping the cache clean is a different, more complicated issue.

Except for the

[2021-09-09 10:02] relja128 commented on #55
Let's go with cache by url. Evict when app is updated AND files are more
than 9 months old. (Both conditions have to be true). So after the app
version changes, delete files older than 9 months.

On Thu, Sep 9, 2021 at 11:39 Uzlov Danil ***@***.***> wrote:

[2021-09-09 10:32] anhappdev commented on #55
How about using a file checksum like MD5?
The config file should have a new field storing the checksum of the ML model in the URL. The app compares the checksum of the cached file with the checksum in the config file and download the new file if they are different. The filename can still be the same to evict the existing files.

[2021-09-10 16:18] #56 closed

[2021-09-10 16:24] #54 closed

[2021-09-10 16:27] mcharleb commented on #55
A version if this repo needs to be made public. I suggest as part of doing that we clean it up, squash history and make only the files needed for MLPerf 1.1 present, then update the mobile_app_open config to use the new version of the repo.

[2021-09-10 16:29] mcharleb opened #59 "Update version of mobile app"
The app version needs to change to MLPerf 1.1.0

[2021-09-10 16:29] mcharleb commented on #59
This should be done before creating the branch/tag code freeze for the MLPerf 1.1 submission

[2021-09-10 16:51] mcharleb commented on #55
I always delete the old app before installing a new one. This deletes the cache. I don't think we have robust app upgradeability and this is only one part of that. I would say that we create release notes that indicate that you must remove the old app before installing a new version. We can then create an issue to support upgrading the app with all required testing to validate that.

[2021-09-10 16:53] mcharleb opened #61 "Make mobile repo public"
This should likely have squashed history limited to current models

[2021-09-10 16:57] mcharleb commented on #61
Do you want to:

1. Create a new mobile_open repo and deprecate mobile?
2. Replace master branch with squashed version and make mobile repo public?
3. Make mobile repo public as-is?

[2021-09-10 18:12] #59 closed

[2021-09-10 18:14] relja128 commented on #61
Do we need this for 1.1?

[2021-09-10 18:21] relja128 commented on #47
Looks like the autobuild works fine. Closing.

[2021-09-10 18:21] #47 closed

[2021-09-10 19:31] mcharleb commented on #61
I thought we needed it immediately to enable other participants. Its not
tied to 1.1

On Fri, Sep 10, 2021 at 11:14 AM Relja Markovic ***@***.***>
wrote:

[2021-09-10 19:39] relja128 commented on #61
Makes sense. Does this impact 1.1 in any way? E.g. if we create
mobile_open, and leave mobile as-is, that should be fine, right? I would
like to keep mobile intact for now for history reasons, and we can delete
it in a year if it's not needed, similar to mobile_app.

On Fri, Sep 10, 2021 at 9:31 PM Mark Charlebois ***@***.***>
wrote:

[2021-09-10 20:00] mcharleb commented on #61
Doesn't impact 1.1. Agree with your plan

[2021-09-14 05:10] #26 closed

[2021-09-14 05:17] relja128 commented on #55
Caching policy:
* Cache by URL
Eviction policy:
* On app update, evict files more than 9 months old

[2021-09-14 18:47] mcharleb opened #65 "Groundtruth changes cause app to become unresponsive"
When running in submission mode (and even enabling submission mode) the UI becomes unresponsive and the message pops up with exactly that indication asking whether to wait or close the app.

[2021-09-14 19:11] relja128 commented on #61
Created https://github.com/mlcommons/mobile_open

[2021-09-14 19:11] #61 closed

[2021-09-15 16:13] mohitmundhragithub opened #66 "The log directory is not accessible on few Android 11 based phones"
The log directory which loadgen creates is not accessible on few Android 11 based phones. So, probably we should generate the results in some accessible location instead of using /sdcard/Android/data path.

[2021-09-16 10:44] anhappdev commented on #11
I think we can just move the file `mobile_app_open/android/README.md` to the root folder `mobile_app_open/README.md`.

The instruction for building should also be updated because the path is changed.
OLD:
[code]

NEW
[code]

[2021-09-16 10:50] relja128 commented on #11
The repo will contain multiple apps (eventually flutter as well), so the per-app README is not applicable to the whole readme. That's why I moved only the top half of the readme that sort of explains what the repo is about.

As for build instructions, seems like a good change, please update the readme.

[2021-09-16 11:15] anhappdev commented on #11
The `mobile_app_open/android/README.md` still refer to the `Makefile` and `WORKSPACE` files in the root folder `mobile_app_open`.
So for now I will only update the path from `//java/org/mlperf/` to `//android/java/org/mlperf/`, so new user can build the app.

[2021-09-16 13:35] bellycat77 opened #69 "Need update protobuf version for support bazel 4.x.x version"
Need to make update protobuf library (https://github.com/mlcommons/mobile_app/pull/557)

bazel 3.x.x don't support Apple M1 based notebooks

[2021-09-17 12:45] anhappdev commented on #65
I could not reproduce this bug. I tested with the commit `64796e5e920b623e83c071637e8b54a3f3df65a6`. Enable submission mode and running in submission mode caused no problem in my test. I could not download the whole ImageNet dataset (I have no corporate email) so I used the lite dataset in https://github.com/mlcommons/mobile_models/raw/main/v0_7/datasets.

@mcharleb Can you provide more details ab

[2021-09-20 05:55] bellycat77 commented on #65
I can't reproduce the issue too. I have tried to run the Submission mode with full datasets (except for Image Segmentation cause I don't have annotations for it). It works on Samsung Note 20 Ultra. The benchmarks had been finished successfully. Could you provide steps for reproducing the issue?

[2021-09-21 05:11] relja128 commented on #69
Hold off until next week so we can decide on build environments.
@bellycat77 - which specific version of protobuf would we be using?

[2021-09-21 05:19] relja128 commented on #66
Is this needed in 1.1 for submission verification?

[2021-09-21 05:23] relja128 commented on #65
Per @Mostelk - the app is likely trying to download tflite models. Being off wifi is probably causing problems. Either way we should diagnose and fix the UI.

@bellycat77 - can you repro with a clean install and off wifi?

[2021-09-21 05:35] relja128 commented on #66
Per @mcharleb - we don't need this for verification. Only shows up on Pixel, x86 / ARM emulation.

[2021-09-21 05:35] #66 closed

[2021-09-21 05:38] relja128 commented on #69
Per @Mostelk - please validate that the PR builds fine on your corp network.

[2021-09-21 16:10] anhappdev opened #73 "Multiple links are broken in the instruction on how to generate MLPerf datasets"
In the instructions to generate the datasets at
[https://github.com/mlcommons/mobile_app_open/blob/master/android/cpp/datasets/README.md](https://github.com/mlcommons/mobile_app_open/blob/master/android/cpp/datasets/README.md)
there are multiple broken links:

1. Link to the ground truth file `imagenet_val.txt` for the ImageNet dataset
2. Link to the ground truth file `coco_val.pbtxt` for the COCO

[2021-09-22 06:29] K-R-U-T-I opened #78 "Change settings (whether to use accelerator, number of threads)"
# EVALUATION_APP_PATH=//java/org/mlperf/inference
# bazel build -c opt --cxxopt='--std=c++14' --fat_apk_cpu=x86_64,arm64-v8a ${EVALUATION_APP_PATH}:mlperf_app
# adb install -r bazel-bin/${EVALUATION_APP_PATH}/mlperf_app.apk

After building & installing the app using these commands, Change settings (whether to use accelerator, number of threads) options not visible. [MLPerf App](https://github.com/

[2021-09-22 09:49] bellycat77 commented on #65
@relja128 @mcharleb

All scenarios are with initial installations, without full datasets available
---
**Scenario 1:**
1. WiFi is enabled
2. Application installed
3. User runs the application
4. Application downloads models
5. User **disables** WiFi
6. User enables **Submission mode** and returns to the main activity
7. Application tries to download groundtruth files

**Result 1:** application sho

[2021-09-23 06:33] bellycat77 opened #80 "Update default backend with changes from mobile_app_flutter repo"

[2021-09-24 02:26] AhmedTElthakeb commented on #69
Applying the PR with the updated protobuf, the app builds successfully with bazel 4, but crashes on the phone after installation.

[2021-09-24 06:14] bellycat77 commented on #69
@AhmedTElthakeb

Could you provide more details, please? Logcat logs maybe?

[2021-09-27 04:52] bellycat77 commented on #69
@AhmedTElthakeb @Mostelk
As I can see in the provided log file, the problem has happened in the Samsung backend, so I can't help with the diagnostics. Sorry.

[2021-09-28 05:04] relja128 commented on #80
Number of threads changes

[2021-09-28 05:07] relja128 commented on #78
Is this a UI issue? Could you please attach a screenshot of what you're referring to?

[2021-09-28 05:19] relja128 commented on #65
No repro for now.

[2021-09-28 05:19] #65 closed

[2021-09-28 05:22] #29 closed

[2021-09-28 05:24] #11 closed

[2021-09-28 05:25] relja128 commented on #69
Per @AhmedTElthakeb - this is currently being investigated

[2021-09-28 06:47] K-R-U-T-I commented on #78
This is the screen after clicking on the hamburger menu icon to go to settings.

<img src="https://user-images.githubusercontent.com/38699938/135032743-e6934506-00db-429f-9966-495d03ce7577.jpeg" width="350" height="550">

& here I'm not able to change any settings (whether to use accelerator, number of threads)

<img src="https://user-images.githubusercontent.com/38699938/135032783-58f1d33f-aa27-4

[2021-09-28 07:13] anhappdev commented on #73
In the file https://github.com/mlcommons/mobile_app_open/blob/master/mobile_back_qti/datasets/coco/Makefile,
I could not find a link or script to extract the ground truth for COCO dataset.

But I found the ground truth file for COCO dataset in the **mobile_app** repo:
https://github.com/mlcommons/mobile_app/blob/c8075ac367554cae98b1508c4a5ab14d14c5885c/java/org/mlperf/inference/assets/coco_val.pbt

[2021-09-28 09:21] anhappdev commented on #41
@mcharleb: I want to clarify how the UI should be updated.

**Currently**:
When the app is installed and opened the first time. The main screen shows the progress while loading assets, then after sometime (about 30s on my device) it shows the GO button.

<img src="https://user-images.githubusercontent.com/85728587/135057532-67791151-ca32-4ba6-baf8-ac2cc5a6fd31.jpg" width="240">  <img src="https://

[2021-09-28 12:04] bellycat77 opened #84 "Checking code formatting by CI was broken"

[2021-09-28 17:49] mcharleb commented on #41
@anhappdev  The reason the screen is blank to start is that the loaded tasks_v2.pbtxt make come from the sdcard and may specify only one task (e.g. Language Understanding) so that is the only task that should be displayed. The app doesn't know what to display until tasks_v2.pbtxt has been loaded since it gets the text to display from that file now (as it should). If we want to show the list of tas

[2021-09-29 16:36] #84 closed

[2021-09-30 12:12] anhappdev commented on #69
@AhmedTElthakeb
Can you test with `protobuf-3.13.0`.
[code]

[2021-09-30 17:35] mcharleb opened #87 "Pixel backend doesn't do proper platform check"
The Pixel backend assumes it can run on any device and does not detect whether the device is a Pixel device or not. This backend will always supersede other backends (e.g. the default TFLite backend).

[2021-09-30 17:37] mcharleb commented on #87
Never mind. Was looking at wrong code.

[2021-09-30 17:39] mcharleb commented on #87
// TFLite is the standard backend for all hardwares.
bool mlperf_backend_matches_hardware(const char** not_allowed_message,
                                     const char** settings,
                                     const mlperf_device_info_t* device_info) {
  *not_allowed_message = nullptr;
  *settings = tflite_settings.c_str();
  printf("TFLite backend matches hardware");
  return true;
}

[2021-09-30 17:40] mcharleb commented on #87
The log message "TFLite backend matches hardware" should also be "Pixel backend matches hardware"

[2021-10-01 05:03] bellycat77 opened #88 "Potential problem in backend (with SQUAD dataset)"
With small values in `min_samples` settings, we can get a null-pointer exception.

[2021-10-04 21:34] fatihcakirs opened #90 "log_accuracy/mlperf_log_accuracy.json data attribute"
Hello,

In experiments, I've noticed that the ``data`` attribute in ``log_accuracy/mlperf_log_accuracy.json`` files differ across different backend choices. This is the case for all benchmarks except for image segmentation where the data attribute value is empty.

What is this attribute, and is it expected to differ across multiple vendor backends?

[2021-10-05 05:03] stegben commented on #87
Will send a PR today to fix this

[2021-10-05 05:05] relja128 commented on #90
@mcharleb - I assume you know more about this?

[2021-10-05 05:05] #88 closed

[2021-10-05 05:09] relja128 commented on #78
We currently don't have any settings that can be changed in the menu. Depending on application version and hardware detected, some menu items may have changeable parameters, but in general the menu is static for now. We will clean this up before a public launch.

[2021-10-05 05:09] #78 closed

[2021-10-05 05:12] relja128 commented on #69
Per @AhmedTElthakeb - crash has been resolved, but figuring out internal issues. Next update in a couple of days.

[2021-10-05 09:04] anhappdev commented on #55
@mcharleb Hi Mark, since I take over this issue from Ivan. Can you review the linked PR if is there anything else to change? As I see, Ivan answered all your questions.

[2021-10-05 13:03] mcharleb commented on #55
I'm away on vacation this week and have no computer.

On Tue, Oct 5, 2021, 4:04 AM anhappdev ***@***.***> wrote:

[2021-10-05 13:17] mcharleb commented on #90
That is all populated by the loadgen code AFAIK. I have no idea why it would be different.

[2021-10-05 13:26] anhappdev commented on #55
Ok. I didn't know that. Enjoy your vacation.

[2021-10-06 22:21] relja128 opened #92 "Open source the Flutter app"
Let's discuss, and if everyone is on board, we can proceed with developing in mobile_app_open.

[2021-10-12 05:19] relja128 commented on #92
1) Flutter repo becomes a folder in mobile_app_open: flutter
2) Merge workspace files
3) Squash the history (copy the files over)
---
Later we will re-organize the back ends

[2021-10-12 05:30] relja128 commented on #90
As an example, DATA1 and DATA2 are entirely different between submitters for the same test (in this case, mobileBERT).

{ "seq_id" : 0, "qsl_idx" : 80, "data" : "DATA1" },
{ "seq_id" : 1, "qsl_idx" : 36, "data" : "DATA2" },

[2021-10-12 05:35] relja128 commented on #73
@freedomtan - can you please update the license file, and add it to the PR?

[2021-10-12 05:43] relja128 commented on #69
Per @AhmedTElthakeb - verified this for Olympus, still verifying the fix for next gen. Next update in a week.

[2021-10-12 09:54] freedomtan commented on #90
"data" field is for hexadecimal strings of "qsl_idx". So, they could same data expressed in different data types.
https://github.com/mlcommons/inference/blob/master/loadgen/loadgen.cc#L95-L129

[2021-10-16 00:07] Mostelk opened #93 "Submission mode downloading the wrong ground truth files"
Once Submission mode is enabled for the first time, these ground truth files are downloaded in assets, which are not used for accuracy calculation: imagenet_val.txt, coco_val.pbtxt, squad_groundtruth.tfrecord ( squad_eval_mini.tfrecord is downloaded once app is installed)
 Instead the files needed for accuracy calculation should be the ones downloaded, rather than copy them to sdcard:
/sdcard/mlpe

[2021-10-18 08:30] anhappdev commented on #55
@mcharleb Hi Mark, can you please review the linked PR?

[2021-10-18 20:20] fatihcakirs commented on #93
Hi @anhappdev , I believe @Mostelk is referring to the "lite" ground truth ".txt" files, as pointed in the `groundtruth_src` attribute in the task definition file (the datasets are referred in the `path` attribute). These ground truth files are downloaded by the app, but since "lite" datasets are used in performance mode, why are these required? I think this is the main question.

Also, the ground

[2021-10-19 05:13] relja128 commented on #93
We should remove these files and see if submission mode doesn't break / change results:
* imagenet_val.txt
* coco_val.pbtxt
* squad_groundtruth.tfrecord

[2021-10-19 05:24] relja128 commented on #90
log_accuracy/mlperf_log_accuracy.json contains processed input data (post quantization, normalization, swizzling, etc.). It is a mid-stage artifact of the process. The data will be consistent on the same backend over time, but not between backends.

[2021-10-19 05:24] #90 closed

[2021-10-19 05:36] relja128 commented on #69
@AhmedTElthakeb - Bazel 4.2.1 requires updating Android SDK from 29 to 30.
@anhappdev - can you please repro this? See if you can build on new Bazel without an Android SDK change.

[2021-10-19 05:38] relja128 commented on #55
@anhappdev - can you please take a look?

[2021-10-19 05:40] relja128 commented on #30
Per @mcharleb - This is the check in the front end, the FE doesn't delete the backend, because the BE used to crash on delete. Probably in taskrunner.
@Mostelk - will take a look

[2021-10-19 10:44] anhappdev commented on #69
I built with
[code]
on the `master` branch (latest commit `872fd4c`) in the following environment:
[code]

**Bazel 4.2 actually requires Android SDK build tools 30.0.0**
(see [release notes on Bazel website](https://blog.bazel.build/2021/08/18/bazel-4.2.html#android) or [release notes on GitHub](https://github.com/bazelbuild/bazel/commit/497a848d89d402c22af4eb5b37a3f511ddd2ade3))

I got this error

[2021-10-21 05:59] mcharleb opened #95 "Add code changes for QTI 1.1 submission"

[2021-10-25 17:48] mcharleb opened #98 "README.md in mobile_open still refers to private mobile_app repo links"
See https://github.com/mlcommons/mobile_open/issues/1

[2021-10-26 07:49] anhappdev opened #99 "Central place for documentation"
I think we need to have a central place for documentation or some solution to maintain documentation better.
The instructions are for example kind of copy & paste all over different repos and make it difficult to update.
There are many broken links and outdated instructions.
If someone has experience regarding this, please suggest a solution.

[2021-11-02 04:45] d-uzlov opened #104 "Configure iOS Jenkins CI for Flutter app"
Currently we have iOS CI in Flutter app repo.
We need to set up similar hooks and related stuff in this repo.

[2021-11-02 04:50] d-uzlov opened #105 "Configure Jenkins to upload iOS app to testflight"
Source issue: https://github.com/mlcommons/mobile_app_flutter/issues/16

Currently we upload new builds to testflight manually.
We need to configure Jenkins to upload new builds automatically.

We probably want to do this on demand only, as we probably don't want to see hundreds of minor builds, one for each new commit in master branch. Most changes don't even affect iOS.

[2021-11-02 04:51] d-uzlov opened #106 "Configure Windows Jenkins CI for Flutter app"
Source issue: https://github.com/mlcommons/mobile_app_flutter/issues/315

[2021-11-02 05:10] mcharleb commented on #99
@anhappdev What audience? Submitters? End users? People building the app?

[2021-11-02 05:14] mcharleb commented on #98
Merged

[2021-11-02 05:14] #98 closed

[2021-11-02 05:15] mcharleb opened #107 "Merge android and flutter bazel configs"
Parent issue: https://github.com/mlcommons/mobile_app_open/issues/92

[2021-11-02 05:16] mcharleb commented on #92
Code was merged

[2021-11-02 05:16] #92 closed

[2021-11-02 05:26] #55 closed

[2021-11-02 05:29] mcharleb opened #108 "Automate dataset creation to push to device"
We need a common way to generate the datatsets used for submission mode

[2021-11-02 05:40] anhappdev commented on #99
A solution is that we can create several entry points (README files) for different user group. In each of the file, we point the users to the right docs, kind of overview or table of contents.
Those files can be placed here in `mobile_app_open`.

[2021-11-02 06:18] d-uzlov opened #109 "Add documentation for building Android version of Flutter app"
We have the documentation for setting up the environment and building process for iOS and Windows versions of the Flutter app.

We need to add similar documentation for Android version.

[2021-11-02 06:19] d-uzlov opened #110 "Configure Android Jenkins CI for Flutter app"

[2021-11-02 06:21] d-uzlov opened #111 "Upload an Android version of the Flutter app for testing"
Source issue: https://github.com/mlcommons/mobile_app_flutter/issues/321

We need to build Android version of the Flutter app and upload the apk so people interested in it can download and test it.

[2021-11-02 06:57] #107 closed

[2021-11-02 07:19] d-uzlov opened #112 "Merge Android and Flutter makefiles"
We need to have uniform integrated makefiles across the repo.
Makefiles from the Flutter app repo don't match the style used in this repo, so they need to be significantly rewritten.

Parent issue: https://github.com/mlcommons/mobile_app_open/issues/92

[2021-11-02 08:18] d-uzlov opened #113 "Pull cpp folder out of android and flutter directories"
We have 2 mostly duplicated `cpp` folders: [android/cpp](https://github.com/mlcommons/mobile_app_open/tree/347d490c1ef90cf62a37ec097ba8d846a1b8ead6/android/cpp) and [flutter/cpp](https://github.com/mlcommons/mobile_app_open/tree/347d490c1ef90cf62a37ec097ba8d846a1b8ead6/flutter/cpp).
Folders were last synced several weeks ago, so there are few differences.

We need to pull `cpp` directory to to the

[2021-11-02 15:54] K-R-U-T-I opened #115 "Header files for Neuron not found"
While building MLPerf mobile app by running below bazel command

bazel-3.7.2 --output_user_root=/opt/cache/bazel build -c opt --cxxopt='--std=c++14' --host_cxxopt='--std=c++14' --host_cxxopt='-Wno-deprecated-declarations' --host_cxxopt='-Wno-class-memaccess' --cxxopt='-Wno-deprecated-declarations' --cxxopt='-Wno-unknown-attributes' --//android/java/org/mlperf/inference:with_mediatek="1" --fat_apk_

[2021-11-02 23:37] mcharleb commented on #115
@K-R-U-T-I  Are you building the master branch? Did you try "make WITH_MEDIATEK=1 app" ?

[2021-11-03 03:39] d-uzlov opened #116 "Pull tflite backed out of flutter folder"
Flutter app is using its own copy of the tflite backend.
We need to synchronize it with the [/mobile_back_tflite](https://github.com/mlcommons/mobile_app_open/tree/347d490c1ef90cf62a37ec097ba8d846a1b8ead6/mobile_back_tflite) folder, remove [/flutter/cpp/backend_tflite](https://github.com/mlcommons/mobile_app_open/tree/347d490c1ef90cf62a37ec097ba8d846a1b8ead6/flutter/cpp/backend_tflite) folder, and

[2021-11-03 05:43] mkankana opened #118 "Need more instructions for adding custom backend"
1. Followed the instructions provided in the [adding-custom-backend](https://github.com/mlcommons/mobile_app_open/blob/master/flutter/documentation/adding-custom-backend.md) .
2. Added openvino source to the [cpp/backend_openvino](https://github.com/mlcommons/mobile_app_open/tree/flutter_openvino/flutter/cpp/backend_openvino).
3. I'm new to make and flutter , when trying to build with command `mak

[2021-11-03 07:29] d-uzlov commented on #118
Maybe you have a typo on the name of your make target?
Could you provide your modified makefile?

App iterates over available backends here: https://github.com/mlcommons/mobile_app_open/blob/347d490c1ef90cf62a37ec097ba8d846a1b8ead6/flutter/lib/benchmark/benchmark.dart#L72

App calls the external backend, for example, here:
https://github.com/mlcommons/mobile_app_open/blob/347d490c1ef90cf62a37ec097

[2021-11-03 11:56] anhappdev opened #119 "Build iOS app failed with error in run_shell: 'command' must be of type string"
I got this error while building the iOS app.
[code]

The file `.bazelrc` had this `--incompatible_run_shell_command_string=false` but was removed after some refactor. Solution is just adding the setting.

[2021-11-03 18:21] mkankana commented on #118
Here is the [modified make](https://github.com/mlcommons/mobile_app_open/blob/flutter_openvino/flutter/Makefile) file .

Is it a hard rule for the backend to be a library file to integrate into the app ?

[2021-11-03 18:43] #119 closed

[2021-11-03 21:17] relja128 opened #121 "Investigate Xcode Cloud build"
Can we use xcloud build for iOS CI?

[2021-11-03 22:43] mkankana commented on #118
@d-uzlov
I change our backend from .exe to .dll as per the requierments.
Also added openvino-windows as the backend for windows on my branch to test the functionality.
Now the build with command `make ENABLE_BACKEND_OPENVINO=1 backends/openvino-windows windows`  throws this error

chmod +w bazel-bin/cpp/flutter/backend_bridge.dll
chmod: cannot access 'bazel-bin/cpp/flutter/backend_bridge.dll': No

[2021-11-05 08:29] anhappdev commented on #121
XCode is currently in beta, invite only and free until the price is announced.
https://developer.apple.com/documentation/Xcode/Xcode-Cloud

Please comment your requirements to integrate XCode Cloud with our current CI/CD pipeline. I will collect, validate and update it here. I listed some requirements from my perspective.

## Requirements
### Must have:
- [x] Integration with TestFlight
- [x] Inte

[2021-11-07 23:45] d-uzlov commented on #118
This is an issue introduced when I merged configs.
It will be fixed soon. Sorry for the inconvenience.

Launching a separate app for each call to backend would significantly slow down the benchmark.

I guess you've already solved the issues you had with the makefile?

[2021-11-08 06:09] #116 closed

[2021-11-08 06:14] d-uzlov commented on #118
It will be fixed soon. Sorry for the inconvenience.

We've merged a fix for this issue into master branch.

[2021-11-08 06:49] anhappdev commented on #99
The structure of this repo `mobile_app_open` is currently in refactoring and evolving a lot. Wait until we have stable structure.

[2021-11-09 00:40] d-uzlov commented on #121
Xcode Cloud is a feature of Xcode 13 and currently in beta

I remember we had issues building the Flutter app with XCode 13. Since, according to this note, XCode Cloud also uses XCode 13, we will probably encounter the same issues there.
Except maybe the issues we had were just bugs in XCode and/or Flutter that got fixed by now.

[2021-11-09 04:18] fatihcakirs commented on #108
Please check https://github.com/mlcommons/mobile_app_open/pull/123.

[2021-11-09 06:06] relja128 opened #124 "Remove mobile_app_flutter once issues are resolved, and end of January"

[2021-11-09 06:29] relja128 opened #125 "Allow same binary to be used for submission and press release"
We need a unified binary (we already can make this, but we should tighten the rules to disallow per-vendor front end modifications).
The same binary should be able to generate submission and performance results. We will need to fetch config data from github, and then failing that, fetch from SD card.

[For closed submissions only for now]

[2021-11-09 06:42] relja128 commented on #118
@mcharleb volunteered to help with the documentation

[2021-11-09 06:49] relja128 opened #126 "Move Android build to GCP containers"
Also, @anhappdev may be able to help.

[2021-11-09 06:52] relja128 commented on #115
Also, per @freedomtan - you seem to be running bazel with sudo. This could cause issues if su has access to a different set of files than the regular user.

[2021-11-09 06:56] relja128 commented on #113
Leave as-is. We will deprecate Android in ~6 months.

[2021-11-09 06:58] relja128 commented on #113
Having them in the same location helps with build - backends would pull headers in from only one spot. Let's do this.

[2021-11-09 21:22] #113 closed

[2021-11-09 22:43] mcharleb opened #128 "Use Unix line endings"
Files in flutter subdir seem to use DOS line endings. The files in the project should use consistent file type

[2021-11-09 23:22] d-uzlov commented on #104
Done.

We now have `Build and test iOS Flutter app` github CI check (`PullRequest-ios-build` job on Jenkins).
It is not marked as `required`. I think this isn't much of an issue, we can change this later if we decide to stay with Jenkins for iOS builds.

[2021-11-09 23:22] #104 closed

[2021-11-10 03:14] freedomtan commented on #115
@K-R-U-T-I  for you reference, The following works for me on both Linux and macOS

[code]
Note that I didn't use `sudo` and didn't set bazel cache.

Further information: those headers are in Neuron delegate repo, they are supposed to be retrieved and placed into bazel cache. See https://github.com/mlcommons/mobile_app_open/blob/master/WORKSPACE#L88-L95
[code]

[2021-11-12 19:22] mcharleb opened #130 "Convert use of mobile repo to mobile_open"
The code currently used the private mobile repo instead of the mobile_open repo.

[2021-11-15 07:12] freedomtan commented on #111
The Android version of the Flutter app won't run without network and file access permissions. https://github.com/mlcommons/mobile_app_open/pull/131

[2021-11-15 07:12] d-uzlov commented on #112
@mcharleb, is there a particular reason why we use `@` everywhere in all makefiles to suppress the command echoing?

[2021-11-15 11:13] anhappdev commented on #125
1. With config data you mean the [tasks_v2.pbtxt](https://github.com/mlcommons/mobile_models/blob/main/v1_0/assets/tasks_v2.pbtxt), right?
2. Should the path to the config file in SD card just be hard-coded to something like `/sdcard/mlperf_datasets/custom_tasks.pbtxt`?
3. Should the change be made for Android or Flutter or both app?

[2021-11-15 11:46] anhappdev opened #132 "Change company name in source code"
Some part of the code still use `com.xored`.
https://github.com/mlcommons/mobile_app_open/search?q=xored
I think it should be changed to `org.mlperf` or `org.mlcommons` (not sure which one).

[2021-11-15 21:19] TheKanter commented on #30
@Mostelk When can we expect your team to clear this?

[2021-11-16 05:23] #118 closed

[2021-11-16 05:32] freedomtan commented on #121
What the issues are? I was able to built the app with Xcode 13, but it seems there are memory leaks. I didn't try find the cause.

[2021-11-16 05:38] anhappdev commented on #121
Yes, the app can be built successfully but will crash in run time (see https://github.com/mlcommons/mobile_app_flutter/issues/303)

[2021-11-16 06:04] relja128 commented on #132
We should be using org.mlcommons. Please make the change for both Flutter and Android.

[2021-11-16 06:05] relja128 commented on #130
Per mcharleb this is primarily in docs

[2021-11-16 06:08] relja128 commented on #115
Closing this off. Please file a new issue if running without sudo is a problem.

[2021-11-16 06:08] #115 closed

[2021-11-16 06:15] relja128 commented on #112
Top level make files should be minimal, include app-specific make files from the subdirs.

[2021-11-16 06:24] relja128 commented on #111
Proprietary backend files live here:
https://github.com/mlcommons/mobile_back_*
(you need to be an MLC contractor)

[2021-11-16 06:26] #108 closed

[2021-11-16 06:32] relja128 commented on #99
Top level README should include a table of contents including links to other repos as needed. Other than that we are sticking with READMEs per app / per repo.

[2021-11-16 06:33] relja128 commented on #30
Per @Mostelk - v2 should fix this.

[2021-11-16 08:09] anhappdev opened #135 "Option to build app with multiple backends"
Part of #125

[2021-11-16 08:32] d-uzlov opened #136 "Set up formatting checks using GitHub CI"
Currently we use a Jenkins Job that runs [android/formatters/run-format-code.sh script](https://github.com/mlcommons/mobile_app_open/blob/1ca4ea9dcdab5ea312ca04863e4911927b804215/android/formatters/run-format-code.sh).
We are moving away from our Jenkins server, so we need to set up formatting checks elsewhere.

Script `run-format-code.sh` has [issues with deleted files](https://github.com/mlcommo

[2021-11-16 08:41] d-uzlov commented on #136
@mcharleb, our formatting script only looks at the files changed in a branch. Is there a real reason for this or is this just an arbitrary choice someone made long time ago?
This complicates the script (and we got a bug with deleted files because of this).
I don't see any advantages in this. If the repo contains only the files with proper formatting, then only changed files could fail the check, n

[2021-11-16 10:55] #132 closed

[2021-11-18 05:46] #135 closed

[2021-11-19 02:23] #126 closed

[2021-11-19 05:33] d-uzlov opened #142 "Flutter app doesn't check error message from backend match"
We don't check anywhere:
https://github.com/mlcommons/mobile_app_open/blob/817505143a9374ac99096c16057da1eadf21b7d3/flutter/cpp/flutter/dart_backend_match.cc#L27
https://github.com/mlcommons/mobile_app_open/blob/817505143a9374ac99096c16057da1eadf21b7d3/flutter/lib/backend/native.dart#L175

[2021-11-19 06:03] d-uzlov commented on #111
I have built an APK with all backends (tflite, neuron, pixel, qti, samsung).
The APK can be downloaded from the Releases page: https://github.com/mlcommons/mobile_app_open/releases/tag/v3.0.0-flutter-android-alpha-1

[2021-11-19 06:40] #99 closed

[2021-11-19 07:46] anhappdev opened #144 "Unify guides and scripts for dataset creation"
Currently, there are 3 locations regarding dataset for the MLPerf app and the code in those locations are also overlapping.

* [mobile_datasets](https://github.com/mlcommons/mobile_datasets): Contains scripts to create performance-only test sets for MLPerf Mobile
* [mobile_app_open/datasets](https://github.com/mlcommons/mobile_app_open/tree/master/datasets): Contains scripts to prepare test and ca

[2021-11-22 08:58] anhappdev opened #145 "Update TensorFlow to 2.8.0"
TF 2.7 is out: https://github.com/tensorflow/tensorflow/releases/tag/v2.7.0 and have many improvements.
We should update TensorFlow to 2.7.0 (the current used version is 2.6.0)
This will also close the PR #86 without merging it.

[2021-11-22 10:37] #142 closed

[2021-11-23 06:11] relja128 commented on #145
To be discussed in the policy meeting.

[2021-11-23 06:15] relja128 commented on #145
@freedomtan - pro update, but there may be an issue with CoreML delegate that we would have to deal with. This affects only iOS.

[2021-11-23 06:30] relja128 commented on #144
Per our discussion, we are keeping the structure as is. Notes:
* mobile_datasets - scripts to generate performance mode datasets that are later downloaded by the app
* mobile_app_open/datasets/utils - scripts to generate calibration and validation files. Want this to be version controlled along with the app code.
* mobile_app_open/android/cpp/datasets - legacy app instructions. Will get retired al

[2021-11-23 06:30] #144 closed

[2021-11-23 06:33] relja128 commented on #136
For now, format all files, and if that causes problems we can invest additional work to format only changed files.

[2021-11-23 07:03] relja128 commented on #125
1) With config data you mean the tasks_v2.pbtxt, right?
Yes, but if you need additional config data elsewhere, that's ok.

2) Should the path to the config file in SD card just be hard-coded to something like /sdcard/mlperf_datasets/custom_tasks.pbtxt?
No, see below.

3) Should the change be made for Android or Flutter or both app?
Flutter app.

----

What we want to achieve:
1) The press can run

[2021-11-23 15:41] anhappdev commented on #121
Some other CI/CD services with macOS host:

**Pay per minute:**
* [GitHub Actions](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources)
* [CircleCI](https://circleci.com/build-environments/xcode/)
* [Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml)

**P

[2021-11-24 02:21] #128 closed

[2021-11-24 08:28] anhappdev opened #148 "Create Docker image for code formatting"
We should have a Docker image contains all the tools needed to run code formatter, and a short guide how to use it.
All the code formatting tools and chosen code styles should match those used in our CI/CD pipeline.

[2021-11-24 08:31] anhappdev commented on #148
@d-uzlov: Danil, how do you run code formatter for this repo? Are these tools installed locally? Do you have a problem with other repos if they use other code styles (version) but for the same language?

[2021-11-24 08:44] d-uzlov commented on #148
I have all the required tools installed locally.
To format everything, I just run `make format`.
The result matches our CI checks.
Our CI also checks other things, for which we can run `make lint`.

I should have probably documented these commands somewhere.

Do you mean if I dislike it or not? I don't mind.
Well, I may not like some particular code styles but it's not like I can do something abou

[2021-11-24 08:54] anhappdev commented on #148
I mean, how you manage multiple version on the same computer. I worked on multiple repos, and they use slightly different version and produce slightly different result, which causes CI test to fail.

That is the problem I try to solve with Docker (multiple environment on same computer). Of course, it is also easier to just run 'docker run' instead of installing all the tools locally.

[2021-11-24 09:15] d-uzlov commented on #148
I don't have much experience with using contributing to repositories with the same language but different code styles. It just so happened that the projects I worked on so far used different languages. Well, actually, not languages, just different formatting tools.

We shouldn't have issues with mismatched styles, because we specify the rules we check in command arguments. For example, we use `goo

[2021-11-24 09:53] anhappdev commented on #148
Since you already set up the formatter for CI pipeline. Would this be a quick task for you? Else, I can also do it.

[2021-11-24 10:01] d-uzlov commented on #148
How do you think, where should we put Dockerfile for the image with formatting utils?

[2021-11-24 10:08] anhappdev commented on #148
I think we can have a folder named `tools` at the root level. Then a folder `formatter` inside it. Then we put all the formatting related stuffs in there. Also move the `format.mk` to `tools/formatter/format.mk`. The Docker file would be in `tools/formatter/Dockerfile`

[2021-11-24 10:16] d-uzlov commented on #148
Will we keep anything else in the `tools` folder?

[2021-11-24 10:27] anhappdev commented on #148
I would also move the `datasets` folder into `tools` but don't know what the others think.
And if there is no hard requirements where all the `yaml` files for CI/CD must be, I would also move them into `tools/ci`.

[2021-11-24 10:35] d-uzlov commented on #148
There is a hard requirement that github CI configs live in `/.github/workflows`.
We could move GCP cloudbuild configs to somewhere else (right now we only have one file). I think it would be easier to understand if we keep it near the Github CI files.

[2021-11-24 10:43] d-uzlov commented on #148
Overall I like the idea to move formatting stuff to `/tools/format`, or something, looks reasonable.
And I personally would support the idea to rename `/datasets` folder to `/tools/datasets`.

[2021-11-24 10:53] anhappdev commented on #148
Yes, I know some CI services have a hard requirement where the config files must be. I think we just leave the CI config files there unchanged for now.

[2021-11-24 13:51] anhappdev commented on #112
If the Android app will be deprecated in favor of Flutter app. I think it's best not to merge them. Just move the Makefile for Android into `android` folder.

[2021-11-24 14:34] d-uzlov commented on #112
I think that we should do the following in context of this task:

1. Pull make targets for the Flutter app to the repository root (and refactor them in the process)
2. Integrate all backends with the Flutter app
3. Add commands to build Flutter app with docker
4. And because all this would be too much for one makefile: refactor our root make file, moving Android-app-related stuff to the `/android`

[2021-11-24 15:08] anhappdev opened #149 "Cache and output directory is not accessible for user in Flutter Android"
User can access cache and output files on Flutter iOS but not on Flutter Android app.

[2021-11-24 15:22] d-uzlov commented on #112
Another thing to note is that while the Android app itself will be deprecated, at least half of the configs and build commands (which were previously used for the Android app) are actually for backends, which are not going to be deprecated any time soon.

[2021-11-24 15:37] anhappdev commented on #112
I would just copy those configs and command to some place outside the `android` folder. We should not have dependency on deprecated code. Sometime in the feature we will probably mark the `android` folder as deprecated and do not want to touch it anymore.

[2021-11-25 06:50] anhappdev commented on #149
The current code uses `getApplicationDocumentsDirectory()` to get the storage location.
The returned path is `/data/user/0/org.mlcommons.android.mlperfbench/app_flutter` and is inaccessible for user.

Per docs

/// [getApplicationSupportDirectory] instead if the data is not user-generated.
///
/// On Android, this uses the `getDataDirectory` API on the context. Consider
/// using [getExternalStora

[2021-11-25 08:48] anhappdev commented on #148
@d-uzlov: Danil, did you start working on this? If not I can do it, since I need it today. Just want to avoid duplicated work.

[2021-11-25 08:49] d-uzlov commented on #148
No, I was going to start tomorrow.
You can take it.

[2021-11-25 09:01] anhappdev commented on #148
Ok.

[2021-11-26 07:43] #149 closed

[2021-11-26 07:45] #109 closed

[2021-11-26 10:17] #148 closed

[2021-11-26 10:35] anhappdev opened #153 "Deprecate native Android app in favor of Flutter app"
Since we will deprecate the Android app located in `android` folder sometime in the future. I am going to make a checklist of things to consider:

1. The Flutter app shouldn't have any dependencies on the Android app. Any shared code used by Flutter app, but located in `android` directory, should be copied to other places outside `android`.
2. Check if we can build the Android app successfully, th

[2021-11-29 08:45] anhappdev commented on #125
I think we should add a file picker to the setting screen.
In the setting screen, the user can set the paths to different datasets and models.
On the first start, the paths will be populated using the default paths from the default `tasks.pbtxt` file. After that, the user can change it (using a file picker for a local path or just enter text for a URL).
This would be a clean approach without too m

[2021-11-30 06:07] relja128 commented on #153
This is a good list, but we shouldn't do any of this work before we start the deprecation process (likely after the 2.0 release).

[2021-11-30 06:20] relja128 commented on #125
We discussed having an edit box with paths in settings, but decided it was unwieldly because of the number and length of paths.

For now, implement the following:
* By default, the app will use files on the SD card if found, else it will download to cache directory, and use the cache.

We will discuss and design the override switches in settings in a future meeting.

[2021-11-30 07:03] anhappdev commented on #112
@d-uzlov I think we can do the first point of #153 in this issue.

[2021-11-30 07:12] d-uzlov commented on #112
@anhappdev, which exact common resources are you talking about?

[2021-11-30 07:22] anhappdev commented on #112
Those you mentioned earlier:

[2021-11-30 10:35] mohitmundhragithub commented on #111
Thanks Danil for sharing the APK.
I tried this apk internally on a Qualcomm device. The libqtibackend.so loads just fine, But Qualcomm needs the location of the library to be passed during create.

https://github.com/mlcommons/mobile_app_open/blob/master/mobile_back_qti/cpp/backend_qti/qti_c.cc#L84

This path is used for loading the libs required for DSP communication. These libs are bundled withi

[2021-11-30 12:37] anhappdev opened #154 "User can clear cache from the setting screen"
Part of #125
Add a button to the setting screen to let the user clear the current cache. All downloaded files (include the default `tasks.pbtxt` file) will be deleted and downloaded again.

[2021-12-01 06:10] d-uzlov opened #155 "Flutter app doesn't pass native lib location to backend"
See here for details: https://github.com/mlcommons/mobile_app_open/issues/111#issuecomment-982506436

In native Android app we can get this path using `getContext().getApplicationInfo().nativeLibraryDir`.
In the Flutter app we can't access `nativeLibraryDir` from the Dart code. I wasn't able to find any Flutter plugins that would allow this.
We can obtain this value in the Java/Kotlin code and tra

[2021-12-01 06:16] d-uzlov commented on #111
@mohitmundhragithub, the Flutter app has native lib path hardcoded, it always passes an empty string.
I'll fix it, upload a new APK and ping you when I'm done so you can test if it will work with the fix.

[2021-12-01 07:26] d-uzlov commented on #111
@mohitmundhragithub, could you check if this APK works?
https://drive.google.com/file/d/1n_SwqOhtHL2Y-oxxicjoZT_3QjntNMkn/view?usp=sharing

[2021-12-01 18:56] Mostelk commented on #125
Clearing cache will clear the downloaded datasets for performance mode as well, Can we have a Toggle switch (similar to what we have to choose between performance and submission mode) to switch between HTTP vs Card: in case of HTTP it uses the models in the Cache and downloads them if missing, in case of Card it uses the modes on SDCard and throws an error if cannot find them. This way there is no

[2021-12-02 06:06] mohitmundhragithub commented on #111
I tried this apk shared. But the numbers are too low. Which SNPE SDK and qti backend code base did you use to build the apk?

[2021-12-02 06:54] d-uzlov commented on #111
I used SNPE SDK 1.55.0.2958, and the following commit: https://github.com/mlcommons/mobile_app_open/tree/817505143a9374ac99096c16057da1eadf21b7d3

[2021-12-02 10:24] mohitmundhragithub commented on #111
I checked further. Looks like this apk provided doesn't load qti backend. Can you please have a look?

	Line 2140: 12-02 10:18:31.417 12644 12644 W FlutterActivityAndFragmentDelegate: A splash screen was provided to Flutter, but this is deprecated. See flutter.dev/go/android-splash-migration for migration steps.
	Line 2140: 12-02 10:18:31.417 12644 12644 W FlutterActivityAndFragmentDelegate: A spl

[2021-12-03 03:31] d-uzlov commented on #111
Seems like I messed up the previous build. Sorry for this.
Here is a new one: https://drive.google.com/file/d/1993wNscwePY1jReyvE5JCs2doDMCqp4a/view?usp=sharing

[2021-12-03 06:21] mohitmundhragithub commented on #111
I was able to run this apk with qualcomm backend.
But, looks like that the configuration for offline case has some changes, because I am getting very low score, ~170QPS instead of ~2500QPS.

[2021-12-05 10:01] anhappdev commented on #125
We can discuss it in the next mobile meeting. For now, I just implemented the simple behavior first (delete all loaded resources).

[2021-12-06 03:13] d-uzlov commented on #111
@mohitmundhragithub, I'll try investigating this.

In the meantime, could you approve https://github.com/mlcommons/mobile_app_open/pull/156?

[2021-12-06 09:53] #154 closed

[2021-12-07 03:38] d-uzlov opened #159 "Low performance in offline benchmark in the Flutter app"
https://github.com/mlcommons/mobile_app_open/issues/111#issuecomment-985248507

[2021-12-07 06:03] fatihcakirs opened #161 "Fix dataset prep script"
The datasets/Makefile has some minor bugs. Also changed the jpeg quality value in datasets/util/ade20k/resize_512_ade20k.py script to align with https://github.com/mlcommons/mobile/blob/prep-dataset-accuracy/vision/deeplab/ade20k_512x512_dataset_on_device/README.md . Related PR is https://github.com/mlcommons/mobile_app_open/pull/160 .

[2021-12-07 06:08] relja128 commented on #130
Mohit to look into it

[2021-12-07 06:15] relja128 commented on #125
Let's go with @Mostelk's proposal. This will involve having separate tasks files - one for local (SD), one pointing at URLs which will then populate the cache.
The key point is that the cache and the local SD card files are separate entities.

[2021-12-07 06:17] relja128 commented on #111
Closing this off. Please continue perf work in other issues.

[2021-12-07 06:17] #111 closed

[2021-12-07 06:22] relja128 commented on #145
This was approved. Postponing until we figure out our performance delta over the old app.

[2021-12-07 06:27] relja128 opened #162 "Old app: add one more segmentation task to tasks list"

[2021-12-07 06:35] mcharleb commented on #130
The DLC building code in mobile_back_qti used to reference it before the updates to generate the datasets was merged. I don't know if there are any further references or not.

[2021-12-07 06:51] Mostelk commented on #162
For V2,0 next submission: we have a new segmentation model called MOSAIC. For Soft transition of models and investigation of new proposal efficacy, we agreed model replacements will be in soft transition. Hence, the newer model MOSAIC will replace the older DLV3+ model for the Segmentation task in current task list and task called "v2.0 Image Segmentation", and the current Segmentation task will b

[2021-12-08 03:50] d-uzlov opened #163 "Move make targets to separate files included into root makefile"
Part of https://github.com/mlcommons/mobile_app_open/issues/112
Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/165

What we need to do:

1. Move contents of the root makefile to `/android` folder, and include it in root
2. Include makefile from `/flutter` into root makefile
3. Update documentation with new make targets

[2021-12-08 03:59] d-uzlov opened #164 "Add commands to build Flutter app with vendor backends"
Part of https://github.com/mlcommons/mobile_app_open/issues/112
Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/163
* https://github.com/mlcommons/mobile_app_open/issues/110

What we need to do:

1. Adjust flutter make targets to include required backends using `WITH_<backend name>` syntax
2. Add make targets to build things in docker by prepending `docker/` to any appropriate ma

[2021-12-08 04:29] d-uzlov opened #165 "Remove excessive '@' modifier from all makefiles"
Part of https://github.com/mlcommons/mobile_app_open/issues/112

If someone doesn't want to see echo of the commands in `make` they can use the `-s` arg.
From output of `make --help`
[code]

[2021-12-08 08:10] #165 closed

[2021-12-10 02:27] #155 closed

[2021-12-10 02:31] #163 closed

[2021-12-10 19:20] anhappdev opened #168 "Add toggle switch to choose between internet resources or local resources."
Ref: https://github.com/mlcommons/mobile_app_open/issues/125#issuecomment-987601695

Add toggle switch to choose between internet resources and local resources.
There will be two configuration files, one with only local paths and one with only HTTP paths.
Local resources and HTTP resources will be stored separated in different folders.

[2021-12-10 20:29] Mostelk opened #169 "Standardize accuracy result display"
Currently the accuracy is displayed as dd.pp%, 0.pppp, 0.pppp, dd.ppppp, dd.pp% for the 5 tasks, I suggest to normalized the display for all of them to be like image classification dd.pp% e.g 75.50%

[2021-12-11 18:07] anhappdev commented on #168
Add a toggle switch to setting screen.
In offline mode, an error will be raised if the app tries to use internet resources. Multiple configurations (multiple `tasks.pbtxt` can already be defined via `json` file. See [this guide].(https://github.com/mlcommons/mobile_app_open/blob/dd39478d334b2bf0b305f8f62d1b6246bad6df06/flutter/documentation/custom-tasks.md#using-custom-taskspbtxt-file)

[2021-12-11 18:25] anhappdev opened #171 "Change parsing logic of location path in tasks.pbtxt"
Currently, the Flutter app will replace `mlperf_datasets` with `external_resources`. See [this README](https://github.com/mlcommons/mobile_app_open/blob/0e161989a7d17456f78c5c83708b9250ce81a83d/flutter/documentation/custom-tasks.md?plain=1#L27).
This seems to be a workaround to make the Flutter app compatible with the [tasks_v2.pbtxt](https://github.com/mlcommons/mobile_models/blob/main/v1_0/asset

[2021-12-11 18:26] anhappdev commented on #171
@d-uzlov Can you provide some context about this logic?

[2021-12-13 04:17] d-uzlov commented on #171
I can't say too much about this.
This logic was implemented before I started working on this project. I guess that using `external_resources` as directory name was an arbitrary choice.

I guess we can remove this logic for Android, but all paths in tasks file are defined for Android, and don't even make sense on other platforms. There is no `/sdcard` folder on either iOS or Windows.
On iOS we can

[2021-12-13 04:19] d-uzlov commented on #171
Well, actually the problem here would be that someone could use `/sdcard/loaded_resources` path in their tasks file and mess with our cache.
Not sure if we care about this.

[2021-12-13 06:27] anhappdev commented on #171
A solution could be, that we require all data must be placed in the app storage directory. The path in `tasks.pbtxt` must be prefixed with `app://` for local resources, then `app://` will be replaced with a full path to app directory which is platform-specific.
So `app:///path/to/file.txt` in the `tasks.pbtxt` would be translated to `/platform/specific/app/root/directory/path/to/file.txt`.

[2021-12-13 10:36] d-uzlov commented on #171
I like the idea.
I think we should discuss it at tomorrow meeting.

[2021-12-14 03:28] d-uzlov opened #172 "Refactor Flutter files"
We have few files in the Dart/Flutter sources that are hard to read and navigate.
[benchmark.dart](https://github.com/mlcommons/mobile_app_open/blob/0e161989a7d17456f78c5c83708b9250ce81a83d/flutter/lib/benchmark/benchmark.dart) — 670 lines
[resource_manager.dart](https://github.com/mlcommons/mobile_app_open/blob/0e161989a7d17456f78c5c83708b9250ce81a83d/flutter/lib/benchmark/resource_manager.dart)

[2021-12-14 06:14] d-uzlov commented on #171
As long as the actual directory is accessible, the changes should not be a problem.
Let's create a PR with this `app://` change and test that the application directory used in this PR is accessible on all devices tested.

[2021-12-14 06:41] K-R-U-T-I commented on #115
Hi @mcharleb, I built the app with flag WITH_MEDIATEK=1 & from the master branch.

Hi @freedomtan, @relja128 Thanks for your response.

After including missing files from this [repository](https://github.com/MediaTek-NeuroPilot/tflite-neuron-delegate/tree/master/neuron), issue will be resolved.

[2021-12-14 07:04] Mostelk commented on #169
this is how current app currently displays: 75.84%, 0.2763, 0.5390, 93.9833, 75.73%
according to these reference, display is better standardized like this: 75.83, 27.63, 53.90, 93.98, 75.73
Deeplab: https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7913730
MobileDet: https://arxiv.org/pdf/2004.14525.pdf
MobileBert: https://arxiv.org/pdf/2004.02984.pdf

[2021-12-14 08:35] K-R-U-T-I opened #173 "App crash when different tflite model is loaded"
After downloading Mobilenet Edge TPU pre-trained model from [here](https://storage.cloud.google.com/mobilenet_edgetpu/checkpoints/mobilenet_edgetpu_224_1.0.tgz).

I converted it to tflite with --input_shapes=1,224,224,3 --input_value_ranges=-1,1 --quantize=True --allow_missing_quantization_ranges=True flags. Added source tflite url in tflite_settings.h & tflite_settings_mtk.h

Here's the screensho

[2021-12-14 20:13] TheKanter commented on #169
is this the display in the app? Where exactly?

[2021-12-14 20:19] Mostelk commented on #169
E.g. screenshot from 1.1. results e.g. https://github.com/mlcommons/mobile_submission_1.1/blob/master/closed/Qualcomm_Innovation_Center/results/SDM778G/Screenshot_20210916_160208.jpg

[2021-12-15 04:25] freedomtan commented on #169
`75.83, 27.63, 53.90, 93.98, 75.73` (without showing the percent sign) looks fine to me.

[2021-12-15 23:20] relja128 opened #175 "Flutter app: unofficial vendor builds should have a distinct skin"
Allow vendors to build an unofficial version that would have a clearly different skin (brown instead of blue, "Results" -> "Unverified results").

Presence of a config file (uverified.version - can be 0 bytes) should be the key that enables this mode.

Will discuss more in the eng meeting.

[2021-12-16 02:07] #161 closed

[2021-12-16 02:48] freedomtan commented on #121
FYR. I upgraded my macOS, iOS, and Xcode to 12.1, 15.2, and Xcode 13.2 yesterday. Then, I spent some time profiling and found that the culprit is [CoreML delegate's invoke function].(https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/coreml/coreml_delegate_kernel.mm#L207-L230). Adding "@autoreleasepool {}" to it resolved the `EXC_RESOURCE` issue. Tested on iPhone 11 Pro

[2021-12-16 15:25] anhappdev commented on #121
@freedomtan Thanks for that info. I filled a bug report here https://github.com/tensorflow/tensorflow/issues/53461

[2021-12-17 06:48] Mostelk commented on #168
This message I get when setting 'Offline mode' switch without modifying the tasks file: However, we do need the performance datasets downloaded, and only the model. e.g. tflite can be sideloaded. Can the Offline mode switch just point to a second preset tasks file (which can have the models sideloaded on sdcard and the datasets downloaded)
![Screenshot_20211216-223546](https://user-images.githubus

[2021-12-17 07:46] anhappdev commented on #168
The performance datasets will always be downloaded or provided, else the app cannot run the benchmark, right?
What we can do is doing the offline check only for models and ignore the datasets. Is this ok?

Regarding a second task file, user should be able to add it easily following [this guide](https://github.com/mlcommons/mobile_app_open/blob/dd39478d334b2bf0b305f8f62d1b6246bad6df06/flutter/docum

[2021-12-18 00:08] Mostelk commented on #168
Yes, Performance datasets have to be downloaded for consistency. For adding second task file, where can we locate benchmarksConfigurations.json so we can add it?

[2021-12-18 07:40] anhappdev commented on #168
When the app starts for the first time, it creates a file named `benchmarksConfigurations.json` in the root application directory. The root application directory is platform-dependent.
* iOS: `/MLPerf`
* Android: `/Android/data/org.mlcommons.android.mlperfbench/files`
The section [using-external-resources](https://github.com/mlcommons/mobile_app_open/blob/dd39478d334b2bf0b305f8f62d1b6246bad6df06/f

[2021-12-18 07:42] anhappdev commented on #168
User selects it in the Settings screen.

[2021-12-18 10:59] anhappdev commented on #168
Another option would be just showing a warning dialog (app can continue) instead of error (app cannot continue) and keep the check for both datasets and models.

[2021-12-20 12:36] mohitmundhragithub commented on #130
I checked and found that all the repos are changed to mobile_open.

[2021-12-20 12:36] #130 closed

[2021-12-21 04:39] d-uzlov commented on #159
I compared the performance of the tflite backend between the old app and the Flutter app, and I found that the Flutter is ~1.5 times slower in every benchmark.
I think this is caused by thread priority.
I wasn't able to find any info on thread priority in Flutter, but when I changed the code to create a new native thread for each benchmark, I got the same scores as in Android app. Seems like Flutt

[2021-12-21 06:17] relja128 commented on #173
You have to make sure the model is valid, and that it is not compressed. Other than that, there should be no additional code changes needed. We don't have an easy solution to this, other than for someone to debug, try it with a different model, etc.

[2021-12-21 06:21] relja128 commented on #173
Also, please make sure that the URL you are downloading from is a .../raw/.. URL otherwise github will return back a web page instead of the file itself. Take a look at the other model paths to see how they're expressed.

[2021-12-21 06:23] freedomtan commented on #173
to be more specific, please use `https://github.com/K-R-U-T-I/ML-Benchmarking/raw/main/mobilenetEdgetpu_uint8.tflite` instead of `https://github.com/K-R-U-T-I/ML-Benchmarking/blob/main/mobilenetEdgetpu_uint8.tflite`

[2021-12-21 06:36] anhappdev commented on #168
As discussed in the meeting, we chose to just showing a warning dialog (app can continue) instead of error (app cannot continue) and keep the check for both datasets and models.

[2021-12-21 06:38] relja128 opened #177 "Flutter app did not pick up the Samsung backend when built"
Per @Mostelk - the build which is supposed to contain the Samsung backend has the same performance as the regular tflite version of the app.

[2021-12-21 06:39] relja128 opened #178 "Flutter UI should show the backend used in the advanced view just like the old app"

[2021-12-21 07:54] K-R-U-T-I commented on #173
Yes, by specifying the raw URL (https://github.com/K-R-U-T-I/ML-Benchmarking/raw/main/mobilenetEdgetpu_uint8.tflite), the issue got resolved.

[2021-12-21 07:56] #171 closed

[2021-12-21 13:20] anhappdev opened #179 "Add linter for Markdown"
Markdown file should also have linter like other code files too.
After a quick google search, I think we can use this one:
https://github.com/avto-dev/markdown-lint

To do:
* Add doc about this linter
* Add the linter to the Dockerfile for code formatting
* Configure CI to use this linter
* Reformat all Markdown files in this repo to satisfy the linter.

[2021-12-22 04:08] freedomtan opened #180 "Flutter app doesn't really use Neuron delegate"
From `logcat`, Neuron backend is detected but NNAPI delegate is used.

[2021-12-22 04:18] #173 closed

[2021-12-22 04:19] d-uzlov commented on #162
The APK is available on the Releases page: https://github.com/mlcommons/mobile_app_open/releases/tag/v2.0.1-alpha-mosaic

[2021-12-22 09:32] #180 closed

[2021-12-22 13:23] anhappdev opened #182 "Require new approval when new commit are pushed to approved pull request"
Currently, this repo is set up so that if a PR is approved, new commits can be pushed to that PR and that PR can be merged without requiring a new approval.

I think the repo should be set up that when new commits are pushed to that PR, it needs approval again before merging is allowed.
This can be achieved by enable `Dismiss stale pull request approvals when new commits are pushed.` (see [step nu

[2021-12-23 03:38] #112 closed

[2021-12-23 03:38] #164 closed

[2021-12-23 07:58] anhappdev opened #184 "Handling of updated default task file"
The app uses a default task file (`tasks.pbtxt`) loaded from a URL. There are 3 cases:
1. The URL is changed, but the app is not changed.
2. The URL is changed, but the app is changed.
3. The URL is not changed, but the content of the config file is changed.

How should we handle those cases?
One idea is to use a permanent URL for the default task file. The URL will redirect to an actual task file

[2021-12-23 08:02] d-uzlov commented on #184
There is another case: app is updated and the new version uses a new URL.
Currently the Flutter app would pick up the new URL if filename is changed.
After we merge https://github.com/mlcommons/mobile_app_open/pull/170 the behavior will change: the app will continue using the old config unless someone manually clears the cache.

[2021-12-23 08:19] anhappdev commented on #184
I added the case you mentioned.
We rarely change the default task file and in the Settings screen we can also see which task file is used, so it is quite transparent.
I would just merge #170 first, then handle this issue to avoid merge conflict if we keep the PR too long open.

[2021-12-24 06:36] d-uzlov commented on #159
After further research I found out that this is not the case.
Turns out my Note20 Ultra throttles when it heats up to ~40°C. I would never think that a phone that's barely warm could throttle so I thought that my changes caused difference in scores, but after a lot of testing I'm sure that my changes did nothing.

[2021-12-24 06:50] d-uzlov commented on #159
@relja128 @Mostelk @mohitmundhragithub @freedomtan
Could you test this new Android build of the Flutter app?
https://drive.google.com/file/d/1bfnafC5xMZm2Ec1iQv7UAqPYGC46fkh6/view?usp=sharing

[2021-12-24 06:50] d-uzlov commented on #159
I added few missing dependencies, which could prevent backends from loading, and [hopefully] fixed config for offline benchmark.

This is a debug build. This should not affect scores in any meaningful way because backends are built in release mode, only UI is in debug mode.
Release builds don't write much logs. This debug build should write all relevant logs.
If something is wrong with performance

[2021-12-24 08:35] #168 closed

[2021-12-28 04:35] d-uzlov commented on #177
A new version was uploaded here: https://github.com/mlcommons/mobile_app_open/issues/159#issuecomment-1000685411
It contains several fixes, which may also affect this issue.
@Mostelk, please, test if this is the case.

[2021-12-28 05:59] Mostelk commented on #177
I tested this ..debug-qsmgt apk on S21 Ultra, the detailed results actually show backend as TFLite for all benchmarks, and results show that Samsung backend is not picked up

[2021-12-28 06:02] d-uzlov commented on #177
@Mostelk, could you upload part of the logs with backend matching?
They should contain the reason why the app did not pick the Samsung backend.

[2021-12-28 09:59] d-uzlov opened #187 "Dart Format CI doesn't check import order"
We enforce order of imports in `.dart` files when running `make format/dart`:
https://github.com/mlcommons/mobile_app_open/blob/bdc0216c873780ac95b411adb6d2d321fde341ee/tools/formatter/format.mk#L24
According to `dart run import_sorter:main --help` output, it's possible to check the order on CI to fail the check if imports are not sorted, but we don't use it.

[2021-12-28 10:08] d-uzlov opened #188 "Add linter for yaml files"
We don't have any checks for yaml files.
We could use [yamllint](https://github.com/adrienverge/yamllint) for local checks and [this action](https://github.com/marketplace/actions/yaml-lint) for checks on CI.

[2021-12-28 21:52] al-mahi commented on #177
@d-uzlov I tested in my local device. I found in the log that it picked up tflite backend. From the following logs I think it either could not parse the BackendSetting or the backend setting is wrong itself.
12-28 15:32:07.152 21250 22915 I native  : cpp/flutter/dart_backend_match.cc:43 checking pbdata
12-28 15:32:07.153 21250 22915 E libprotobuf-native: [libprotobuf ERROR external/com_google_prot

[2021-12-29 02:36] d-uzlov commented on #177
@al-mahi, Is there a `Can't parse backend settings before serialization: <multiline protobuf from backend>` error message right after the error from `libprotobuf-native`?
Could you post it here?
You can use the `details` github markdown tag:

<details>

[code]
</details>

to avoid flooding the page

[2021-12-29 05:47] mohitmundhragithub commented on #159
![image](https://user-images.githubusercontent.com/1549325/147631062-124dbede-5b30-4fcf-b782-7e245af939a1.png)
We tried running the shared apk, but seeing this black screen in the app. The app, which was shared last time worked for us... but not this one.

[2021-12-29 05:57] d-uzlov commented on #159
@mohitmundhragithub this error can happen if there is no internet access and the app can't download list of benchmarks.
Could you check if the phone you used has internet access?

[2021-12-29 06:48] AasheeshT commented on #159
[flutter_debug_3.txt](https://github.com/mlcommons/mobile_app_open/files/7787616/flutter_debug_3.txt)
Logs with offline mode. We still observe low numbers.

[2021-12-29 07:06] anhappdev opened #189 "Change Flutter app package name from `mlcommons_ios_app` to `mlperfbench`"
Change Flutter app package name from `mlcommons_ios_app` to `mlperfbench` since the app supports multiple platforms now.

[2021-12-29 08:13] #189 closed

[2021-12-29 08:22] d-uzlov commented on #159
@AasheeshT, thank you for logs.
I see that the scores are improved but the app passes incorrect batch size to the backend, so the scores are not as high as they should be.
Here is a new APK with a fix: https://drive.google.com/file/d/1c_dLNxRaQgGuD5sBYs1PDS3z2p45CZ_H/view?usp=sharing

I don't know why the app could crash. It looks like there are some issues with either native code itself or with t

[2021-12-29 10:31] AasheeshT commented on #159
@d-uzlov Thanks for the apk. Performance has improved with correct batchsize but app still crashes. The crash is regular and with all the benchmarks.

[2021-12-29 11:51] #125 closed

[2021-12-29 13:07] #169 closed

[2021-12-29 14:40] anhappdev opened #193 "List of benchmarks are duplicated on choosing new configuration"
New benchmarks are added, but old one are not removed.

![IMG_C968C1108B18-1 Medium](https://user-images.githubusercontent.com/85728587/147673501-1507b984-9a46-4351-872a-06483e905165.jpeg)

[2021-12-29 15:09] anhappdev commented on #159
I would test the app with different backends to see if the crash occurred only with certain backend.
I don't know if it makes a different, but the QTI backend now uses SNPE SDK version `1.54.2`. The last benchmark submission with Android app used the version `1.48.0`

[2021-12-29 18:53] anhappdev commented on #178
This is how the UI looks with backend info. Please confirm if that is ok.

![IMG_12CCE59821AA-1](https://user-images.githubusercontent.com/85728587/147694364-852aff54-ff5e-44ea-95fa-abf6be062096.jpeg)
![IMG_3D8714A4E4E3-1](https://user-images.githubusercontent.com/85728587/147694369-82f9292c-644f-4920-b473-f88c3f1a56ff.jpeg)

[2021-12-29 22:16] al-mahi commented on #177
@d-uzlov Yes, the error message you mentioned is there. I posted several lines of the logs in the details tag.
<details>
12-28 15:32:07.152 21250 22915 D MLPerf  : [Backend][EdenAI] mlperf_backend_matches_hardware:955: This hardware is supported
12-28 15:32:04.882     0     0 I [2:c.PmicCurrentEG: 3832] adc_check_async: check async clear(0x41)
12-28 15:32:07.152 21250 22915 I native  : cpp/flutter

[2021-12-30 07:10] d-uzlov commented on #159
@AasheeshT, could you please test if some of these 2 apks fix crashes?
[mlperfbench-v3.0.6-debug+old_cpp_lib.apk](https://drive.google.com/file/d/1K968amf8cQ-bNE1J78UO1Svp3DmaWSvZ/view?usp=sharing)
[mlperfbench-v3.0.6-release+new_cpp_lib.apk](https://drive.google.com/file/d/1GE67dDA6hPRGDH0WOnnzDCN4iX0ioPsB/view?usp=sharing)

Also, what happens if you run several benchmarks at once? Does the app c

[2021-12-30 07:41] d-uzlov commented on #159
Also, if APKs above don't help, could you upload logs after this APK crashes?
[mlperfbench-v3.0.6-debug+print.apk](https://drive.google.com/file/d/1oTP7x_0BSyncRclhaTYcoAq3Eo9pFJNf/view?usp=sharing)

[2021-12-30 08:08] AasheeshT commented on #159
@d-uzlov Crash occurs in both the apks. Below are the logs :
[old_cpp_lib.txt](https://github.com/mlcommons/mobile_app_open/files/7792012/old_cpp_lib.txt)
[new_cpp_lib.txt](https://github.com/mlcommons/mobile_app_open/files/7792013/new_cpp_lib.txt)

[2021-12-30 09:28] d-uzlov commented on #177
@al-mahi
Samsung backend appear to be using the old protobuf scheme for settings.
The scheme was changed ~6 months ago, in the [currently deleted] `mobile_app` repo, and the `.so` file I used was built ~8 months ago.
I either used outdated version of the backend or the backend has yet to be updated to use the new protobuf scheme.
It worth noting that [samsung_settings.h](https://github.com/mlcommo

[2021-12-30 13:27] anhappdev opened #195 "Enable file sharing for Flutter iOS app"
With file sharing enabled, the user can easily access files in the app directory from a desktop computer.
See https://support.apple.com/en-us/HT210598 for more info.

[2021-12-31 05:04] al-mahi commented on #30
PR [197](https://github.com/mlcommons/mobile_app_open/pull/197)

[2022-01-04 11:37] anhappdev commented on #175
I use environment variable instead of an empty file because it should be easier to integrate with CI system.
By default, the app will be built with the unofficial UI because it's the most common and to avoid accidentally using the official UI.

This is how the UI looks:

![IMG_7272 Medium](https://user-images.githubusercontent.com/85728587/148040295-4194816b-1153-469e-a3a4-76578c2c027b.jpeg) ![IMG

[2022-01-04 11:45] anhappdev opened #199 "[Refactor] Define color values for Flutter app in a central place"
The color values for the Flutter app are defined inline in the code. Moving it to a central app constant would make it easier to maintain and update the app's theme.

[2022-01-06 01:17] al-mahi commented on #177
@d-uzlov @relja128 Is there any Docker build environment for flutter app? If so please share the link.

[2022-01-06 01:30] al-mahi commented on #177
I am not sure about that. @Mostelk I think can tell better

Yes

[2022-01-06 23:21] al-mahi commented on #30
Updated PR https://github.com/mlcommons/mobile_app_open/pull/197

[2022-01-10 06:05] d-uzlov commented on #177
Yes, you can build the Flutter app using docker.
Instructions for docker builds can be found in the Flutter app documentation: https://github.com/mlcommons/mobile_app_open/blob/master/flutter/documentation/build-and-run.md#android

[2022-01-10 07:00] #193 closed

[2022-01-10 13:31] anhappdev opened #203 "Handle TFLite backend description in case of delegate fallback"
Per @d-uzlov's [comment](https://github.com/mlcommons/mobile_app_open/pull/194#issuecomment-1008576560):

It's not the fault of this PR, but maybe we should do something about it in the future. Probably, create an issue to create a separate config for Windows.

Possible solution:
A `backend_description` string is passed to the backend in `RunSettings` and receive it back in `RunResult`. The TFLite

[2022-01-11 05:42] #195 closed

[2022-01-11 05:45] d-uzlov commented on #182
Done.
I enabled the `Dismiss stale <...>` checkbox.

[2022-01-11 06:10] relja128 commented on #184
Our config files should be immutable once published. If the config needs to change, then the URL needs to change. Therefore, we should never have to handle situation #3:
"The URL is not changed, but the content of the config file is changed."

[2022-01-11 06:12] relja128 commented on #178
The UI looks good.

[2022-01-11 06:13] #178 closed

[2022-01-11 06:15] relja128 commented on #162
Per @Mostelk - UI looks good and the right model has been picked up.

[2022-01-11 06:21] relja128 commented on #162
Please integrate into master. Everyone should start working on this version of the app for the new submission.

[2022-01-11 06:56] relja128 commented on #30
Pushing this off for post 2.0 submission.

[2022-01-11 07:02] anhappdev commented on #182
@d-uzlov Can you review and approve this PR: https://github.com/mlcommons/mobile_app_open/pull/198
I will then push a new commit with slightly changed color to test the behavior.

[2022-01-11 07:09] anhappdev commented on #182
It worked as intended.

[2022-01-11 07:09] #182 closed

[2022-01-11 08:13] #179 closed

[2022-01-11 10:49] #175 closed

[2022-01-11 12:52] mohitmundhragithub commented on #159
@d-uzlov, can you please share the PR which fixed the offline case performance issue?

[2022-01-11 12:57] d-uzlov commented on #159
@mohitmundhragithub, I haven't made a PR yet, but all the changes I made related to this issue are contained in the [159/perf](https://github.com/mlcommons/mobile_app_open/tree/159/perf) branch.

[2022-01-11 14:51] mohitmundhragithub opened #205 "Backend hardware match is not handled as expected in flutter app"
Found that in the latest flutter based app, if qti backend detects a snapdragon device, but the device is not supported, then also, the app goes ahead and loads the next backend and finally runs the tflite models.
Expected: The app should show a message saying that the device is unsupported instead of loading the next backend. This is what happens in the legacy android app, but not in the flutter

[2022-01-12 03:34] d-uzlov commented on #159
@AasheeshT, could you test if crash occurs in these apks?
[01-+qti-88955ab56a672d6187f697948f6b3dd7f9a43f3d.apk](https://drive.google.com/file/d/19_KlL-3LYgMaOhDkZtSHb3H-p6gkCmUI/view?usp=sharing)
[02-+qti-102af7ac828aecc8a473acc66ddc1ed37f721f59.apk](https://drive.google.com/file/d/17CtYbRXGCDCNY2aFtEwg19ocyqKkFQ-m/view?usp=sharing)
[03-+qti-ef5d75609f27885a52d9b321a92c8b3d8c3b72c0.apk](https://d

[2022-01-12 04:17] d-uzlov opened #206 "Move check for Samsung backend to C++ code"
Android app has an exception for Samsung backend. Samsung backend should not be unloaded between benchmarks:
https://github.com/mlcommons/mobile_app_open/blob/8711a2f52f2ae9fa4926589b01b07251c2a6c64f/android/java/org/mlperf/inference/RunMLPerfWorker.java#L179
Flutter app doesn't have such check.
It would make sense to move this check into C++ code instead of adding a separate check into Flutter ap

[2022-01-12 05:34] d-uzlov commented on #177
@al-mahi, could you test if this build works correctly?
https://drive.google.com/file/d/1QqmWq1gkfLJZa-EpDAOI1epOLim7t0U-/view?usp=sharing

[2022-01-12 06:06] d-uzlov opened #209 "Add markdown links check"
We can improve our CI with this link checker: https://github.com/tcort/markdown-link-check

[2022-01-12 07:34] AasheeshT commented on #159
Thanks @d-uzlov for the apks. The crash occurs on all the apks. Following are the logs :
[01.txt](https://github.com/mlcommons/mobile_app_open/files/7852564/01.txt)
[02.txt](https://github.com/mlcommons/mobile_app_open/files/7852565/02.txt)
[03.txt](https://github.com/mlcommons/mobile_app_open/files/7852567/03.txt)

[2022-01-12 07:36] AasheeshT commented on #159
Also the above apks don't have the batchsize fix for offline mode. Can you please tell what fix was done earlier to resolve wrong batch size in offline mode.

[2022-01-12 07:50] d-uzlov commented on #159
@AasheeshT, all the changes I made related to this issue are contained in the [159/perf](https://github.com/mlcommons/mobile_app_open/tree/159/perf) branch.

[2022-01-12 07:54] d-uzlov commented on #159
@AasheeshT, could you test this apk?
https://drive.google.com/file/d/1JRAF6gzO1GPd8SBgcKoPoWsp6Uh_KD0F/view?usp=sharing

[2022-01-12 09:25] AasheeshT commented on #159
This also crashes. Here are the logs :
[04.txt](https://github.com/mlcommons/mobile_app_open/files/7853292/04.txt)

[2022-01-12 09:47] d-uzlov commented on #159
@mohitmundhragithub, did you encounter any crashes when you tested the app here?
https://github.com/mlcommons/mobile_app_open/issues/111#issuecomment-985248507

[2022-01-12 10:24] mohitmundhragithub commented on #159
As i remember, i didnt see any crashes with the other apk.

[2022-01-12 10:24] mohitmundhragithub commented on #159
I think there were random crashes with the other apk as well.

[2022-01-12 14:50] mohitmundhragithub opened #212 "Facing issues in building windows flutter app."
@d-uzlov I am getting below error when trying to build flutter based windows app.
Can you please have a look once if you have come across it earlier or any suggestions to try out?

fatal error C1083: Cannot open compiler generated file: '': Invalid argument

[error.txt](https://github.com/mlcommons/mobile_app_open/files/7855423/error.txt)

[2022-01-12 15:00] d-uzlov commented on #212
I can't be 100% sure, but I think I encountered this same issue when I was building the app with too long username.
The path to the file in your log is 188 symbols long, but I believe that Visual Studio compiler composes file path and a relative include path in the file, and the resulting path exceeds ~260 path length limit. Or something like this.

I got this solved by just renaming the user in t

[2022-01-12 15:24] al-mahi commented on #177
@d-uzlov when I try to build it
Flutter app fails with the following error. Please let Danil know about this error and possible fix.

cd flutter &&  flutter pub get
Running "flutter pub get" in flutter...                             3.4s
rm -rf flutter/lib/protos
mkdir -p flutter/lib/protos
protoc --proto_path android/cpp/proto \
        --dart_out flutter/lib/protos \
        android/cpp/proto/*.

[2022-01-12 18:20] al-mahi commented on #177
@d-uzlov I tested the app you shared. It is not picking samsungbackend and using tflite backend instead.
Can you please share the link to the source code of this app? i.e. any particular branch.
<details>
01-12 13:09:55.640 29230 29548 I native  : cpp/flutter/dart_backend_match.cc:14 checking backend 'libsamsungbackend.so' ...
01-12 13:09:55.641 29230 29548 E native  : cpp/backends/external.cc:85

[2022-01-12 23:15] relja128 opened #213 "Refresh the iOS version of the app, apparently it expired"
Looks like we ran into the testflight time limit. Please re-submit the app so it keeps runnig.

[2022-01-12 23:36] dylanzika-google opened #214 "Integrate Pixel Backend into Tech Press App"
Please integrate Pixel Specific Changes / Backend into the unified tech press app.

Pixel used standard model set and tflite NNAPI so these changes should be minor?

Related - https://github.com/mlcommons/mobile_app_open/pull/77

Chun-Yen Ho (@ptt2panda) from Google

[2022-01-13 03:21] d-uzlov commented on #177
Have you run `dart pub global activate protoc_plugin`?

I used branch [206/move-samsung-check](https://github.com/mlcommons/mobile_app_open/tree/206/move-samsung-check) and the last available Samsung backend binary from its repo, from the branch that Mostelk told me about.

[2022-01-13 04:40] d-uzlov commented on #177
Here is a build with fixed dependency, which prevented previous build from working:
https://drive.google.com/file/d/1nMm6ItwlviUM_HBQRmq5rUAfQcDbyS-7/view?usp=sharing
I also pushed this fix to the previously mentioned branch.

[2022-01-13 05:45] d-uzlov commented on #159
@AasheeshT, could you test this APK?
https://drive.google.com/file/d/15Pywfu6RM1tZwLvhyQB7ajDfgjKNoFl-/view?usp=sharing
This is the old Android application. I want to check that the issues is specific to the Flutter app or to something from my build environment.

[2022-01-13 05:49] d-uzlov commented on #214
Our Flutter already has options to build with Pixel backend.
Command `make WITH_PIXEL=1 docker/flutter/android/apk` should give you an APK with pixel backend support.

There is also a build of the Flutter app on the Releases page: https://github.com/mlcommons/mobile_app_open/releases/tag/v3.0.0-flutter-android-alpha-3
You can grab it and test if your backend loads and if there are any issues.
Ther

[2022-01-13 07:21] d-uzlov commented on #213
I've uploaded a new version of the app into Testflight.

[2022-01-13 11:27] #184 closed

[2022-01-13 22:32] jwookiehong commented on #214
Dylan,
This build will be 1.1 with the latest backends integrated.

2.0 will be on the old android app. The alpha can be found here: link
<https://github.com/mlcommons/mobile_app_open/releases/tag/v2.0.1-alpha-mosaic>

Please test the 2.0 alpha and let us know if anything breaks. If you have
someone that can attend the regular engineering meeting, that would be
wonderful.

v/r,
-wookie

On Fri, Ja

[2022-01-13 23:04] dylanzika-google commented on #214
When is the regular engineering meeting scheduled for? Can you send me and
invite and I can see if the TW team can make it?

On Thu, Jan 13, 2022 at 4:32 PM jwookiehong ***@***.***>
wrote:

--
[image: Google Logo]
Dylan Zika
AI Product Manager
G-Chips, Pixel, & Edge TPU Group
(+1) 832-260-6134

[2022-01-14 06:23] anhappdev commented on #203
Yes. For now, I just display the backend name without the accelerator name, because of the following reasons:

1. To check which accelerator is actually used (with fallback handling) I need to modify the backend code. I want to avoid that, since the backend was well tested.
2. Sometimes TFLite can use multiples accelerators for the same model. So, it is not correct to just display one accelerator.

[2022-01-14 07:44] #209 closed

[2022-01-14 17:31] #162 closed

[2022-01-15 02:28] jwookiehong commented on #214
Sent meeting info to your email account.

On Fri, Jan 14, 2022 at 8:04 dylanzika-google ***@***.***>
wrote:

[2022-01-18 06:00] #199 closed

[2022-01-18 06:05] relja128 commented on #214
This should be the old Android app, built on the 1.1 branch that we released.

[2022-01-18 06:07] relja128 commented on #213
Didn't update for me, @d-uzlov is looking at whether it's internals or externals.

[2022-01-18 06:16] relja128 commented on #203
We should display the accelerator name, since whether or not we're using CPU / GPU / NPU really matters. Let's discuss next week when everyone is around.

[2022-01-18 06:23] relja128 commented on #121
Still no invite from Apple. Let's stay with Macincloud for now.

[2022-01-18 06:24] relja128 commented on #212
In case this helps, enabling long paths in Win10:
https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd

[2022-01-18 07:15] anhappdev commented on #214
Here is the Android app with all backends integrated: [mlperf_app_qti+samsung+tflite+pixel.apk.zip](https://drive.google.com/file/d/1E3USilkA4Ka_qikP1VO0UB_A_8U_6_S5/view?usp=sharing)

[2022-01-18 10:30] d-uzlov commented on #213
I uploaded a new build.
@relja128, I also tried removing and re-adding you to the app testers. It seems you will have to accept the invite again.

[2022-01-18 10:53] d-uzlov opened #219 "Disable offline benchmark batch size manual control for Android"
We have an issue related to performance in the offline benchmark: https://github.com/mlcommons/mobile_app_open/issues/159
This issue is caused by the batch size override in the Flutter app.
This override was added for the iOS version of the app, and it can probably be considered specific for the TFLite backend.
Since on Android we expect to use custom backends most of the time, and settings for th

[2022-01-19 10:20] #219 closed

[2022-01-19 10:32] relja128 commented on #213
Worked for me now, thanks

[2022-01-19 10:32] #213 closed

[2022-01-19 23:14] relja128 opened #223 "We need a build of the Flutter app with all backends that the vendors can test"
Please add it to the releases page

[2022-01-20 03:55] d-uzlov opened #224 "App doesn't print proper error when backend fails to load on Windows"
When app can't load a backend, it calls `tflite::SharedLibrary::GetError` function.
It seems like on Windows this function doesn't work properly. When loading fails, it can return `Unknown` instead of proper error explanation, and there is no way to know what went wrong when reading the logs.

[2022-01-20 05:58] #187 closed

[2022-01-20 06:27] #188 closed

[2022-01-20 09:40] anhappdev commented on #223
The build is uploaded here:
https://github.com/mlcommons/mobile_app_open/releases/tag/v3.0.0-flutter-android-alpha-4

[2022-01-21 07:33] Mostelk opened #226 "Commit ID for MLPerf Mobile V2.0 Submission"
Please confirm if you are fine with this commit ID to use for V2.0 Submission Branch
https://github.com/mlcommons/mobile_app_open/commit/7bd303f49c24a0c3b4e281120fb1368f017eacb2

[2022-01-21 07:48] anhappdev commented on #226
If I remember correctly, we will still use the native Android app for the v2.0 submission.
The commit `7bd303f` only affects the new Flutter app.

[2022-01-24 02:13] freedomtan commented on #226
yes, we can still use this commit as reference. It works for some customers' phone I tested.

BTW, for MediaTek's Neuron delegate, we need an extra entry for the new Mosaic model, https://github.com/mlcommons/mobile_app_open/pull/228

[2022-01-24 03:55] d-uzlov commented on #159
Could you also check this new build in the Releases page?
https://github.com/mlcommons/mobile_app_open/releases/tag/v3.0.0-flutter-android-alpha-4

[2022-01-24 07:15] sb-huh commented on #226
As anhappdev mentioned. that commit do not have any changes for others.

Anyway, for samsung backend 2.0 and MLPerf app, it did not happen abnormal performances. Looks good.

[2022-01-24 12:01] anhappdev commented on #226
Would it be better if we (pre-)release a v2.0 Android app with all backends, then use that release commit?

[2022-01-25 02:14] freedomtan commented on #226
I am not sure if that will be better. Usually, there are modifications / enhancements for new submissions. We have to do post-submission/auditing integration anyway.

[2022-01-25 06:14] freedomtan commented on #214
The one is for 1.1-based. Do we need to test this integrated app?
@Mostelk and @freedomtan to test if it works as expected

[2022-01-25 06:19] freedomtan commented on #159
qualcomm and mtk to test it. Samsung will revisit this after submission. We close this one for now.

[2022-01-25 06:19] #159 closed

[2022-01-25 06:25] freedomtan commented on #226
Qualcomm, Samsung, and MediaTek are fine with this one. We can close this and create a new 2.0 branch based one this one.

[2022-01-25 06:25] #226 closed

[2022-01-25 06:28] freedomtan commented on #145
Let's delay this for the flutter app

[2022-01-25 06:31] freedomtan commented on #124
Let's wait until the integrated flutter app tested.

[2022-01-25 06:31] mohitmundhragithub commented on #212
Thanks Danil and Relja. I was able to resolve the issue.

Facing a new issue now when trying to build qtibackend.
The SNPE for windows library produces dynamic libraries. But when we enable dynamic libraries flag for libqtibackend, it throws some linking error for tflite.
On trying out the same change in mobile_back_tflite, i.e., to dynamically link tflite, get the same error as above.
Any way tha

[2022-01-25 06:35] mohitmundhragithub opened #230 "Extra unrequired API in Windows for flutter app"
https://github.com/mlcommons/mobile_app_open/blob/master/android/cpp/c/dll_export.def#L4

Is mlperf_backend_vendor_name  required as an API? At least in mobile_back_qti, we don't have it.

[2022-01-25 07:04] anhappdev commented on #226
Here is the 2.0 submission branch created from the commit `7bd303f`:
https://github.com/mlcommons/mobile_app_open/tree/submission-v2.0

[2022-01-25 09:45] d-uzlov opened #231 "Validate vendor backends for the Flutter app"
We need to test the app to see if it correctly works with vendor backends.
We have few known issues:
* App doesn't have a special handling for the Samsung backend.
Test APK where issues with Samsung backend should be fixed is located in a comment here:
https://github.com/mlcommons/mobile_app_open/issues/177#issuecomment-1011790919
* App crashes on Qualcomm phones.
The discussion can be found in th

[2022-01-25 09:50] d-uzlov commented on #231
@relja128 @freedomtan @Mostelk @mohitmundhragithub @jwookiehong
Could you please test the app on devices available to you if/when you have the time?

[2022-01-25 09:58] d-uzlov commented on #230
I added this function to the export list because it is declared in the `backend_c.h`:
https://github.com/mlcommons/mobile_app_open/blob/857fe9cdd6e49528ab3df53861219a7a0ff677e6/android/cpp/c/backend_c.h#L37
However, there is no place where this function is used in the app.

I don't know the background of this function. Maybe it is a legacy function that was used at some point, or maybe we wanted t

[2022-01-25 10:25] d-uzlov commented on #212
I never tried to build libraries with dynamic linking using bazel on Windows.

@mohitmundhragithub, could you provide more into about changes you've made? I don't see any places where adding `linkshared = 1` in the tflite build file would make sense. Are you talking about some other flag, or are there some bigger changes in build configs?

[2022-01-25 10:35] d-uzlov opened #232 "Transitive libraries location on Windows"
Currently we have only TFLite backend on Windows. It doesn't have any transitive dependencies, so we only need to place its `dll` file in the place where the app can find it.
`dll` files are kept in the `./libs/` directory relative to executable.

Other backends may have transitive dependencies.
Currently the app will look for dependencies in default paths, so if transitive dependencies are placed

[2022-01-25 11:41] anhappdev commented on #230
No, I don't know that either.

[2022-01-25 20:00] shabanim opened #233 "--experimental_no_product_name_out_symlink"
The flag was removed in version 5-0 according to https://blog.bazel.build/2022/01/19/bazel-5.0.html ("Removed flag --experimental_no_product_name_out_symlink; it is effectively always true."

As a result it complain if bazel 5.0 is installed on the system because common.mk uses this flag. I think we should use this conditionally depending on bazel version installed on the machine.

[2022-01-26 23:21] dylanzika-google commented on #214
Chun-Yen (@ptt2panda) Can you ensure that this V1.1 APK is works on pixel as expected.

ML Perf wants to ensure that it works before the can give it to tech press.

[2022-01-27 01:44] ptt2panda commented on #214
@freedomtan
Which tensorflow version did we use for building this apk?
One of the optimization for Object Detection would only work if we use tensorflow 2.7, and from the results, it seems that this apk is using earlier version.

[2022-01-27 01:58] freedomtan commented on #214
@ptt2panda I think this based on an earlier version of TensorFlow since this is a v1.1-based one. It seems to me there two possible solutions for the APK

1. use 2.7 and ask other backends to check if it affects other backends (technically it should be fine. but updating an old branch with new feature always looks problematic :-))
2. check-pick related patches and apply it the Pixel backend.

@Mos

[2022-01-27 03:41] freedomtan commented on #231
@d-uzlov

FYR, it seems to be in on MTK phones. But the the offline issue is weird. I didn't look into it.

Oppo Reno 6 Pro (Color OS V11.3, MediaTek Dimensity 1200)
- Looks fine

Xiaomi Mi11 (MIUI 13.0 Stable 13.0.5.0 (SKBCNXM), Qualcomm 888)
- Crashed when running more than 1 test (single test looks to be fine)
- Crashed when running Image classification (offline)

Pixel 6
- Crashed when running

[2022-01-27 05:58] ptt2panda commented on #214
https://github.com/mlcommons/mobile_app_open/pull/234/files
@freedomtan is it OK if we merge this PR?

[2022-01-27 06:28] anhappdev commented on #214
The app was built using https://github.com/mlcommons/mobile_app_open/tree/release-1.1-Sept-2021, so the TensorFlow version used was 2.6.0.

[2022-01-27 06:33] mohitmundhragithub commented on #230
There already is a function, mlperf_backend_name. I think initially the function to determine the backend was mlperf_backend_vendor_name, but was later replaced with mlperf_backend_name. But somehow mlperf_backend_vendor_name was not removed.

[2022-01-27 06:36] mohitmundhragithub commented on #230
// Vendor name who create this backend.
const char* mlperf_backend_vendor_name(mlperf_backend_ptr_t backend_ptr);

// Return the name of this backend.
const char* mlperf_backend_name(mlperf_backend_ptr_t backend_ptr);

the comments look very similar as well.

[2022-01-27 06:40] mohitmundhragithub commented on #212
https://github.com/mlcommons/mobile_app_open/blob/master/mobile_back_tflite/cpp/backend_tflite/BUILD#L26

Add a field, "linkstatic=0" in the cc_library bazel construct.
https://docs.bazel.build/versions/main/be/c-cpp.html#cc_library

BTW, I tried by using tflite v2.7 as well... but it didn't help :(

[2022-01-27 06:58] anhappdev commented on #230
They can be different. For example, for TFLite backend:
`mlperf_backend_vendor_name`: Google
`mlperf_backend_name`: TFLite

[2022-01-27 07:23] jwookiehong opened #235 "Initial investigation for user results data collection"
Purpose of investigation is to develop a high level understanding of system components and technologies (firebase). Deliverable will be a design doc.
@relja128 Please feel free to add anything.

[2022-01-27 08:27] mohitmundhragithub commented on #230
So, do you suggest to add this api to backend? or remove this from the defs file?

[2022-01-27 10:46] anhappdev commented on #230
I would implement both 2 APIs in the backend.

[2022-01-27 14:37] mohitmundhragithub commented on #214
Is the patch already part of v2.7TF?

Generally, TF upgrade shouldn't impact our performance, as we use SNPE backend. But we would still want to try with the upgraded patch.

[2022-01-27 14:52] mohitmundhragithub commented on #231
We also tried in our internal devices, and still see the crassh, just like the one reported on Xiaomi Mi11 above.
@AasheeshT  is trying out few things to debug the reason for the crash.

[2022-01-28 05:56] anhappdev commented on #214
Is there any change to be merged, patched into this branch [release-1.1-Jan-2022](https://github.com/mlcommons/mobile_app_open/commits/release-1.1-Jan-2022)?
Else I will build a new app from that branch.

[2022-01-28 07:30] ptt2panda commented on #214
@mohitmundhragithub I merged the patch to release-1.1-Jan-2022.
And yes, that is already part of 2.7 TF.

[2022-01-28 09:19] anhappdev opened #237 "Inconsistency in naming variable for speed measurement"
Currently, in the app, we have different variable names to mean the same thing:
* `score` measured in `QPS` (Query Per Second)
* `latency` measured in `ms` for single stream benchmark
* `latency` measured in `QPS` for offline benchmark
* `score` is also used to measure accuracy with different units depend on benchmark type.

This caused confusion and conversion between units (`qps = 1000 / latency

[2022-01-28 10:50] d-uzlov commented on #212
When I tried adding `linkstatic=0` to the `cc_library { name = "tflite_c" }` rule I didn't get any errors.
Judging by Bazel documentation this is to be expected:

I used the following commands to test:
* `bazel build --config windows //mobile_back_tflite/cpp/backend_tflite:libtflitebackend.dll`
* `bazel build --config windows //mobile_back_tflite/cpp/backend_tflite:tflite_c`

However, I did get an

[2022-01-28 16:22] srkreddy1238 opened #238 "[RFC][BACKEND] Introducing TVM backend"
### Summary
TVM (Tensor Virtual Machine) is an end to end open source compiler framework. Supports wide range of frontends and almost all the hardware backends. Please visit https:/tvm.ai for more details about TVM.

### Motivation
TVM supports android edge devices with backends like ARM, OpenCL ... etc. Current benchmarking mechanism on Android devices is through TVM's very own scripts that run's

[2022-01-28 20:55] anhappdev commented on #235
Since there are not many requirements listed, I would suggest a simple approach:
1. Store data in a text file (CSV or JSON)
2. Upload text file to a cloud object storage service (like AWS S3 or Google Cloud Storage)
3. Write a simple script to parse / import those text files for ad hoc analytics.

This simple approach has some advantages:
* Easy and quick to implement (I estimate 5-8 hours)
* In t

[2022-01-28 21:12] anhappdev commented on #233
Per https://blog.bazel.build/2022/01/19/bazel-5.0.html

If there isn't a reason to use Bazel 5.0, I would stick to Bazel 4.x for now, since more issues may be occurred when building the app on other platforms with Bazel 5.0.

[2022-01-28 21:18] shabanim commented on #233
This is exactly what I did. Perhaps, we need to mention this on document for those who setup it up for the first time. I found if we run choco install bazel --version 4.2 then it install the specific version instead of the latest version

[2022-01-28 21:23] anhappdev commented on #233
The tested environment was mentioned in the [instruction for iOS](https://github.com/mlcommons/mobile_app_open/blob/master/flutter/documentation/env-setup-ios.md#tested-anvironment) but not for Windows. Perhaps can you create a PR and add it to the Windows instruction after a successful build?

[2022-01-29 12:06] anhappdev commented on #214
Here is a new build from `release-1.1-Jan-2022`

[2022-01-29_mlperf_app_tflite_qti_samsung_pixel_r1.1_7fd5b8d.apk.zip](https://drive.google.com/file/d/1CJjVDA-FpoILAKeQUIoCJe6M8zym-L5g/view?usp=sharing)

For Samsung backend I used `snpe-1.54.2.2899` and lib files from the private repo `mobile_back_samsung`

[2022-01-31 10:16] d-uzlov commented on #235
## Possible services

Firebase provides 2 databases services: [Firebase Realtime Database](https://firebase.google.com/docs/database) and [Cloud Firestorm](https://firebase.google.com/docs/firestore).
They are very similar for our use-case.
Both should be free for us if we only upload benchmark results as JSON.

There is also a [Firebase Cloud Storage](https://firebase.google.com/docs/storage) in

[2022-01-31 15:10] ptt2panda commented on #214
Hi @anhappdev,
I tested the build, and found that this branch doesn't seem to have the pixel backend.
I think we might need to patch more changes.

Could you confirm if you used https://github.com/mlcommons/mobile_app_open/tree/release-1.1-Sept-2021 to build the previous apk (mlperf_app_qti+samsung+tflite+pixel.apk.zip)? Because I didn't see pixel backend in this tree either.

[2022-01-31 15:29] anhappdev commented on #214
To be specific, I mean there is no such flag `WITH_PIXEL` in the branch `release-1.1-Sept-2021` and also `release-1.1-Jan-2022`

[2022-01-31 18:41] anhappdev commented on #214
@ptt2panda I did some research, the Pixel backend was added in this commit [45be2ea](https://github.com/mlcommons/mobile_app_open/commit/45be2eab777fb58256c0f730d11cec8f0436f067), but it's not included in the branch `release-1.1-Sept-2021`. So please create a PR to add the Pixel backend to the new branch `release-1.1-Jan-2022`. I will build a new APK after that.

[2022-02-01 04:18] ptt2panda commented on #214
https://github.com/mlcommons/mobile_app_open/pull/240
This version should work. Really thanks for your help!

[2022-02-01 05:13] hbkaye commented on #223
Does this build automatically detects the backend or is there a way to specify using the app UI ?

[2022-02-01 05:20] fatihcakirs commented on #223
"v3.0.0-flutter-android-alpha-4" crashes our phone w/ Exynos backend shortly after the first task is completed.

[2022-02-01 06:07] freedomtan commented on #214
#240 is merged. @anhappdev will build a new APK and share the link.

[2022-02-01 06:22] freedomtan commented on #237
@shabanim will help check what is the right name (by loading loadgen related log)

[2022-02-01 06:25] jwookiehong commented on #238
@mohitmundhragithub to check internally for more context

[2022-02-01 06:32] freedomtan commented on #235
Please check if we use  IMEI or other unique id on Android and used it for authentication. But how IMEI is for cell phone :-(

[2022-02-01 06:45] freedomtan commented on #235
@anhappdev or @d-uzlov help check if the SDK for firebase C++ version provides authentication support.

[2022-02-01 06:49] freedomtan commented on #235
AWS could also be an option. @anhappdev please provides some more information.

[2022-02-01 06:53] freedomtan commented on #233
Bazel is evolving fast. I usually use whatever bazel version used by TensorFlow. @shabanim  please add doc about required bazel version for the project.

[2022-02-01 06:55] hbkaye commented on #223
![Screenshot_2022-02-01-12-21-04-554_org mlcommons android mlperfbench](https://user-images.githubusercontent.com/42088297/151924816-0cf0e629-f6f8-4452-8e57-7d61b6cda575.jpg)

This is pic of configuration page on our Qualcomm's SDM888 device
It selects TFLite and NNAPI, instead we want to run with QTI backend and DSP accelerator.

[2022-02-01 07:01] freedomtan commented on #203
@Mostelk and @mohitmundhragithub  please comment on if it's fine to have accelerator name displayed in QTI and Samsung' backends.

[2022-02-01 07:01] jwookiehong commented on #203
Freedom. I got you.

@mohitmundhragithub , @Mostelk , @shabanim to investigate if providing accelerator names(DSP, GPU, CPU, NPU or any combination thereof) is possible via vendor SDKs.

[2022-02-01 07:06] jwookiehong commented on #235
* HW: Device Model, ModelID, SOC version, Maaybe RAM
* SW: OS, MLPerf version, commitID, backend (SNPE, ENN, OpenVino), backend version
* Results info (Current data as is, with which backend is used, also, once issue #203 is resolved, which accelerators were used)
No need for logs for now

[2022-02-01 09:13] relja128 commented on #235
1) We should use Firebase as a backend. We already use it elsewhere at MLC,
and it works fine.
2) We also need to have a frontend service that will actually write into
Firebase vs. having the app do it directly.
The path should be app -> frontend -> Firebase. The frontend is where our
auth & security is going to live.
3) Lastly, consider writing the actual web site in Flutter. If that works
fine,

[2022-02-01 09:26] anhappdev commented on #214
Here is the new build from `release-1.1-Jan-2022` (commit `b957f96`):
[2022-02-01_mlperf_app_tflite_qti_samsung_pixel_r1.1_b957f96.apk](https://drive.google.com/file/d/1JdKH8mFT6mKHWKNoJvNlHhRJFXuh-zWK/view?usp=sharing)

For Samsung backend I used `snpe-1.54.2.2899` and lib files from the private repo `mobile_back_samsung`

Per log the app did check for QTI, Samsung, MTK and Pixel backend.
<detail

[2022-02-01 14:16] ptt2panda commented on #214
Verified that this version works for Pixel, really thanks for your help.

[2022-02-01 16:49] anhappdev commented on #223
@hbkaye

The app detects automatically available backends and use the detected one, else it uses the default TFLite backend.

[2022-02-01 16:52] anhappdev commented on #223
@fatihcakirs

I think it's related to the issue https://github.com/mlcommons/mobile_app_open/issues/30

[2022-02-02 02:59] #224 closed

[2022-02-02 06:31] hbkaye commented on #223
Yeah, was able to make it work.
Also does this app has integrated official vendor's patch used for submitting results ?
Like the one given here -
https://github.com/mlcommons/mobile_submission_1.1/blob/master/closed/Qualcomm_Innovation_Center/code/qti_submission.patch

[2022-02-02 07:10] anhappdev commented on #235
I would add more things to consider:
1. The result to be uploaded should not be manually modifiable.
2. If the app writes directly to DB / storage, it should append only and not update or delete. If we use a middle layer like point 2 in Relja's comment, then it would be easy to handle this.
3. NoSQL may make it easy to add or update a data field, but doing that often make it difficult to analyze t

[2022-02-03 06:35] mohitmundhragithub commented on #212
I was able to resolve the above issue. Earlier, I was missing one one important point, that Qualcomm needs to build the app for windows_arm64 and not windows_x64. The current windows app is built only for x64. When i switched to windows_arm64, then compilation of few of the helper libraries itself fails. I will close this issue, and create a new one for adding support for windows_arm64.

[2022-02-03 06:35] #212 closed

[2022-02-03 06:40] mohitmundhragithub opened #241 "Add support for Flutter Windows for ARM64"
Found recently that the current windows app is being built only for x64 architecture, however, for Qualcomm to submit on windows, We will need to have ARM64 support as well. On trying it out, found that the backendbridge.dll itself fails to compile.

Getting below error:

[code]

Command used: "make flutter"

Changes made:
Added this line : "build:windows --cpu=x64_arm64_windows" in the .bazelrc f

[2022-02-07 03:40] freedomtan opened #243 "Random number seeds for v2.0"
We need v2.0 seeds for submission-v2.0 branch. See https://github.com/mlcommons/inference/pull/1065 for seeds

[2022-02-08 00:31] willc2010 commented on #243
thanks for filing this. do you mind create a PR for this?

[2022-02-08 00:57] freedomtan commented on #243
Yes, the PR is #244

[2022-02-08 03:01] freedomtan commented on #214
Confirmed that the MTK TfLite Neuron Delegate backend is used on Oppo Reno6 Pro 5G (ColorOS V11.3, Android 11, Dimensity 1200).

[2022-02-08 04:58] shabanim commented on #237
I am copying here mlperf_log_summary.txt generated by loadgen for both SingleStream and offline for easy reverencing.

- For SingleStream performance mode, it reports mostly 90th percentile latency in ns.
- For Offline performance mode, it reports sample per second at the top
- For Accuracy, unit used depends on the workload.

**SingleStream Log file**
=============================================

[2022-02-08 05:11] shabanim commented on #203
I am confused a bit! It seems RunSettings and RunResults hold test settings. Some of these settings come from the UI such as mode. Some others are vendors specific parameters such as batch size. If my understanding is correct, device (i.e., CPU, GPU, etc.,) should be one of the parameters specified for testing.

Thus it should be specified in the generated report as well. Does this make sense to y

[2022-02-08 05:29] freedomtan commented on #203
In principle, benchmark settings should be from backend settings. Yes, there is a batch size hack to set it from UI from iOS devices (but that should always be considered as a hacks, in my opinion.

[2022-02-08 05:33] freedomtan commented on #237
So I guess we should avoid "score". I am fine with either latency or queries per second (QPS).

[2022-02-08 05:50] anhappdev commented on #237
I would name it `speed` (vs. `accuracy`) and the unit of measurement is `QPS`.
But I am fine with other names too if it's used consistently in the code base.

[2022-02-08 06:08] freedomtan commented on #214
@fatihcakirs and @mohitmundhragithub also verified this for Samsung and Qualcomn devices.

[2022-02-08 06:08] #214 closed

[2022-02-08 06:10] freedomtan commented on #214
@anhappdev please add the apk to github released page

[2022-02-08 06:21] freedomtan commented on #237
for qps, throughput (instead of score). and we can keep latency (either nanosecond or millisecond)

just get rid of "score".

[2022-02-08 06:54] freedomtan commented on #203
Use TfLite as example, we can report either delegates (NNAPI, GPU,  (MediaTek's) Neuron, etc.) Or we want to show, e.g. Neuron MTK DLA or Neuron MTK DSP.

For Q, we can simple report (SNPE), or SNPE DSP (DSP+HTP), SNPE GPU, etc.

For Intel, OpenVINO, or (OpenVINO CPU, OpenVIO GPU, etc.)

Let's create a backend function pointer for each backend to report back the underling hardware (e.g., OpenVINO

[2022-02-08 06:58] freedomtan commented on #241
@d-uzlov please check if flutter supports windows ARM64 (to check if it's possible for 2.1)

[2022-02-08 07:12] anhappdev commented on #214
The build from [this comment](https://github.com/mlcommons/mobile_app_open/issues/214#issuecomment-1026633896) is released here:
https://github.com/mlcommons/mobile_app_open/releases/tag/v1.1-android

[2022-02-08 07:17] freedomtan commented on #241
@mohitmundhragithub These "@cpuinfo//...."  messages is another issue. The cpuinfo here is https://github.com/pytorch/cpuinfo. Currently Windows ARM64 is not supported yet, but it should be quite easy to add it.

[2022-02-08 07:24] mohitmundhragithub commented on #241
yes. I found the library which generates this error, but we aren't including it directly. It seems to be dependent on some other library, which are are loading... but couldn't find which one.

Yes, we can run x86 based apps on windows_arm64 devices. But the problem is our "SNPE on Windows" libs are arm64 based. Not sure how to link x86 based frontend to arm64 based SNPE. Is it even possible? I was

[2022-02-08 07:44] freedomtan commented on #145
[TensorFlow 2.8.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.8.0) was release last week.

[2022-02-08 08:40] freedomtan commented on #241
Surely calling arm64 library functions from emulated x86 code is possible (because your x86 code is translated into arm64 code either ahead-of-time or just-in-time). I don't know if it's defined and implemented on Windows though :-)

[2022-02-08 18:54] anhappdev opened #246 "Add small glossary"
As @shabanim suggested in the meeting, I think having a small glossary is helpful for new contributors to understand common used words in the context of this repo. I will add a small glossary for some common used words.

@shabanim Feel free to add any words you think we should explain.

Some words in my minds:
* accelerator
* throughput
* latency
* accuracy
* backend
* vendor
* loadgen
* task
* pe

[2022-02-08 19:06] shabanim commented on #246
Great! That would be very helpful. If we take the blockdiagram at https://github.com/mlcommons/inference/tree/master/loadgen#integration-example-and-flow, we need to define backend as well. example of backend is tflight, OpenVINO and .. it is really inference engine available on the device. It is used for inferencing.

single stream and offline are scenario. Please remove the word benchmark that c

[2022-02-08 19:53] anhappdev commented on #246
Updated

[2022-02-09 07:01] d-uzlov commented on #241
It seems like Windows for ARM64 now supports seamless interop between native ARM64 and emulated x86_64 code:
https://blogs.windows.com/windowsdeveloper/2021/06/28/announcing-arm64ec-building-native-and-interoperable-apps-for-windows-11-on-arm/
I think we should be able to build the app in this arm64ec mode, described in this link, and use native DLLs from emulated Flutter code.

I don't have a dev

[2022-02-09 07:56] freedomtan commented on #241
Sounds great. Thanks for checking that.

@willc2010 and @mohitmundhragithub: Is it possible for QTI to loan a Windows on ARM64 machine to @d-uzlov?
Or @d-uzlov can buy one and ask MLPerf for reimbursement? @jwookiehong and @relja128

[2022-02-09 09:10] d-uzlov commented on #241
`cpuinfo` library is loaded by `XNNPACK` library, which seems to be a dependency of Tensorflow.
`cpuinfo` library is not bazel-compatible, `XNNPACK` uses an external `BUILD` file, so the config that is not compatible with Windows ARM64 builds is defined in `XNNPACK`:
https://github.com/google/XNNPACK/blob/master/third_party/cpuinfo.BUILD

It should technically be possible to fix cpuinfo build conf

[2022-02-09 09:26] d-uzlov commented on #237
Do we also want to change `score` to `throughput` in the `result.json` file?

[2022-02-09 09:31] d-uzlov opened #247 "Formal specification for result.json file"
Currently I don't see any info about the structure of this file.
As far as I'm aware it is imported in some external tools, so it must have a certain format which is recognized by these tools.

We need to write a proper specification for this file, so we can stick to it when making changes in sources, to avoid breaking any external tools.

[2022-02-09 09:48] d-uzlov commented on #237
I created a separate issue to discuss changes in `result.json`: https://github.com/mlcommons/mobile_app_open/issues/247

[2022-02-09 09:51] #237 closed

[2022-02-09 09:54] anhappdev commented on #246
You are welcome to add new terms and it's description in this doc:
https://docs.google.com/document/d/1F2gdh15bw7IpnG1JmX457zAm8QlC3LLf3oVMF_LoPzI/edit?usp=sharing

I will add it to this repo after we have the table filled.

[2022-02-10 08:50] d-uzlov commented on #235
@relja128
Could you explain what you expect from the website/web service?

Which statistics do we want to gather, maintain and show?
Do we want to have some complex authentication there, or should it be automatic?

Do you want to use some other benchmark website(s) as a reference for general functionality?

[2022-02-10 16:41] relja128 commented on #235
1) The web service will ingest data from the client (app), do some sanity checks (data validity check, spam check), and then write the data into Firestore. So think of it as a REST front end with some basic logic.

2) For now we should be storing basic data: device model, manufacturer, timestamp, app version, OS version.
Then, for all tests that were run: name of the test, score, accuracy (if avai

[2022-02-15 01:35] freedomtan commented on #243
#244 Merged and cherry-picked to submission-v2.0 branch, https://github.com/mlcommons/mobile_app_open/commit/d67a6b64f2bd212a2f2076ea80a03440cfa904e6

[2022-02-15 01:51] freedomtan commented on #223
cf. #231

[2022-02-15 06:02] d-uzlov commented on #235
Implementation details:
Database is Firebase Cloud Firestore.
REST API will be deployed in Firebase Cloud Functions.
Cloud Functions have official integration with Firestore and with Firebase Authentication.
We can use [firebase_dart](https://pub.dev/packages/firebase_dart) plugin to add Firebase auth to our app.

We can use Flutter to create a website, but Flutter can only do a Web Application (i

[2022-02-15 06:11] #243 closed

[2022-02-15 06:15] freedomtan commented on #231
We should revisit this one as soon as possible after the v2.0 submission.

[2022-02-15 06:16] freedomtan commented on #223
we already have #231

[2022-02-15 06:16] #223 closed

[2022-02-15 06:18] freedomtan commented on #233
the PR https://github.com/mlcommons/mobile_app_open/pull/248 is sent

[2022-02-15 06:33] freedomtan commented on #241
Flutter doesn't support windows arm64 (yet).
The EC version ARM64 lib not supported by QTI yet.
(There are potential hurdles ahead. We don't known we don't know).

Compiling loadgen for Windows ARM64 should relatively easy. but TensorFlow Lite doesn't support Windows ARM64 (porting it should be feasible, given TFLite works on Windows x86_64 already).

Let's try loadgen and TFLite for WIndows ARM64

[2022-02-15 06:44] freedomtan commented on #203
@mohitmundhragithub: Yes
@Mostelk: by default "NPU", changed it when necessary
@d-uzlov tflite backend(s) from settings.h
Intel: undecided.
Google: fine.

Generally, yes. @anhappdev please do it.

[2022-02-15 06:49] freedomtan commented on #247
There should be some descriptions in the submission rule doc. Let's if what we can do from that doc.
@freedomtan to add submission rules doc link later

[2022-02-15 06:58] freedomtan commented on #235
order: soc vendors, tech press, then general audience

[2022-02-15 10:20] anhappdev opened #249 "Decoupling Android and Flutter app"
The Android and Flutter app are currently depended on the same module `android/cpp`.
There are some issues (Flutter app related) which require changes in `android/cpp`. Since we are going to deprecate Android in the next version, I suggest we **copy** `android/cpp` into `flutter/cpp` so that the changes don't impact the Android app.

[2022-02-15 10:36] anhappdev commented on #203
To let the backend report the accelerator name back to the app, I suggest we add a new API named `mlperf_backend_accelerator_name`, similar to the existed API `mlperf_backend_vendor_name`.
In the API, the backend vendor can use a static value or variable as wished.

This change requires modifying code in the module `android/cpp`. So I am waiting to finish the issue https://github.com/mlcommons/mob

[2022-02-15 10:38] anhappdev commented on #249
@relja128 and @d-uzlov, are you ok with this?

[2022-02-15 14:06] d-uzlov commented on #247
In the old Android app there is a function that creates `result.json`:
https://github.com/mlcommons/mobile_app_open/blob/084729b7f29043dc833fd7a90c49940fc5012e3e/android/java/org/mlperf/inference/MLPerfTasks.java#L149

## Android app

It creates the following structure:
On top level there is an array of benchmark entries. Each entry is a map with the following fields:
[code]
Few notes about these

[2022-02-15 14:11] d-uzlov commented on #247
@jwookiehong
I don't know if it will be useful to you before the meeting next week, but I posted description of the current structure of `result.json` file in my comment above.

[2022-02-15 14:19] d-uzlov commented on #249
I, OK with this.

[2022-02-16 05:16] d-uzlov opened #251 "Add basic result uploading"
Steps:
1. Create Firebase Cloud Firestore database
2. Create REST API service Firebase Cloud Functions that will provide basic access to this database
    * We only need 2 methods for now: create new result and get all results
    * We will create separate github issues to implement more functions once this task is completed
3. Add Firebase anonymous authentication to the Flutter app (plugin [fire

[2022-02-16 05:35] d-uzlov opened #252 "Add a website to observe uploaded results"
We need a way to access uploaded results via a browser.
We can use Firebase Hosting for static content.

A relatively easy way to create a website would be to use Flutter Web.
Flutter Web has some issues, it does not provide native web experience, but we can use it to create a prototype faster, and then switch to something else later, if we need it.

Depends on: https://github.com/mlcommons/mobile

[2022-02-16 05:40] d-uzlov opened #253 "Add result history to the Flutter app"
Currently the app only shows last result. When you rerun any set of benchmarks, results of the previous run are erased.
We need to add a new UI page that will show list of previous results and allow to inspect them.

This feature must be offline.
We can technically upload result into Firebase, and then fetch them to show in history but sometimes this can be undesirable, so we must keep results loc

[2022-02-16 09:35] mohitmundhragithub opened #254 "Version is still shown as V1.1 when using submission-2.0 branch"
Version is still shown as V1.1 when using submission-2.0 branch. If I am not wrong, it should have got updated to 2.0.x.

[2022-02-22 03:33] #246 closed

[2022-02-22 03:39] freedomtan commented on #249
copying `android/cpp` and to `flutter/cpp` and modifying it sounds like carrying technical debt to me :-)

[2022-02-22 03:50] anhappdev commented on #249
The point is, we only need to maintain both Android and Flutter for a short time. After that, only the Flutter app is actively maintained and the Android app will be deprecated and archived.

[2022-02-22 06:08] freedomtan commented on #254
this was done. thanks to @d-uzlov

[2022-02-22 06:08] #254 closed

[2022-02-22 06:19] freedomtan commented on #249
Let's delay the decision to next meeting.

[2022-02-22 06:24] freedomtan commented on #253
@anhappdev please help on this one. do some initial investigation

[2022-02-22 06:41] anhappdev commented on #249
I summarize all the suggestions we have here for better overview:
1. **Copy** `android/cpp` into `flutter/cpp`, maintain both apps for a short time, then deprecate Android app.
2. Create a new branch to maintain the Android app, the Flutter app will be maintained in the main branch.
3. **Move** `android/cpp` to the root directory and versioning the API.

[2022-02-22 06:49] d-uzlov commented on #249
We would also need to make a copy of all backends that we want to use with the old Android app.

[2022-02-22 06:53] anhappdev commented on #249
Thanks, updated.

[2022-02-25 01:13] freedomtan opened #258 "Should we use tflite in Google Play services?"
Google Play services started bundling TfLite in recent Feb 17, 2021 release (cf. https://developers.google.com/android/guides/releases and https://www.tensorflow.org/lite/android/play_services). Should we use the binary in Google Play.

pros: smaller package size, less build time
cons: may need to rewrite part of tflite backend

[2022-02-25 02:41] anhappdev commented on #253
I would store the `result.json` file of each benchmark run on disk with a timestamp. In the history screen, the app shows a list of those result files, and on tap of one result file, the app show the content of the result file.

[2022-02-25 02:50] d-uzlov commented on #253
When working on https://github.com/mlcommons/mobile_app_open/issues/251 I have modified the way we handle `result.json` a bit. I fixed serialization and added few new fields that are required for uploading.
I'll extract it into a separate PR today so you can use it for result history.

[2022-02-28 03:20] d-uzlov commented on #258
I don't think it will significantly affect build time, except for the first build. Bazel cache is quite effective when library files don't change.
Package size will also not be affected too much. The tflite backend itself is relatively small. The majority of the package size comes from dependencies of the qti and samsung backends, and from Flutter UI.

[2022-03-01 06:10] freedomtan commented on #231
@anhappdev please try to build a new flutter app based on 2.0 submission (so that we have new SNPE runtime).

[2022-03-01 06:15] freedomtan commented on #30
@jwookiehong will check if the latest samsung backend resolved this issue.

[2022-03-01 06:28] freedomtan commented on #249
@freedomtan and @jwookiehong to bring this to policy meeting this week

[2022-03-01 06:41] freedomtan commented on #247
@d-uzlov should be free to propose changes.
@freedomtan and @jwookiehong create a spec for this `results.json`

[2022-03-01 06:51] freedomtan commented on #205
@anhappdev and @d-uzlov please help on this.

[2022-03-01 10:26] anhappdev commented on #231
I got an error building the Flutter app with `snpe-1.59.1.3230`. Branch `submission-v2.0` (commit `2ed3ddd2ce83e883a2a493f063202625bcc44dda`) was used.

[code]

[2022-03-02 06:41] mohitmundhragithub commented on #231
@anhappdev , you need to apply the patch from https://github.com/mlcommons/submissions_mobile_2.0/tree/main/closed/Qualcomm_Innovation_Center/code over the submission-v2.0 branch to be able to use snpe-1.59.1.3230 SDK.

[2022-03-02 23:23] dylanzika-google commented on #231
@ptt2panda What was our status on testing on the flutter app last we checked? Google was running into app errors or crashes correct?

Do you have any more information on the fails / errors?

[2022-03-03 02:10] freedomtan commented on #231
@anhappdev did you test it on any Qualcomm devices? I get stuck in the loading models screen on Xiaomi Mi 11.
![mi11_alpha5](https://user-images.githubusercontent.com/3395998/156482758-4631c67a-e8f4-4902-8503-e7a34f0d531a.png)

[2022-03-03 03:21] jwookiehong commented on #249
Policy meeting conclusion: copy android/cpp into flutter/cpp, and eventually deprecate android app.

Refactoring flutter/cpp is something we can consider doing at a later date.
@freedomtan Does this look good?

[2022-03-03 03:24] ptt2panda commented on #231
@anhappdev
Flutter app can finish on Pixel 6.
However, from the number I saw, it seems that the configuration in Pixel backend was not used. Could you help us verify this?

[2022-03-03 03:39] freedomtan commented on #249
Yup, @anhappdev and @d-uzlov let's make #250 happen

[2022-03-03 03:40] anhappdev commented on #231
it seems flutter doesn't work with /sdcard/mlperf_models

@freedomtan Since the Flutter app needs to support multiple platform, there is some restriction how to load resources from disk. You need to copy the models to certain location and change the path in task file. Please see https://github.com/mlcommons/mobile_app_open/blob/master/flutter/documentation/custom-tasks.md#using-external-resources-

[2022-03-03 03:42] anhappdev commented on #231
@ptt2panda Which APK did you use? If you used the one from [this comment](https://github.com/mlcommons/mobile_app_open/issues/231#issuecomment-1056769024) then it doesn't include Pixel backend.

[2022-03-03 03:44] ptt2panda commented on #231
I see, I'm using the wrong one then. Which one should I use?

[2022-03-03 03:45] anhappdev commented on #231
This: https://github.com/mlcommons/mobile_app_open/releases/tag/v3.0.0-flutter-android-alpha-4

[2022-03-03 03:51] anhappdev commented on #249
So I am going with solution number 2, which is
Create a new branch to maintain the Android app, the Flutter app will be maintained in the main branch.

This is similar to solution number 1 but we don't have code duplication in one branch.

[2022-03-03 05:07] ptt2panda commented on #231
@dylanzika-google  I'm seeing LU & OD scores are lower than expected. And IC_offline is still crashing.

[2022-03-03 05:28] anhappdev commented on #249
There is now a new branch https://github.com/mlcommons/mobile_app_open/tree/android-v2 for maintaining Android app.
Flutter app will be further developed on the main branch.
1. With this PR https://github.com/mlcommons/mobile_app_open/pull/250, `android/cpp` is copied into `flutter/cpp` and all `mobile_back_*` are changed to point to `flutter/cpp`.
2. I will create a new PR next week to remove `an

[2022-03-04 03:30] anhappdev commented on #231
@ptt2panda Do you think TensorFlow 2.8 would resolve the issue you encountered? The Flutter app is built using TF 2.6, but I can build a version with TF 2.8 for testing.

[2022-03-07 01:29] ptt2panda commented on #231
From the log, the issue doesn't look to be related to TensorFlow version.
Could you try to build with the latest pixel_v2.0 branch? Let me check if I can find something there...

[2022-03-07 10:49] anhappdev commented on #231
Could you try to build with the latest pixel_v2.0 branch? Let me check if I can find something there...

@ptt2panda Please try this build
[2022-03-07_mlperfbench_v3.0-alpha5-g.apk](https://drive.google.com/file/d/1ocMxuwzT64UFBN1m7onhWR-7B88QC1Uz/view?usp=sharing)
Note: Build with branch `pixel_v2.0`, commit `8ac47943d435230af712a2974a6bd2aadf364189`, Pixel backend only.

[2022-03-07 13:56] freedomtan commented on #231
FYR. With [2022-03-07_mlperfbench_v3.0-alpha5-g.apk](https://drive.google.com/file/d/1ocMxuwzT64UFBN1m7onhWR-7B88QC1Uz/view?usp=sharing), I got reasonable scores on Pixel 6.

<img src="https://user-images.githubusercontent.com/3395998/157047299-2fed3569-c83b-430e-9d1a-d708fbe7fbfc.png" width="200"/>

[2022-03-07 15:13] anhappdev commented on #231
And no crash when running Image classification (offline)?
Then we just wait to merge the branch `pixel_v2.0` into master.

[2022-03-07 23:10] freedomtan commented on #231
Nope, no crash when running Image Classification (offline). However,
1. the Pixel 6 runs [Android 13 Developer Preview 1](https://android-developers.googleblog.com/2022/02/first-preview-android-13.html)
2. it seems there are more than one TFLite instance for non-offline ones. @ptt2panda is this expected behavior?

[2022-03-08 01:56] fatihcakirs commented on #231
@anhappdev Tried two apk’s shared in this folder on Samsung S21+ with the Exynos.

1. https://github.com/mlcommons/mobile_app_open/releases/tag/v3.0.0-flutter-android-alpha-4 (mlperfbench-v3.0-alpha4-qsmgt.apk). Crashes shortly after the completion of a single/first benchmark
2. https://github.com/mlcommons/mobile_app_open/issues/177#issuecomment-1011790919 (mlperfbench-v3.x-samsung-test-2.apk). I

[2022-03-08 02:40] freedomtan commented on #231
there is no field to specify model path in [task proto](https://github.com/mlcommons/mobile_app_open/blob/master/android/cpp/proto/mlperf_task.proto). Model path is specified in backend setting's [BenchmarkSettings](https://github.com/mlcommons/mobile_app_open/blob/master/android/cpp/proto/backend_setting.proto#L41)

[2022-03-08 05:16] freedomtan commented on #231
update, I flashed the Pixel 6 phone to latest Android 12. It finished running [2022-03-07_mlperfbench_v3.0-alpha5-g.apk](https://drive.google.com/file/d/1ocMxuwzT64UFBN1m7onhWR-7B88QC1Uz/view?usp=sharing), no offline crash

[2022-03-08 05:56] d-uzlov commented on #172
Currently the only file that really needs refactoring is `flutter/lib/benchmark/state.dart`:
https://github.com/mlcommons/mobile_app_open/blob/40e01139b89e73acada30f0966f7d116ad7cdc7b/flutter/lib/benchmark/state.dart
Its current structure may significantly increase time needed to modify anything related to it. I haven't needed to adjust anything in it lately but we will definitely need to fix it a

[2022-03-08 06:25] anhappdev commented on #231
@fatihcakirs  For Samsung please try this latest build:
https://github.com/mlcommons/mobile_app_open/issues/231#issuecomment-1056769024

[2022-03-08 06:33] freedomtan commented on #231
We may still need to check the IC offline crash problem.
@anhappdev a new unified app, with q-s-m-g backends
1. q backend w/ newer SNPE and model path changed (in backend setting code)
2. new Exynos backend (and new model path)
3. pixel backend for v 2.0 submission

[2022-03-09 05:51] ptt2panda commented on #231
Sorry for the delay, verified that pixel backend works as expected with the app provided above.

[2022-03-09 08:06] d-uzlov commented on #249
We should also make `android-v2` branch protected to only allow changes via a pull request, and we will need to set up CI checks for it.

[2022-03-09 09:48] d-uzlov commented on #249
I have set up branch protection for `android-v2` branch. It now has all the same rules as the master branch, except for the `dart` format check and checks that build the flutter app for ios and android.
I have also edited Google Cloud Build configuration to trigger build script for the old app for commits and PRs to the `android-v2` branch instead of `master`, and removed the requirement for corre

[2022-03-09 10:15] #251 closed

[2022-03-11 13:50] #249 closed

[2022-03-11 13:56] #233 closed

[2022-03-14 11:10] #205 closed

[2022-03-14 11:45] anhappdev commented on #231
It looks like the changes in `submission-v2.0` branch resolve many crashes reported here. I would delay this task until `submission-v2.0` is merged into master, then create a new build from it.

[2022-03-15 03:08] #258 closed

[2022-03-15 03:31] #203 closed

[2022-03-15 03:37] anhappdev commented on #121
Closing this, until we receive an invitation from Apple or the service is public available.

[2022-03-15 03:40] anhappdev commented on #153
We now have the Android app maintained in the `android-v2` branch, and Flutter app maintained in the `master` branch.

[2022-03-15 03:40] #153 closed

[2022-03-15 04:04] d-uzlov commented on #247
I uploaded a proposal for new results structure:
https://github.com/mlcommons/mobile_app_open/blob/a82c8de7f4069d1b88e9749e25ee3c6abae59db7/flutter/documentation/result-spec.md

[2022-03-15 04:57] freedomtan commented on #241
I finally managed to build and run the Windows x86_64 version of the app on an Windows 10 machine with.
- bazel 5.0,
- tensorflow 2.8.0,
- msys2,
- Python 3.9 from python.org, and
- Flutter SDK

It seems we didn't mention the `protoc-gen-dart` path issue anywhere?

Setting VS 2019 ARM64 and ARM64 EC related environment. Will try them later.

[2022-03-15 05:01] d-uzlov commented on #241
We do have instructions to fix it in documentation for other platforms but it seems we forgot to update Windows documentation to include the fix.

[2022-03-15 05:13] freedomtan commented on #172
Close it for now. May reopen it with more details later

[2022-03-15 05:13] #172 closed

[2022-03-15 05:23] freedomtan commented on #241
@freedomtan to send a PR for TensorFlow 2.8.0 and Bazel 5.0.0. We'll try to merge it after we test all the backends are valid.

[2022-03-15 05:45] freedomtan commented on #241
One thing annoying is that, although Android NDK is not used to build Windows app, we do require the path to ANDROID_NDK_HOME.

[2022-03-15 09:03] anhappdev commented on #231
@fatihcakirs I tried to build the Flutter app for Samsung with newer Exynos backend using this branch
https://github.com/mlcommons/mobile_back_samsung/tree/v2_0
but it failed with this error:
[code]

[2022-03-15 09:16] d-uzlov commented on #231
@anhappdev this issue is caused by our makefile script:
https://github.com/mlcommons/mobile_app_open/blob/639b6dcffbf2f3662fa8ba99547afb94f20d2855/mobile_back_samsung/samsung_backend.mk#L28-L47
It seems to me like you have specified incorrect `MOBILE_BACK_SAMSUNG_LIB_ROOT` env. It should point to the folder where actual `.so` files are located, not to the repository root.

Also, new version of the

[2022-03-15 09:22] anhappdev commented on #231
@d-uzlov Ok. I thought the vendor is responsible to modify that Makefile, since only they know which `.so` files is needed.
The `MOBILE_BACK_SAMSUNG_LIB_ROOT` is already correct, the folder just miss those files.

[2022-03-16 02:16] freedomtan opened #269 "Android NDK dependency for non-Android target"
It seems Android NDK path is needed for all targets. When building for either Windows or iOS target, this is confusing and undesirable.

[2022-03-16 02:19] anhappdev commented on #231
@anhappdev a new unified app, with q-s-m-g backends

This Flutter APK is built by applying all patches for submission v2.0
[2022-03-16_mlperfbench_v3.0-alpha6-qsmgt.apk](https://drive.google.com/file/d/1rKevEeI4rl5KaEM685RqbHCU-9_az3Pv/view?usp=sharing)

Notes:
- Models path are modified to point to `app:///mlperf_models/` directory, that means the files need to be copied to `/Android/data/org.mlc

[2022-03-16 03:13] freedomtan commented on #231
FYR. I tested on alpha6. It seems to be fine on devices . No crashes.

* tested devices: Oppo Reno 6 Pro (Color OS V11.3, MediaTek Dimensity 1200), MTK internal dev board, Xiaomi Mi11 (MIUI 13.0 Stable 13.0.5.0 (SKBCNXM), Qualcomm 888), Pixe 4, Pixel 6

[2022-03-21 23:10] AhmedTElthakeb commented on #206
Samsung will only support new backend on the flutter app, and this check will not be needed in the flutter app.

[2022-03-22 04:06] d-uzlov commented on #252
Right now I have a simple website prototype written in flutter but our firebase service does not support fetching results, so it can only show dummy data.
I'm working on connecting the website to firebase.

[2022-03-22 04:40] d-uzlov opened #270 "Add support for several model files per benchmark"
Currently a backend can only specify one model file for a benchmark.
Future backends may use models that are defined in several files. Specifically I'm aware that there are models that need 2 files.
I see 2 possible solutions here:
1. Add a new setting to the protobuf config. We can make it optional so we don't have to update our current backends. We will only support fixed number of files.
2. Use

[2022-03-22 05:08] freedomtan commented on #231
@fatihcakirs and Samsung colleagues are going to check it. Let's try to close this by next week.

[2022-03-22 05:09] AhmedTElthakeb commented on #30
Will need this [PR ](https://github.com/mlcommons/mobile_app_open/pull/271) to integrate our new and old backends

[2022-03-22 05:27] freedomtan commented on #269
@mohitmundhragithub  didn't see the dependency. @freedomtan to check it again (with older bazel maybe)

[2022-03-22 05:45] freedomtan commented on #270
Per our discussion, a model archive file (say, foo.zip) should work. Leave op after we test it.

[2022-03-22 05:47] freedomtan commented on #238
Lack of interest to continue this. Close this for now.

[2022-03-22 05:47] #238 closed

[2022-03-22 05:50] anhappdev commented on #124
I think we can remove the `mobile_app_flutter` repo. The `mobile_app_open` is much different from `mobile_app_flutter` now.

[2022-03-22 05:52] freedomtan commented on #105
Do it manually and close this for now.

[2022-03-22 05:52] #105 closed

[2022-03-24 07:12] d-uzlov commented on #235
I think further investigation and improvements should be tracked in other issues.
Final decisions from this issue were replicated in related #251, #252, #253 issues.

[2022-03-24 07:12] #235 closed

[2022-03-28 00:47] freedomtan commented on #269
Confirmed there is no such problem with bazel 4.2.2 on windows.

[2022-03-28 00:47] #269 closed

[2022-03-28 08:59] freedomtan commented on #269
it's kinda Bazel 5.0 problem, https://github.com/bazelbuild/bazel/issues/14260

[2022-03-29 05:04] #247 closed

[2022-03-29 05:08] carlosd-29 commented on #270
Downloading a zip file and opening within interface function works.

[2022-03-29 05:08] #270 closed

[2022-03-29 05:17] freedomtan commented on #231
Let's wait for Samsung's local test.

[2022-03-29 05:19] freedomtan commented on #124
Let's do it.

[2022-03-29 07:40] d-uzlov opened #273 "Add accelerator reporting to tflite backend"
We recently added `mlperf_backend_accelerator_name` method to the backend API.
https://github.com/mlcommons/mobile_app_open/pull/265

Currently we only have a stub implementation of this API in the tflite backend:
https://github.com/mlcommons/mobile_app_open/blob/dfc2fe57ba01c8b9c6fe57024eba164f1b289e71/mobile_back_tflite/cpp/backend_tflite/tflite_c.cc#L384

[2022-04-01 08:16] d-uzlov opened #274 "Submission mode doesn't run accuracy benchmark"
When submission mode switch in settings is enabled calculated accuracy is `0.0`, and logs indicate that both performance and accuracy benchmarks are actually running in performance only mode.

[2022-04-01 16:12] #274 closed

[2022-04-05 02:50] d-uzlov opened #277 "Use TypeScript linter on CI"

[2022-04-05 05:08] freedomtan commented on #231
it seems that the samsung backend is not correctly picked up (falling to the tflite backend). @fatihcakirs will check it again.

[2022-04-05 05:12] freedomtan opened #278 "Merge changes from v2.0 submission"
we have at least the following issues
1. the latency setting,
2. the TensorFlow 2.80,
3. uploading new (converted, e.g., QIT's dlc files and original (mosaic))

Let's start the merging after the publication this Wed (Apr 6th)

[2022-04-05 05:17] #252 closed

[2022-04-05 05:23] freedomtan commented on #206
new backend doesn't have this problem. close this

[2022-04-05 05:23] #206 closed

[2022-04-05 05:26] freedomtan commented on #177
this was for the old(er) backend. Let's close this.

[2022-04-05 05:26] #177 closed

[2022-04-05 05:27] freedomtan commented on #124
@freedomtan will try to remove the repo to close this.

[2022-04-05 05:31] freedomtan commented on #30
It seems there is not such problem for the new Samsung backend. Close this for now.

[2022-04-05 05:31] #30 closed

[2022-04-05 05:38] d-uzlov commented on #241
@freedomtan
Since you are currently working on bazel support for this issue I'll unassign myself for now.

[2022-04-05 05:39] mohitmundhragithub opened #279 "Few warning reported from enterprise github for firebase."
Sharing these errors just in case these are some important security vulnerability.

![image](https://user-images.githubusercontent.com/1549325/161685848-0012fb6a-71de-49f3-bfb7-736bbc2d40ab.png)

https://docs.github.com/en/enterprise-server@3.3/code-security/dependabot/dependabot-alerts/about-dependabot-alerts

![image](https://user-images.githubusercontent.com/1549325/161685981-fe5eb742-e058-4650

[2022-04-05 07:37] freedomtan commented on #124
I cannot do it either. @jwookiehong

[2022-04-06 08:02] d-uzlov opened #281 "Implement new specification for results"
We recently merged new formal specs for result saving: https://github.com/mlcommons/mobile_app_open/issues/247

We need to update mobile app, website and firebase backend to follow this new specs.

[2022-04-07 06:41] #277 closed

[2022-04-07 09:49] #273 closed

[2022-04-11 03:12] d-uzlov opened #284 "Can backend name and vendor depend on benchmark?"
Functions `mlperf_backend_vendor_name` and `mlperf_backend_name` receive `mlperf_backend_ptr_t` pointer, so they can technically return different values depending on the benchmark settings
https://github.com/mlcommons/mobile_app_open/blob/8920125ce4f310a726faff408e0229f57a9787f4/flutter/cpp/c/backend_c.h#L37 https://github.com/mlcommons/mobile_app_open/blob/8920125ce4f310a726faff408e0229f57a9787f4

[2022-04-11 06:57] freedomtan commented on #284
My understanding is, for TFLite backend, supposedly,

- backend: tflite
- backend_vendor_name: MediaTek Neuron Delegate

[2022-04-11 07:26] d-uzlov commented on #279
According to Dependabot documentation, it is enabled by default in all public repositories but this can be changed by an Organization owner:
https://docs.github.com/en/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts

In this repository Dependabot is disabled. It was probably disabled by MLCommons administrator for all mlcommons repositories.
We can enable

[2022-04-11 07:27] d-uzlov commented on #279
Maybe we should also plan to update our dependencies regularly. Maybe each month.

[2022-04-12 03:31] AhmedTElthakeb commented on #30
A workaround is provided in the following [PR#283](https://github.com/mlcommons/mobile_app_open/pull/283), newer generations won't have this problem.

[2022-04-12 05:10] freedomtan commented on #279
Let's try to enable to the enterprise feature that enable CVEs checking. @d-uzlov

[2022-04-12 05:15] freedomtan commented on #278
@anhappdev   please merge  https://github.com/mlcommons/mobile_app_open/tree/submission-v2.0 to both the Android branch and main/master branch.

[2022-04-12 05:21] freedomtan commented on #278
@fatihcakirs has submitted some nnc files. @anhappdev to help put all the .nnc and .dlc files to the mobile_models repo

[2022-04-12 05:31] freedomtan commented on #106
Windows GPU acceleration is a must for Flutter according @d-uzlov. So we probably cannot run GUI tests on machines in Google Cloud. @d-uzlov please check if there is any solutions. If NO, maybe AWS or Azure?

[2022-04-12 06:01] #284 closed

[2022-04-13 10:29] anhappdev commented on #278
Trying upload model files for Qualcomm I got an error with size limit:
[code]

Should we use Git LFS for model files?

[2022-04-13 23:11] freedomtan commented on #278
yeah, large file is an issue. As far as I can remember, github lfs has monthly bandwidth limit (1 GiB per month). https://docs.github.com/en/enterprise-cloud@latest/billing/managing-billing-for-git-large-file-storage/about-billing-for-git-large-file-storage

That is, after downloading > 10 times, we'll run out of 1 GB / month quota :-(

[2022-04-14 00:10] anhappdev commented on #278
Is there other alternative storage provider we can use?

Yes, it's possible but I am not sure if it's worth the effort to implement it vs. just using a storage service.

[2022-04-14 02:27] freedomtan commented on #278
@willc2010 and @jwookiehong what's your opinion?

[2022-04-14 07:47] Mostelk opened #291 "Make expected_latency_ns a backend configurable parameter"
Different backends require to set this differently to spend at least 60sec in the single stream benchmark. It should be responsibility of backend to set this correct to get a VALID submission. The default parameter of 1M had to be lowered to 900k or 800k in different v2 submissions. Is better if we set the default parameter as 1M and backend can overwrite if needed
[mlperf_settings.single_stream_e

[2022-04-14 07:51] Mostelk commented on #278
If possible to gauge how much work is needed for this issue, as it will be needed for future submission as well https://github.com/mlcommons/mobile_app_open/issues/291

[2022-04-18 06:31] #281 closed

[2022-04-18 06:35] anhappdev commented on #253
@d-uzlov Would you take over this issue? I think with the tasks you are current doing (implementation of new result spec), this issue would fit better in your workflow and design.

[2022-04-18 06:39] d-uzlov commented on #253
@anhappdev sure.

[2022-04-18 06:41] anhappdev commented on #253
@d-uzlov Great. Thanks.

[2022-04-19 04:12] d-uzlov opened #294 "Add support for displaying several accuracy values per benchmark"
We may need to use 2 different accuracy metrics for some of the future benchmarks, so we need to modify UI to support it.

[2022-04-19 04:17] d-uzlov commented on #294
Here are mockups of some possible easy changes:
<details>
<summary>Top results: option  1</summary>
<img width=300 src="https://user-images.githubusercontent.com/36223296/163918794-cc635337-e5a4-4569-973e-66b82cb0a919.png">
</details>

<details>
<summary>Top results: option 2</summary>
<img width=300 src="https://user-images.githubusercontent.com/36223296/163918976-a129fd6d-d4a2-4062-a235-a286bd4d

[2022-04-19 05:03] freedomtan commented on #278
Possible solutions

1. buy storage services (github or other version control services),
2. splitting (and/or or compressing)
3. ?

[2022-04-19 05:30] freedomtan commented on #278
@jwookiehong will check with @TheKanter to see if we can pay for services

[2022-04-19 05:40] freedomtan commented on #291
make this change to both unified v2.0 and and master branch in another PR after the "main" 2.0 submission change PR.

@anhappdev and @d-uzlov

[2022-04-19 05:42] freedomtan commented on #231
@fatihcakirs will help to get the flutter app correctly detect Samsung backend

[2022-04-19 05:47] #279 closed

[2022-04-19 05:52] freedomtan commented on #294
let's go for option 1 first.

[2022-04-20 04:29] jwookiehong commented on #278
I talked to David, and he is receptive to the idea. Now we need to figure
out which services we need, and how much it will cost. Also, is it possible
to somehow use GCP?

On Tue, Apr 19, 2022, 14:30 freedomtan ***@***.***> wrote:

[2022-04-20 09:38] anhappdev commented on #278
We can use any storage service (like Git Large File Storage, Google Cloud Storage or AWS S3)
* Git LFS has simple pricing ([Link](https://docs.github.com/en/billing/managing-billing-for-git-large-file-storage/about-billing-for-git-large-file-storage))

* Google Cloud Storage has a more complex pricing ([Link](https://cloud.google.com/storage/pricing))

Data processing: the processing done by Cloud

[2022-04-26 05:09] jwookiehong commented on #278
@TheKanter @relja128, Git LFS looks the most straighforward, and should be sufficient for our needs. An extra $5 a month is cool, right?

[2022-04-26 05:09] fatihcakirs commented on #231
@anhappdev Can you check [this branch](https://github.com/mlcommons/mobile_back_samsung/tree/v2.0-flutter). In particular, please consider the [mobile_back_samsung](https://github.com/mlcommons/mobile_back_samsung/tree/v2.0-flutter/mobile_back_samsung) folder for the backend files and [update.sh](https://github.com/mlcommons/mobile_back_samsung/blob/v2.0-flutter/flutter/update.sh). These two conta

[2022-04-26 06:46] TheKanter commented on #278
Sounds fine. Hopefully the egress is sufficient. Go ahead and do it!

On Mon, Apr 25, 2022 at 10:09 PM jwookiehong ***@***.***>
wrote:

[2022-04-27 00:09] anhappdev commented on #278
I created a PR (https://github.com/mlcommons/mobile_models/pull/38) for uploading `*.dlc` files using Git LFS.
After merging the PR and ensuring that Git LFS works as expected I will migrate all other large model files (`*.nnc`,`*.tflite`) to Git LFS.

[2022-04-27 01:15] anhappdev commented on #231
@fatihcakirs Can you provide more context? How should I build the app? For example the [update.sh](https://github.com/mlcommons/mobile_back_samsung/blob/v2.0-flutter/flutter/update.sh) has this line
`cd ../../mlperf_backend/sbe_backend/jni`
but I don't see any `mlperf_backend` folder in the repo.

[2022-04-27 11:55] anhappdev opened #295 "Handling of case when Git LFS bandwidth limit exceeded"
With Git LFS, the existed URL will redirect to the original file so that the download still work as expected.
But when the bandwidth limit exceeded, it redirects to a pointer file. The app still download the file as normal but doesn't know it's a pointer file. We need to check for this case.

Since the pointer file is tiny (about 200 bytes) we can check the file size after download, if it's smalle

[2022-04-27 19:32] fatihcakirs commented on #231
Thank you Ahn, let me email you.

[2022-04-28 04:31] anhappdev opened #296 "Reconfigure Markdown links check"
The Markdown links check failed on 403 forbidden status (for example this link: https://help.github.com/articles/using-pull-requests/) but the browser can open and redirect the link.

[2022-04-28 04:58] #232 closed

[2022-04-28 06:10] anhappdev opened #298 "Build-and-test-Flutter-Android-App-PR failed at step `build-apks`"
The issue and solution is mentioned here:
https://github.com/actions/checkout/issues/766

[2022-04-28 06:58] d-uzlov commented on #295
Can we check file contents?
I don't think we have any files smaller than 1k right now but for example we have the [imagenet_tiny groundtruth](https://github.com/mlcommons/mobile_models/blob/bcdb1787150f6f357b06e7c2fd1af88aab3b768d/v1_0/assets/imagenet_val_tiny.txt) file that is pretty close to 1k.
I can easily imagine adding some other groundtruth that is even smaller.

[2022-04-28 07:56] anhappdev commented on #295
The pointer file has a [spec](https://github.com/git-lfs/git-lfs/blob/main/docs/spec.md) how it should be so yes it would be possible to check if it's a pointer file.

The logic would be:
1. Check if the file size is smaller than a threshold (1 KB)
2. If yes, check if the content is text and have the text `version, oid, size` and the first text is `version`

I think that should be enough.

---
Of

[2022-04-28 09:44] #296 closed

[2022-05-03 04:56] d-uzlov commented on #106
Status update:
1. I tested `windows-builder` that google suggests to use for windows CI. It creates a temporary Windows virtual machine for each CI run.
2. I configured the container and build scripts to successfully run in a VM in google cloud.
3. I was able to launch the app in the VM. So whatever physical or virtual GPU is available to it is good enough for flutter, so we should theoretically b

[2022-05-03 05:26] freedomtan commented on #231
related to #292, supposedly if #292 is resolved, this is resolved too.

[2022-05-03 05:38] freedomtan commented on #295
@anhappdev please move on with the second one you proposed.

[2022-05-04 03:26] anhappdev opened #300 "Add new task `IS Mosaic` to Flutter app"
There are multiple changes so I created a new issue and PR for this instead of adding it to the big PR #292

[2022-05-05 04:45] anhappdev opened #302 "Show task name from `tasks.pbtxt` instead of hard-coded string"
Currently we show only hard-coded name for 5 different tasks type: IC, IC(offline), OD, IS, LU.

https://github.com/mlcommons/mobile_app_open/blob/149b224fd5b19179bc6acd5418a243e4d7e89372/flutter/lib/benchmark/info.dart#L36-L68

We should show the task name from the `task.pbtxt` instead.

[2022-05-05 07:18] #300 closed

[2022-05-05 17:11] mkankana opened #304 "Please enable offline scenario for SSD-MobileDet, MobileBert and MOSAIC workloads."
Application currently requires each workload to have specific benchmark_id , there are no benchmark IDs for SSD-MobileDet, MobileBert and MOSAIC workloads in offline scenario. Can this be implemented in the default mode .

[2022-05-06 14:08] d-uzlov commented on #106
I found the cause of performance issues and fixed it. The CI is able to at least build the app now.
I still need to configure running integration tests.

[2022-05-09 10:59] mohitmundhragithub commented on #295
This solution may not be permanent, right? We will run out of bandwidth very soon, and then, it will always mean that the app will not work.
Can't we use something else... say google drive or something, which won't have file size as well as bandwidth limitations?

[2022-05-09 11:04] mohitmundhragithub opened #306 "Easy way to detect invalid results"
We should show some indication on the UI that the results are valid or not. During the last submission, we some invalid results caused unnecessary work for SS and QC at the last moment.
Some indication on the UI (say colour change of the case which is invalid or some error message), will definitely help in avoiding such unnecessary work.

[2022-05-09 11:21] anhappdev commented on #295
Every service has a quota, Google Drive too, but I think with Google Drive it will be difficult to handle access management, versioning and require a new workflow.

[2022-05-09 17:32] mohitmundhragithub commented on #295
Do we need access management for mobile_models repo? I thought its a public repository. Same we can have in google drive as well.
What is the limitation in git-lfs and google drive?

[2022-05-09 17:39] mohitmundhragithub commented on #295
https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage

Git-LFS bandwidth limit is just 1GB per month of download, which is too less for any practical use in my opinion. We would be able to run it just once i believe (per month) if we include both models and datasets.

Whereas on Google drive, there is a 750GB per day upload limit, but doe

[2022-05-10 01:22] freedomtan commented on #295
@mohitmundhragithub FYR, we agreed to pay some bucks per month to get extra GitHub LFS bandwidth, see discussion at https://github.com/mlcommons/mobile_models/issues/41

[2022-05-10 05:01] jwookiehong commented on #304
This is a policy choice, and should be addressed in the main WG meeting.

[2022-05-10 05:03] jwookiehong commented on #302
For the segmentation task, @jwookiehong to provide updated text by next engineering meeting 5/17.

[2022-05-10 05:36] freedomtan commented on #304
@mkankana if you want to submit them, please send PR so others could reuse those IDs.

[2022-05-10 05:40] freedomtan commented on #306
We can check result json file to if a benchmark result is valid or not. Dunno if loadgen returns valid  or not in its API.

@d-uzlov please help this after windows related ones.

[2022-05-16 09:20] anhappdev opened #307 "App crashes without showing `ExceptionWidget`"
The app should show the `ExceptionWidget` (a screen to display crash messages) when it throws an exception, but it's not.
We need to check which functions are impacted and handle it. (see https://github.com/mlcommons/mobile_app_open/pull/305#discussion_r873418883)

List of affected functions (last updated on 2022-06-15):
* https://github.com/mlcommons/mobile_app_open/blob/193b423222ad6def7dabb2adc

[2022-05-17 02:58] anhappdev commented on #291
Where should the var `single_stream_expected_latency_ns` be set?
Since this var will be different for each backend (and maybe benchmark) I am thinking of letting the vendor set it in
the `benchmark_setting`

https://github.com/mlcommons/mobile_app_open/blob/75e319ee19ca742bce866bd99c7c79bdad0aa480/flutter/cpp/proto/backend_setting.proto#L36-L50

https://github.com/mlcommons/mobile_app_open/blob/51

[2022-05-17 03:13] freedomtan commented on #291
Yes, as far as I can tell, this looks right. @Mostelk or @fatihcakirs could you confirm it?

[2022-05-17 05:47] freedomtan commented on #304
@anhappdev will try to outline a document on how to add offline scenario of a benchmark

[2022-05-18 02:31] #295 closed

[2022-05-18 04:58] anhappdev commented on #304
To add a new (offline) benchmark, please follow those steps:
* Add new benchmark_setting in backend setting file (e.g `mobile_back_tflite/cpp/backend_tflite/tflite_settings_android.h`)
* Make a copy of `https://raw.githubusercontent.com/mlcommons/mobile_models/main/v2_0/assets/tasks_flutterapp.pbtxt` then add a new task to it
* Update `_defaultConfigUrl` in `flutter/lib/resources/config_manager.da

[2022-05-19 07:06] d-uzlov opened #313 "Update flutter and flutter dependencies"
We are using pretty old flutter version. It doesn't work with new compilers (visual studio 2022).
When I tried to simply update flutter building for Android started producing errors.
We can also update versions on CI.
It would also be helpful to update all library dependencies.

[2022-05-19 14:34] anhappdev commented on #313
Flutter `3.0` is the latest release but it has many changes. I think the stable release `2.10.5` would be more safe for now.

[2022-05-24 05:27] #306 closed

[2022-05-24 05:36] freedomtan commented on #302
@TheKanter and @jwookiehong please check the update text

[2022-05-24 07:11] jwookiehong commented on #302
@TheKanter

Here is weijun’s writeup. Please have a gander.

*Image Segmentation (MOSAIC)*

Semantic image segmentation partitions an input image into labeled regions
at pixel granularity, and is used for complex image scene parsing to power
downstream image analysis and processing. The reference model is the MOSAIC
network, which was designed with current mobile processors and accelerators
in min

[2022-05-25 09:46] d-uzlov opened #319 "Save benchmark result history"
Parent issue: https://github.com/mlcommons/mobile_app_open/issues/253

Currently the app only keeps the last result.
When you rerun benchmarks then all previous results are erased. Also, if you cancel the benchmark in the middle of the run results are also erased.

We want to modify the UI to show previous results in the future so we should change this behavior.
We can show only the last result un

[2022-05-25 09:46] d-uzlov opened #320 "Add UI pages for result history"
Parent issue:
* https://github.com/mlcommons/mobile_app_open/issues/253

Depends on:
* https://github.com/mlcommons/mobile_app_open/issues/319

We should add UI pages to show result history.

[2022-05-25 09:47] d-uzlov commented on #253
I have created 2 separate issues for backend changes and for UI changes.

[2022-05-25 09:47] #253 closed

[2022-05-25 09:56] d-uzlov opened #321 "Remove unused options from backend settings"
Currently we have a lot of unused options in `common_setting` section of backend settings.

For example, there is a bunch of options for [`num_threads`](https://github.com/mlcommons/mobile_app_open/blob/af9103845dcbbed8e2e969e746f2a8cb558b32bc/mobile_back_tflite/cpp/backend_tflite/tflite_settings_apple.h#L22) defined in each backend but the frontend never changes the default value. If we remove no

[2022-05-25 11:32] d-uzlov opened #322 "Change task config structure"
<details>
<summary>initial proposal</summary>

Link to current tasks file for reference: https://github.com/mlcommons/mobile_models/blob/34613bb03c02e98b9b72e6cb6ac63d1da2d62bba/v2_0/assets/tasks_flutterapp.pbtxt

## Issues with current tasks config
* Some values from [`ModelConfig`](https://github.com/mlcommons/mobile_app_open/blob/af9103845dcbbed8e2e969e746f2a8cb558b32bc/flutter/cpp/proto/mlperf

[2022-05-25 13:39] anhappdev commented on #322
Here is my thought:

Some information like `image_width`, `image_height`, `num_classes` is quite crucial for the ML model. Normally, the images will be resized to match the model input. Maybe because it can be obtained directly from the ML model, we do not get it from the task file.
Some other information like `description`, `tags`, `accuracy_max`, ... are nice to have but like a DB, not every dat

[2022-05-25 14:24] d-uzlov commented on #322
It seems like image size is hardcoded into the native code:
https://github.com/mlcommons/mobile_app_open/blob/af9103845dcbbed8e2e969e746f2a8cb558b32bc/flutter/cpp/flutter/main.cc#L102

Then it should be defined in the backend settings.

I think the major issue with `ModelConfig` is that it is _not_ a model configuration. Each backend uses its own model, so we can't really define any model-specific

[2022-05-26 02:59] anhappdev commented on #322
I think we should refactor the code to remove hard-coded values like those (and also `max_throughput` mentioned in other comment).

It depends on which parameter the backend can change (policy relevant I assume). `offset` is similar to `image_height`, `image_width` in that they are all model related, but if the backend is not allowed to change it, it makes sense to define it in `ModelConfig`

I am

[2022-05-26 04:50] d-uzlov commented on #322
The enum is here:
https://github.com/mlcommons/mobile_app_open/blob/af9103845dcbbed8e2e969e746f2a8cb558b32bc/flutter/cpp/proto/mlperf_task.proto#L59-L65

Look at the `flutter/cpp/datasets` folder, there are several classes for different types of datasets.

In the app frontend doesn't do anything with dataset type except it passes it to native code:
https://github.com/mlcommons/mobile_app_open/blob

[2022-05-26 05:54] anhappdev commented on #322
In this case, the dataset type means actually the dataset, IMO. The type enum is just for convenience coding purpose I guest.

[2022-05-26 09:22] jisunnie opened #324 "Missing input file error with backend_tflite"
- Problem
 Missing file error continues when I build apk with '_with_mediatek=1_' option.

- Log says in terminal
...(Skip)...
INFO: Found 1 target...
ERROR: /home/mlperf/mobile_app_open/mobile_back_tflite/cpp/backend_tflite/BUILD:62:11: //mobile_back_tflite/cpp/backend_tflite:neuron_delegate: missing input file '//mobile_back_tflite/cpp/backend_tflite:neuron/libs/arm64-v8a/libtensorflowlite_neuro

[2022-05-26 09:56] anhappdev commented on #324
`*.so` files are excluded from Git.
https://github.com/mlcommons/mobile_app_open/blob/af9103845dcbbed8e2e969e746f2a8cb558b32bc/.gitignore#L11

App should be built `WITH_TFLITE=1` (default backend) without any issue. To build the app with other backends you need to contact the vendor to get the required files.

For MediaTek backend in this case, please contact @freedomtan.

[2022-05-26 09:58] #302 closed

[2022-05-27 11:13] anhappdev opened #326 "Clean up Makefile from unused variables"
Many variables are defined in the Makefile which was used for building the native Android app and Flutter app, but now obsolete in the Flutter only `master` branch and the Android only `android-v2` branch.

[2022-05-27 17:44] d-uzlov opened #329 "The app is impossible to build on macOS Monterey"
Bazel 4.2.2 requires python2 in system folder on macos, particularly `/usr/bin/python`.
macOS 12 Monterey removed it, so bazel is no longer able to work.
It seems like the only viable solution here is to use newer bazel version (the fix is available starting from 5.0.0). Theoretically we could also build our custom modified bazel-4.2.2 with a patch from newer bazel version but I would prefer to us

[2022-05-27 18:17] d-uzlov opened #330 "Update bundle ID of iOS app"

[2022-05-30 12:23] anhappdev opened #331 "Remove binary file `tensorflow-lite-neuron.aar`"
The binary file `mobile_back_tflite/cpp/backend_tflite/neuron/tensorflow-lite-neuron.aar` should be downloaded from internet or removed from Git.
See https://github.com/mlcommons/mobile_app_open/pull/292#issuecomment-1140893469

[2022-05-30 12:23] #326 closed

[2022-05-31 04:54] freedomtan commented on #331
@freedomtan to get MediaTek's Neuron Delegate repo updated to replace this binary `.aar`.

[2022-05-31 04:56] freedomtan commented on #329
bazel 5.x looks to be a reasonable one since we are moving to TensorFlow 2.8 or later.

[2022-05-31 05:14] freedomtan commented on #231
it seems to close this for now.

[2022-05-31 05:14] #231 closed

[2022-05-31 05:23] freedomtan commented on #322
@d-uzlov to provide revised proposal based on discussions above.

We need opinions from backends. @freedomtan @mohitmundhragithub @fatihcakirs @karimnosseir @ptt2panda

[2022-05-31 05:33] freedomtan opened #332 "possible memory leak in iOS app"
it seems there is a memory leak issue in current Tensorflow 2.6 or 2.8?

[2022-05-31 05:37] d-uzlov commented on #332
I didn't have any issues when I was building the app using XCode 12.x but the app crashes with out of memory error if I build it with XCode 13.x.
There is a related issue in the old repo: https://github.com/mlcommons/mobile_app_flutter/issues/303

[2022-05-31 06:02] anhappdev commented on #332
The [PR from @freedomtan](https://github.com/tensorflow/tensorflow/commit/d8c813bbceb8a45b07495bc05f9525a10320f20c) is merged in `master` quite early but first released in `v2.9.0`, so `v2.8` don't have the fix.
I will build the app with TF2.9 to see if it still crashes.

[2022-05-31 21:21] mkankana opened #333 "Mobile Bert workload fails to load dataset on windows with flutter"
Environment  :
Windows OS
TFLite Backend
Flutter app

Steps to reproduce :
1. git clone https://github.com/mlcommons/mobile_app_open.git
2. cd mobile_app_open
3. make flutter
4. flutter run
5. Select only Language model to run
6. Application waits and fails to load data.
7. Data file seem to be available at `loaded_resources\github.com\mlcommons\mobile_models\raw\main\v1_0\datasets\squad_eval_mini

[2022-05-31 21:56] d-uzlov commented on #332
I got build errors when I tried building with tf 2.9.x. Bazel builds the ios library without issues but when I try to build or run the actual app xcode complains about missing symbols:

<details>

[code]

</details>

But I was able to patch tf 2.6 (currently used) to include the fix for the memory leak.

[2022-05-31 22:30] freedomtan commented on #332
my guess: most likely, it's because of C++ standard (e.g., -std=c++14 vs. -std=c++17).
As far as I can remember, I have to add `--cxxopt=-std=c++17` to `bazel` compilation flag to build `benchmark_model` (`bazel build --cxxopt=-std=c++17 //tensorflow/lite/tools/benchmark:benchmark_model`) on a M1 machine.

Google's ABSL, which is supposed to be a portable library, is compilation flag dependent. So

[2022-05-31 22:44] freedomtan commented on #333
something is wrong. This `accelerator: "metal"` is for iOS/macOS. But, no, the `squad_eval_mini.tfrecord` is a mini evaluation dataset; as far as I can remember, the groundtruth file is [squad_groundtruth.tfrecord](https://github.com/mlcommons/mobile_models/blob/main/v1_0/assets/squad_groundtruth.tfrecord).

[2022-05-31 23:17] mkankana commented on #333
This issue want happening a week ago. Also my understanding is that groundtruth file is not required for running inference.

[2022-06-01 13:20] freedomtan commented on #333
[code]
This should be fixed. This should be a warning or not shown at all. However, it didn't really stop this from continuing running. Thanks or spotting this.

[2022-06-02 01:47] Mostelk commented on #291
@anhappdev @freedomtan per our discussion today's meeting, Please @anhappdev make similar changes for Android app, so we can prepare unified apk.

[2022-06-02 06:21] freedomtan commented on #291
Let's check status here

flutter:
backend | latency checked | notes | reported by|
--------------|-----:|:-----:| ----
Google  |  |  |
MediaTek  |  |  |
Qualcomm |  |  |
Samsung |  |  |

Android:
backend | latency checked | notes | reported by|
--------------|-----:|:-----:| ----
Samsung |  |  |
Qualcomm |  |  |
MediaTek  |  |  |
Google  |  |  |

[2022-06-02 06:25] freedomtan commented on #332
I tested both 2.8 and 2.9.1 one. No memory leak. Let's close this for now.

[2022-06-02 06:25] #332 closed

[2022-06-02 08:17] d-uzlov opened #336 "iOS build crashes in release mode"
In release and profile modes XCode optimizes the app and removes "unused" symbols from native libs.
We dynamically load symbols from a statically linked library so all of our exported functions are "unused".
We have a workaround for this but we didn't add new backend API functions there.

We didn't catch this on iOS CI because the CI uses debug mode to test the app.
We should modify the CI to use

[2022-06-02 08:34] d-uzlov opened #338 "App doesn't run on Android 12 (need to update manifest)"
When I try to launch the app on my phone I get the following error:
[code]
We need to add missing declaration into the APK manifest.

[2022-06-02 18:12] mkankana commented on #333
You are right , on my system it took a long time but finished without any issues.
However the UI does not update the progress , so this log message made me thing the workload is failing.
Would be good if the message can be removed to avoid confusion.

[2022-06-03 00:35] anhappdev commented on #278
Submission branch is merged. We have other issues for updating to TF2.8 (https://github.com/mlcommons/mobile_app_open/issues/145) and making latency configurable (https://github.com/mlcommons/mobile_app_open/issues/291).

[2022-06-03 00:35] #278 closed

[2022-06-03 03:01] #338 closed

[2022-06-03 13:58] mohitmundhragithub opened #340 "Android apk not able to load qti backend libs"
Found that android apk generated using flutter is not able to load libqtibackend.so.
On debugging, found that the issue is with the latest android version 31. So reverted the targetSDKversion to 30.
Added a few more changes for tip to work on the SDK, into the PR.

[2022-06-03 22:04] d-uzlov commented on #333
I'll revise log messages and change errors to warnings where appropriate.

But I think the main issue here is the lack of intermediate progress reports.

Also maybe we should decrease benchmark size. I may be missing something but I think that we could significantly decrease minimum query count without affecting benchmark quality too much.

[2022-06-05 21:07] d-uzlov commented on #336
I don't think we will be able to implement this on our current CI.
We test using iOS Simulator, and Flutter is only able to launch the app in debug mode in a Simulator.
After some experiments I was able to launch the app with `--profile` flag but it seems that the app was not recompiled, and it still launched in debug mode.
Launching the app in profile or release mode directly from XCode also does

[2022-06-06 04:53] #336 closed

[2022-06-06 05:04] d-uzlov commented on #333
Reopening it to discuss on a weekly meeting.

[2022-06-06 07:10] #329 closed

[2022-06-06 08:04] #319 closed

[2022-06-06 08:45] anhappdev opened #344 "Use max throughput from task file"
The values for max throughput are hard-coded in the app:
https://github.com/mlcommons/mobile_app_open/blob/a6a9ce78ba6f61157bc2f19639d6ce0f3b259d65/flutter/lib/benchmark/info.dart#L116-L133

We should get this value from the task file, it makes adding new task easier without code change.
https://github.com/mlcommons/mobile_app_open/blob/75e319ee19ca742bce866bd99c7c79bdad0aa480/flutter/cpp/proto/ml

[2022-06-06 20:44] mkankana opened #346 "md5 check requires the model to be a single file [Flutter]"
1. Intel models representation consists of 2 files, however the md5 check only lets me add 1 file
2. If I set this to the MD5 of the zip file then the unziped model files can be replaced easily .
3. Please suggest a way to handle multiple model files

[2022-06-06 23:25] d-uzlov commented on #322
## Short summary

<details>
<summary>Current structure example</summary>

Tasks file:

[code]

Backend config:

[code]
</details>

<details>
<summary>Proposed structure example</summary>

Tasks file:

[code]

Backend config:

[code]
</details>

## Open questions

* What is the purpose of `image_width`, `image_height`, `num_classes`, `offset` fields?
  * Currently they are hardcoded in the sources.

[2022-06-07 00:02] d-uzlov commented on #346
I believe that our md5 checksum validation is intended to catch internet issues. Particularly it's possible to download a stub file from Git LFS instead of the original file if we reach download limit.

Checksum validation was not meant to prevent users from messing with application files.
Even though currently the app validates checksums for single-file models, it only does this on startup, and t

[2022-06-07 00:56] anhappdev commented on #121
XCode Cloud is now available.

[2022-06-07 01:05] anhappdev commented on #346
MD5 check was intended to check for file corruption when they are first downloaded from the internet.
@mkankana If you need checksum validation against file manipulation, please request it in the mobile engineering meeting.

[2022-06-07 01:26] mkankana commented on #346
Makes sense. So this is only checked once in the beginning or if user clears the cached files. Is my understanding correct ?

[2022-06-07 01:29] anhappdev commented on #346
The app runs the check every time the files are downloaded, at the beginning and also when the cache is cleared because it will re-download the files again.

[2022-06-07 03:16] mkankana commented on #304
This works . Thanks for a very detailed instructions @anhappdev

[2022-06-07 03:18] mkankana commented on #346
I'll make this the MD5 for zip file in that case.
This issue can be closed

[2022-06-07 03:26] freedomtan commented on #344
why do we need these values? Just for the speed dial?

[2022-06-07 03:50] anhappdev commented on #344
Yes, it's used currently only for the UI.

[2022-06-07 03:52] #346 closed

[2022-06-07 04:59] #304 closed

[2022-06-07 05:26] anhappdev opened #347 "Setup CI test for vendor-specific devices"
We should set up our CI to run tests on vendor-specific devices

[2022-06-07 05:28] freedomtan commented on #121
let's check if we make xcode cloud work for our app.

[2022-06-07 05:29] freedomtan commented on #145
#278 is merged

[2022-06-07 05:29] #145 closed

[2022-06-07 05:33] freedomtan commented on #333
close it for now. maybe create another issue to check if we can show intermediate progress, so that users know it's still running.

[2022-06-07 05:33] #333 closed

[2022-06-07 05:57] freedomtan commented on #322
@freedomtan to find docs contain submission rules for reference use

[2022-06-07 06:03] anhappdev commented on #347
@freedomtan Do you have a list of the devices each vendor use, so I or @d-uzlov can check if Firebase has it.

[2022-06-07 06:08] freedomtan commented on #347
For 2.0 submission:

- Qualcomm: Xiaomi Mi 12,
- Samsung S22,
- Google: Pixel 6 Pro,
- MediaTek: Xiaomi Redmi K50 Pro

[2022-06-07 07:28] d-uzlov commented on #322
If the model is supposed to be the same in all backends then I think we need much less changes.
I've updated proposed structure example in my previous post, reverting some of the proposed changes because they are irrelevant in this case.

[2022-06-07 22:22] d-uzlov opened #348 "Show intermediate progress when running benchmarks"
Originally proposed in https://github.com/mlcommons/mobile_app_open/issues/333

Currently the app only shows which benchmark is currently running.
If a benchmark takes a long time it looks as if the app is stuck and nothing is happening.

We need to show intermediate progress to make it clear that there is some incremental progress.

Currently we have a progress screen with benchmark name and nume

[2022-06-08 02:23] d-uzlov commented on #347
I see the following potentially relevant devices available in Firebase:
Google:
* Pixel 6 (Google Tensor chipset, same as Pixel 6 Pro)

Qualcomm:
* SM-F926U1 (Samsung Galaxy Fold3 w/ SD888)
* SM-G981U1 (Samsung S20 w/ SD865)
* SM-F916U1 (Samsung Galaxy Z Fold2 w/ SD865)

Samsung: none
MediaTek: none

[2022-06-08 05:09] #344 closed

[2022-06-08 11:34] mohitmundhragithub commented on #291
we tested this parameter. Needed to change the settings in mobile_back_qti, which has been pushed to the PR by @AasheeshT .
The new settings seems to be working fine for us.

[2022-06-08 17:57] mkankana opened #352 "Flutter TFlite backend fails to run on Windows"
STEPS TO REPRODUCE:
1. git clone https://github.com/mlcommons/mobile_app_open.git ( last commit ID 2af39db4275fdcf40a9a96a3dca2f7e7bdf08c46)
2. make flutter ( No compilation error observed)
3. cd  flutter
4. flutter run

ERROR MESSAGE :

[2022-06-08 19:46] mkankana opened #353 "Please share some instructions to create a release build on windows (Flutter)"
Since our source code is internal and not published on this repo , could someone share instructions of how to generate a release build on windows (flutter). So that we can test for performance.

[2022-06-08 20:04] d-uzlov opened #354 "App crashes when there are breaking changes in tasks file"
After a recent commit that changed tasks file structure I got an error on app start:
<img src="https://user-images.githubusercontent.com/36223296/172705785-85b985d1-0106-44e4-a1b4-5c9d7d9cd474.PNG" width=300>

This happened because tasks file was already cached, and it didn't match the new structure.

We should avoid such tasks file updates in the future, we should change file name when there are

[2022-06-08 20:47] d-uzlov commented on #352
We incorrectly updated structure of the app config in one of the latest commits.
For now you can manually clear app cache (on Windows it's currently located in the `<user>/Downloads/loaded_resources`) until we get this properly fixed.

[2022-06-08 20:59] d-uzlov commented on #353
Benchmarks are run by the native code which is built in release mode by default. Even if you see "Debug" label in UI this shouldn't affect performance because only UI is built in debug mode.

You can get rid of "Debug" label by running `flutter build windows` in the `flutter` directory of the repo, and then running the app from `flutter/build/windows/runner/Release/mobile_app_flutter2.exe`.
For a

[2022-06-08 23:58] anhappdev commented on #354
The easiest solution might be always remembering to update the task name but it's difficult to enforce.
I prefer to just be able to update the content of the file so we can easily use Git to see what changed.

We can add a checksum validation, the app validates the checksum every time it reads the file and redownloads if the checksum doesn't match.

[2022-06-09 00:09] d-uzlov commented on #354
I also thought about checksum validation.
The issues is that we don't want to pin the exact tasks file content.
I remember we discussed this at the end of last year. I suggested to point the default tasks file to the exact commit instead of a branch where it can be updated. But we decided that we want to keep the ability to change file contents dynamically without releasing a new version of the ap

[2022-06-09 00:17] d-uzlov commented on #354
By the way, this also broke all of the old builds.
I guess we don't really care about automatic CI builds I think we do care about TestFlight builds.
The last build in testflight is broken on fresh install because the structure has changed.
But if I release a new build it will be broken on non-fresh installs because there is the old tasks file in the cache.

@anhappdev, I suggest to create a new P

[2022-06-09 00:31] d-uzlov commented on #354
I think we should be able to set up CI to check this.
We can name tasks files `flutterapp_<commit>.pbtxt`, where `<commit>` is the corresponding commit of the `/flutter/cpp/proto/mlperf_task.proto` file.
In the `mobile_models` repo we can checkout `mobile_open` repo at corresponding commit and check that we are able to parse corresponding tasks file.

If someone changes structure of the tasks file

[2022-06-09 00:49] anhappdev commented on #354
It cannot catch the case when the structure does not change but the value changes.

Another suggestion is that the app can redownload the task file every time it starts but needs internet connection for that.

We should think more about this and discuss it in the next meeting.

[2022-06-09 00:58] d-uzlov commented on #354
Isn't this what we want?
We want the ability to update values. If there are any issues we update the file and ask users to clear cache. It's fine as long as there are no issues parsing the file.

Redownloading file each time would kinda help to ensure that we have the latest version of the file but it would do absolutely nothing if the structure of the file has changed. If anything, it would make

[2022-06-09 01:03] anhappdev commented on #354
We update the values, but the app will still use the cached version. Asking the users to clear cache is not ideal, especially if the app is published to app stores.

[2022-06-09 01:06] d-uzlov commented on #354
There are 2 separate issues:
1. Structure of the tasks file has changed, and the app crashes because it can't read it
2. Values in tasks file changed but user still has the old version cached

First issue is purely technical one, second issue is a policy issue in my opinion.

We may want to do something about second issue but they are not related, and they must be solved separately.

[2022-06-09 01:18] anhappdev commented on #354
Changing the structure is just one source of app crash. Changing the value can also crash the app.
So the main question remains how we should handle an updated task file.

[2022-06-09 01:19] #352 closed

[2022-06-09 01:42] d-uzlov commented on #354
Now this seems like yet another separate issue to me:
1. App crashes when tasks file structure changed
2. App could crash when some values in tasks file changed
3. App doesn't use updated tasks file

I don't see how it's the **_main_** question **_here_**. I don't even see how it's related to this Github issue page.

1. If the structure has changed, the app will crash. Certainly. Absolutely. Alway

[2022-06-09 01:54] anhappdev commented on #354
For me, it looks like a solution to catch some specific cases vs. a solution to catch many cases (also unknown ones) as possible.

[2022-06-09 01:59] anhappdev commented on #354
Another solution is to commit the task file in this `mobile_app_open` repo and include it as an asset in the app.
So we cannot remotely update the task file without updating the app. But it solves many issues with incompatibility between app and task file.

[2022-06-09 02:10] d-uzlov commented on #354
For me it looks as "fix one known critical issue now, think about fixing other potential unknown issues in the future" vs "postpone fixing critical issue until unknown number of unknown non-critical issues are fixed".

Well, it's not too much different from pinning certain tasks file commit. Technically a bit different from pinning commits, but has mostly the same advantages and disadvantages.
I l

[2022-06-10 09:48] freedomtan opened #360 "Using Core ML directly on iOS 16 and macOS 13"
- Apple introduced Core ML profiling mechanisms in iOS 16 and macOS 13, https://developer.apple.com/videos/play/wwdc2022/10027/
- TFLite CoreML delegate uses older version of coremltools and supports only few ops

No, not for 2.1, iOS 16 is supposed to be publicly available in Sep.

I could run [MobileDet mlmodel I shared before](https://drive.google.com/file/d/1BXcyA0Z4zHo2mhw1zVBPNMyhHFr3GHv5/vi

[2022-06-10 12:58] freedomtan commented on #360
|model|latency (ms)|notes| screenshot|
|-|-:|-|-|
|Mobilenet EdgeTPU| 0.93| 80/80 Neural Engine |<img width="1020" alt="Screen Shot 2022-06-10 at 8 47 27 PM" src="https://user-images.githubusercontent.com/3395998/173067729-3e9c5737-239f-4d9e-997c-2c2bca84888a.png"> |
|MobileDet|3.64|213/213 Neural Engine|![](https://user-images.githubusercontent.com/3395998/173038610-dbd31790-1e8f-4a5c-873b-85d1a2

[2022-06-13 09:43] #340 closed

[2022-06-14 00:31] d-uzlov opened #362 "Move tasks config to this repo"
The application doesn't have a fixed config. It specifies config URL but the config itself may be updated without changing the app.

~~There are no checks when we update the config file. We manage config versions manually, and it's possible that we miss something when updating the config and break application.~~

We need to check that a certain application config works with a corresponding applica

[2022-06-14 00:33] d-uzlov commented on #354
I think that checking things on CI is not actually related to this issue.
User can set a custom tasks file, and the app will crash if it can't read it.
So we need to fix the crash regardless of how we treat default config.

I have created a separate issue to discuss how to check the default config: https://github.com/mlcommons/mobile_app_open/issues/362

[2022-06-14 03:06] freedomtan commented on #322
Submission rules

- https://github.com/mlcommons/mobile_open/blob/main/rules/mobile_inference_rules.adoc
- https://github.com/mlcommons/mobile_open/blob/main/rules/submissionRuleV2_0.adoc

[2022-06-14 04:57] kcwu commented on #291
The android one works on Google devices. Currently I encountered issues to build flutter version and thus cannot check its status.